[2021-10-29 23:01] mhutchie commented on #584
Hi @GKoukounis,

The use case you described is very common, and it definitely works. For something so common, if there was a bug in Git Graph it would have been raised countless times by the ~1.8 million users.

If you want to check out a branch, make sure you right click on the branch's label and select "Checkout Branch". This is different from right clicking on a commit and selecting "Checkout"

[2021-10-29 23:01] #584 closed, assigned to mhutchie

[2021-10-29 23:12] mhutchie commented on #583
Hi @Baccanno,

The automatic refresh is not optional, and will occur whenever the Git Graph View is visible (if you switch to a different tab in Visual Studio Code, the background refresh won't occur). In general, the automatic refresh is what users expect to occur. I'm fairly confident that if there was the ability to disable it, any users that did try it out would switch back to enabling it afte

[2021-11-02 19:39] trusktr opened #585 "making it easier to to visually follow branch lines at intersection points."
**Describe the improvement that you'd like**

To make it easier to follow the graph visually when there are fork lines blending in with lines that simply move to the next lane over.

I'm not sure, but maybe this is an upstream issue if the extension is using some lib to draw git branches.

**Additional context (optional)**

For example, in the screenshot, it is really hard to tell what is happenin

[2021-11-12 04:48] Shadowblitz16 opened #586 "Rename and edit option for commits and branches."
**Describe the feature that you'd like**
Can we have a option to rename or edit any commit or branch in the graph editor by right clicking?
I know its possible with amend and rebase but the idea is it would just be easier to right click rename a branch or commit.

**Additional context (optional)**
ideally when rewriting remote history there would be a popup that says...
[code]

You could even have

[2021-11-14 09:22] mhutchie commented on #586
Hi @Shadowblitz16,

**Renaming Branches:**

Any local branch can be renamed by right clicking on it's label and clicking "Rename Branch..."
![image](https://user-images.githubusercontent.com/5315753/141674236-bda55499-cf93-4680-b7f2-35e6f1c85ac2.png)

**Editing Commit Messages:**

There are two cases where this would be used:
* Edit the last commit's message: This can be achieved through Visual St

[2021-11-14 09:22] #586 closed, assigned to mhutchie

[2021-11-14 17:12] baxyz opened #587 "Add autosquash option in rebase popup"
**Describe the feature that you'd like**
Click on `Rebase current branch on this Commit...` opens a popup with optional options (including interactive mode). However, it's not possible to specify `--autosquash` option.

It will be very helpfull to provide the auto-squash option in the rebase popup option.

**Additional context (optional)**
If I do understand well, the auto-squash option is only av

[2021-11-16 07:17] heartacker opened #588 "how can we add some feature base on Git graph?"
**Describe the feature that you'd like**

Git graph is extreme  useful,helpful,beautiful. and how can we (extension developer) contribute to add some feature base on GitGraph?

**Additional context (optional)**

or could you please make it extendable so that we can add some customized UI, short cut, icons  for Clear purpose
🙏

[2021-11-16 11:28] jasonwilliams commented on #377
@mhutchie  Gentle reminder about this issue.

Is this still the case today?
As version 1.46 is now a year & half old I think it would be safe to do this now, I can't imagine many users are left on a version below this.

[2021-11-19 22:23] danstreeter commented on #218
Hey, Was looking for exactly this whilst working on a rather large active repo however it doesnt seem to work.
I'm running `1.30.0` on OSX.

Wondering if there are any settings anywhere I need to be checking to make this work?

[2021-11-23 12:12] krotovic opened #589 "Keep the Git Graph opened on workspace reload"
**Describe the improvement that you'd like**
It would be nice to have the Git Graph view opened when I reload the workspace.

**Additional context (optional)**
It seams to be possible by the VSCode API
https://code.visualstudio.com/api/references/activation-events#onStartupFinished

[2021-11-24 10:27] rafaeldolfe opened #590 "Automatically open git graph window on Mac Monterey 12.0.1"
**Describe the improvement that you'd like**
Open the git graph window upon installation.

**Additional context (optional)**
Cannot find an easy way to open the git graph window, so it would be helpful if there was some pointing in the right direction. It just doesn't show up anywhere on Mac.

[2021-11-24 12:25] eltoroit commented on #246
I am using Git Graph on Windows with a remote repository (Raspberry PI) and it does ask for Github username/password. My issue is that it doesn't remember them and I have to keep typing the same credentials over and over again.

I have decided to push a commit, I am just using VS Code default push which does not ask for the password every time. It does remember the credentials.

My question... is

[2021-11-24 22:03] VickyKoblinski commented on #70
Hey, we work in a monorepo and it'd be so helpful to be able to filter the graph by directory. GitLens (or is it just built in to VSCode?) has this feature and it's been incredibly useful, but it only shows a list of commits without a graph. A graph from the perspective of commits that only touch a subset of the project would be amazing.

![image](https://user-images.githubusercontent.com/2954384/

[2021-11-25 14:51] t-gehring commented on #387
If it were possible to specify additional arguments to the `git log` process, then you would be able to achieve something like this by adding `--simplify-by-decoration`. It's not quite this feature, as by default it wouldn't tell you the number of collapsed commits, but it would get you a quick overview of your branch (and tag) structure.

[2021-11-25 15:38] t-gehring opened #591 "Add ability to pass arbitrary extra arguments to git log"
**Describe the feature that you'd like**
A number of current feature requests essentially boil down to "expose this existing git log argument". While having nice UI tools for these various features is wonderful, being able to just add the commandline arguments would be a great stop-gap for some of the features which require a lot more development work.

**Additional context**
Some existing issues

[2021-11-25 22:53] mozhuanzuojing opened #592 "improvement file encoding"
**Describe the improvement that you'd like**
Hope to support the phenomenon that different types of files in vscode define different encodings, for example

[code]

**Additional context (optional)**
In the project, the encoding of the `.java` file is `gb18030`, and the encoding of the `.properties` file is `utf8`

[2021-11-26 03:42] spider-eu opened #593 "why is the git-graph icon not showing on status bar in VS Code"
![Screenshot from 2021-11-26 08-58-53](https://user-images.githubusercontent.com/93572913/143523409-a4574d88-79a3-4769-a6ef-04d27f68141b.png)

[2021-11-26 07:09] spider-eu commented on #593
solved

[2021-11-26 07:09] #593 closed, assigned to mhutchie

[2021-11-26 07:17] JohanNicander opened #594 "Open multiple files from a commit"
**Describe the feature that you'd like**
From the Git Graph graph, it is very easy to find a commit, open it and find the files that were worked on. But to open multiple of them (for editing or diff-view) takes several clicks back and forth from the Git Graph graph since the files always open on top. It would be nice to be able to mark several files from a commit to then open them all at once. Alt

[2021-11-30 09:42] gotjoshua commented on #217
i would love if git graph view could auto-open and be pinned as the far left tab.

if there is no possibility yet for you to include that (due to missing features in vs code) does anyone know of a way to use a task or some other automation means?

[2021-12-01 19:02] Awbmilne opened #595 "Regex branch filtering"
**Describe the feature that you'd like**
Regex based branch filtering, and maintain branch selection between Git Graph closes

**Additional context (optional)**
For corporate repositories with hundreds of branches based features/buxfixes, it is difficult to select a list of branches to view. One nice solution could be to allow regex based branch filtering (in branch search or another field). This

[2021-12-01 19:13] Awbmilne commented on #595
WOW!
This already sorta exists! Using glob!

**For those hunting**
---
Use the `git-graph.customBranchGlobPatterns` setting, like so:
[code]
While its not as good as full Regex, and not GUI accessible, it is extremely useful!

I feel like a Regex version/expansion could useful, and an easier way to use it from the GUI, so that this functionality can be used on a daily bases without needed to play

[2021-12-02 15:35] dlazenby commented on #352
First, let me say thanks for making this tool, it is really quite good overall.  But I am frustrated by the responses above for submodule management.

I don't think this is a valid argument.  Having used many tools, I would argue that **most** users probably fall into the camp of "the tool either does what I need it to do or I will find a tool that will" and most probably don't or won't take time

[2021-12-06 11:47] aussig opened #596 "Exclude from Create Archive"
**Describe the feature that you'd like**
Would it be possible to provide a configuration option to exclude certain filename or filename patterns from the 'Create Archive' function?

**Additional context (optional)**
I use this to quickly create release archives from a tag for projects that have a zip file as the release binary. Excluding files and folders such as `.gitignore`, `.github/` etc. woul

[2021-12-06 13:23] sajibAdhi opened #597 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ADOVAS~1\AppData\Local\Temp\mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-

[2021-12-08 15:09] RyanCantab opened #598 ""View Diff" should open VS Code's rich diff viewer for Jupyter Notebooks"
**Describe the improvement that you'd like**
VS Code has a native diff viewer for Jupyter notebook files. This is the default diff view when you select "Show Changes" on a notebook file in the Source Control sidebar. However, Git Graph's "View Diff" feature opens the diff of the raw text file, which is generally not useful. Git Graph should use the same diff view that VS Code uses.

**Additional c

[2021-12-09 07:51] mhutchie commented on #597
Hi @sajibAdhi,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I only get occasional reports of Git Gra

[2021-12-09 07:51] #597 closed, assigned to nobody

[2021-12-09 09:48] amirgon commented on #182
Still waiting for this feature!

[2021-12-11 19:48] markm77 opened #599 "How to Reset Repo Settings?"
I have a large number of repos (projects) in a workspace and I noticed e.g. some are not responding to `git-graph.defaultColumnVisibility` as I believe repo-level settings were applied at some point? How do I clear such settings - either repo by repo or for all repos? I couldn't find a way....

[2021-12-12 10:15] mhutchie commented on #599
Hi @markm77,

Background: For the vast majority of the repository settings, there is a Git Graph extension setting that can be used to specify the preferred behaviour at a user or workspace level (via the Visual Studio Code Settings interface). The setting can then be overridden per repository via the Git Graph View interface.

Once a setting has been overridden at a repository level, there curren

[2021-12-12 10:15] #599 closed, assigned to mhutchie

[2021-12-13 13:43] markm77 commented on #599
Hi @mhutchie , thanks for the quick and helpful response. Actually seems all I need to do is your step (2) and then click the repo's Git Graph icon under Source Control / Source Control Repositories to view the repo's log with reset settings. A shame this has to be done repo by repo though. I did try uninstalling/reinstalling Git Graph but it doesn't clear repo settings.

I understand but please b

[2021-12-13 14:24] lprc opened #600 "Re-attach HEAD when checking out latest commit again"
**Describe the improvement that you'd like**
It would be great if HEAD was no longer detached when re-checking out master while being in detached head mode.

**Additional context (optional)**
Consider the following steps to reproduce (see image also):
1. Be on latest commit on master
2. checkout older commit on master -> detached head
3. checkout latest commit on master again via context menu -> s

[2021-12-13 22:37] absolutelysimon commented on #431
Seconding ankostis' use case. We're having a problem with merging a rebased branch and it would be great to pull up multiple graphs at the same time!

[2021-12-14 09:16] mhutchie commented on #600
Hi @lprc,

Please be aware that there is a distinction between checking out a branch and checking out a commit:
* **Checking out a Branch**: When you right click on a branch label (e.g. "master") and select "Checkout Branch", it will checkout the branch. This is the equivalent of `git checkout master`, and your repo will no longer be in a detached head state. (you can also double click on the bran

[2021-12-14 09:16] #600 closed, assigned to mhutchie

[2021-12-15 18:07] dzid26 commented on #113
Can GitGraph use GitLens rebase interactive GUI?
https://github.com/gitkraken/vscode-gitlens#interactive-rebase-editor-

I think it can be called via:
`git -c sequence.editor="code --wait --reuse-window" rebase --interactive comit_xxxxxxxx`

[2021-12-16 18:46] lmcarreiro commented on #139
This helps a lot, thank you for implementing it.

But currently, the muted commits shows the grey color on the font/text color only. Is there any chance to change the lines and circles colors on the graph to grey too?

[2021-12-16 20:47] Mr-Crabman opened #603 "Allow tag messages to be spread across multiple lines"
**Describe the improvement that you'd like**
When adding an annotated tag, the optional "message" box should be able to expand (much like the commit message box) and have its message include newlines.

**Additional context (optional)**
Right now, the box doesn't seem to be able to accept multiple lines; pressing enter, even while shifting, just does nothing, and pasting in text that already has ne

[2021-12-20 15:44] heartacker opened #604 "git graph often crash in vscodeinsider"
**Describe the Bug**
A clear and concise description of what the bug is.

**Steps to Reproduce**
Steps to reproduce the behaviour:
i don‘t konw， but it will crash when i upgrate vscode to insider

**Expected Behaviour**
A clear and concise description of what you expected to happen.

**Environment**
版本: 1.64.0-insider (system setup)
提交: 807bf598bea406dcb272a9fced54697986e87768
日期: 2021-12-20T07:18

[2021-12-20 16:51] heartacker commented on #604
https://github.com/microsoft/vscode/issues/139526

[2021-12-20 22:14] mhutchie commented on #604
Hi @heartacker,

The behaviour you're observing occurs when Visual Studio Code (or Insiders) doesn't provided the necessary JavaScript & CSS resources that the extension requests when the [Visual Studio Code Webview](https://code.visualstudio.com/api/extension-guides/webview) is loading. What you see in your screenshot is the base HTML of the Webview - as soon as the required Javascript and/or CSS

[2021-12-20 23:53] heartacker commented on #604
thanks for your respond,
and I believe  there is something related to vscode-insiders.

I have two PC, and both of them have same problem within vscode-insider and both of them work well within vscode-stable

BTW, we could see the full view of git-graph and after some view-switching, git-graph crash randomly.
there is a screen-record gif:
![git-graph](https://user-images.githubusercontent.com/1876

[2021-12-21 01:16] mhutchie commented on #604
Thanks for the additional information.

When the user first opens the Git Graph View (Webview), or it becomes visible again, the HTML for the Webview is set. Based on the screen recording, it clearly indicates that the JavaScript & CSS resources that are requested by Git Graph do exist on the file system. There must be an issue introduced into Visual Studio Code Insiders 1.46 when Webviews are res

[2021-12-24 11:13] cvphat4796 opened #605 "Autocomplete tag name"
**Describe the feature that you'd like**
I would like to have autocomplete feature for tag name when we add a tag

[2021-12-27 10:42] donotlb commented on #604
maybe you could replicate the same behaviour by opening a folder containing multiple git repo

[2021-12-29 20:51] bgoonz opened #606 "Export to html"
An export to html for the git graph view

[2021-12-31 10:30] Chrismettal opened #607 ""Find" string in unloaded commits"
The "Find" feature is awesome to either find commits mentioning a specific issue number or looking for a specific commit hash.

In very large repositories with thousands of commits, where it is impractical to set the "Initial Load" number to the size of the repo, the find feature will only look in the loaded subset of all commits, possibly making it look like the issue number you were searching fo

[2021-12-31 10:43] Chrismettal opened #608 "Jump to commit when selecting tag/branch in "Source Control" tab"
When selecting either a tag or a branch in the source control tab, most of the time you want to see what the graph looks like around that tag without checking that commit out and reloading graph view. Maybe I am actively working on a commit and want to know what line exactly was changed with tag X.Y.Z, without stopping my work.

Currently I need to search for the tag with the "find" feature ([wher

[2022-01-04 19:48] bradlitterell commented on #604
Experiencing same - with VSCode insiders 1.64.0-insiders @ 99305570d8.  Was not reproing before I went on holiday break so definitely seems to be an issue with an insider update since Git-Graph has not been updated.  Seems to happen when the git-graph window has been open for a while and I switch back to the git-graph tab.  I have reinstalled git-graph and the behavior remains the same: git-graph

[2022-01-04 19:54] mikestopcontinues opened #609 "`Open New Tab Editor Group: Beside` should be relative to graph, not relative to active"
**Describe the improvement that you'd like**
I really like `Open New Tab Editor Group: Beside`, as it allows me to flip through different diffs by clicking through the file list. However, if I click into any of those diffs, clicking on the file list opens a third editor group (or fourth or fifth). That makes for a huge mess.

Instead of opening a diffs `beside` the active pane, it should open diff

[2022-01-05 18:38] Chrismettal opened #610 "Potentially allow multiple instances / tabs"
It is nice that git-graph allows multiple repositories, but switching between them via a dropdown feels somewhat unintuitive. Other GIT GUIs manage this via seperate tabs per repo. This would also allow split screening two repositories of a similar structure (forks maybe) to compare more easily.

More of a consideration than a request really as this is greatly dependant on personal preference.

[2022-01-07 04:00] lygstate commented on #592
We may add a option:
    "git-graph.useVscodeEncoding":  true,
then "git-graph.fileEncoding" are disabled.
when git-graph.fileEncoding is not specified, auto using files.encoding and files.autoGuessEncoding

[2022-01-07 04:11] lygstate commented on #592
By using https://github.com/microsoft/vscode/issues/824

[2022-01-07 05:49] mozhuanzuojing commented on #592
@lygstate  Thanks for your detailed explanation。

[2022-01-07 18:42] alemacedo opened #611 "error Google Drive's desktop.ini files"
**Description**
As I use Google Drive app, it keeps generating desktop.ini files in folders. It seems that it's crashing the plugin.

**Steps to Reproduce**
1. Just use Google Drive syncing in some folder where is a Git project.
2. Try to open the plugin to visualize the branches and it crashes.
3. It shows the message: "Error: Unable to load Commits. fatal: bad object desktop.ini"
4. I've done a

[2022-01-08 04:02] mhutchie commented on #611
Hi @alemacedo,

Git Graph uses the Git executable installed on your computer to run all Git commands against a repository. The error message you reference is a fatal error thrown by Git indicating that the repository (on your file system) is not in a valid state. It's unrelated to the extension - if you run the same Git command in a terminal, you'd get the same error.

When Git is unable to provid

[2022-01-08 04:02] #611 closed, assigned to mhutchie

[2022-01-08 10:48] Chrismettal opened #612 "Multiple entries for issue linking"
If a project uses more than one bug tracker for the same repo or the tracker can have different prefixes for the issues, currently you can only have git-graph detect and link to one of the bug trackers.

For example, a tracker `jira.fakecompany.com/<ticket>` could have tickets like "XYZ-12345" as well as "abcd-12345" and currently I can only have one of those be automatically detected.

With more

[2022-01-08 10:54] mhutchie commented on #612
Hi @Chrismettal,

Thanks for raising this feature request, this is definitely a capability I want to implement in Git Graph!

I’ll close this request, as it’s covered by the existing feature requests #313 & #451.

[2022-01-08 10:54] #612 closed, assigned to mhutchie

[2022-01-10 17:06] Raviolux commented on #579
+1
I wanted to make the same request.

[2022-01-12 23:44] heartacker commented on #604
least fixed

[2022-01-12 23:44] #604 closed, assigned to mhutchie

[2022-01-13 15:28] jbmatheson opened #613 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Darwin x64 21.1.0`
- VS Code version: `1.63.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/var/folders/t6/qk7w6h8s3bxg2cgy09b2_9sm0000gq/T/mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Expl

[2022-01-14 06:44] mhutchie commented on #613
Hi @jbmatheson,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I only get occasional reports of Git Gr

[2022-01-14 06:44] #613 closed, assigned to nobody

[2022-01-17 22:02] justin-pierce commented on #207
Any update on this? The graph is kinda confusing as is. Was hoping there was some setting to keep main branch static in the graph and all the other branches relative to that, but looks like I'm waiting for this feature.

Was spoiled by Plastic SCM's Branch Explorer:

![branchExplorer](https://user-images.githubusercontent.com/2170989/149839663-d2d4f6f4-8e55-4d06-b382-219ffcc9dfbe.png)

Made it rea

[2022-01-17 22:31] duckyb commented on #207
https://github.com/mhutchie/vscode-git-graph/projects/1

You can follow the progress here.

[2022-01-18 12:39] chr7 commented on #519
Any update?

[2022-01-19 11:08] devsangwoo commented on #291
If you use this command to delete it, it's fast.

[code]

[2022-01-20 08:11] matherm-aboehm commented on #583
I have the same locking problem when doing an interactive rebase from git graph, because it also opens a new terminal in VSC to actually do the rebase while git graph has focus.
Is it possible that you change the extension to not spawn a new terminal for the rebase commands? It's already doing so, when you do a non-interactive rebase from git graph.

[2022-01-20 10:40] hansu opened #614 "Filter for file in diff view"
If you diff two branches there might are changes in a lot of files and directories, but you only want to see the changes of one specific file.
Adding a field for filtering the displayed files would be very helpful i think.

[2022-01-23 02:53] aztack commented on #256
I prefer columns ordered like  `graph | commit | date | description | author`.
I think this order is more intuitive for me. The commit dot/circle in the graph column should be more associative with its commit SHA1. And most of the time I watch the graph is to reason the branching. The description next to the graph is a little bit noisy for me.

This is an example of my command line git graph:

<im

[2022-01-23 15:37] iulianraduat commented on #593
@spider-777 How did you solved it? Thanks

[2022-01-23 16:07] spider-eu commented on #593
@iulian-radu-at, I reinstalled the extension, as well as vscode. After that, it appeared in the status bar. The real reason is still a mystery to me.

[2022-01-24 10:05] gurumaxi commented on #579
Any news?

[2022-01-25 01:26] alf5 opened #615 "Failing to start with " Error: Cannot find module 'iconv-lite'""
**Describe the Bug**
the extension is failing to start.
in the "Output"  window selecting the "Log (Extension Host)" dropdown the following text appears:

[2022-01-25 08:53:06.658] [exthost] [error] Activating extension mhutchie.git-graph failed due to an error:
[2022-01-25 08:53:06.658] [exthost] [error] Error: Cannot find module 'iconv-lite'
Require stack:
- /home/alfred/.vscode-insiders/extensi

[2022-01-25 02:34] mhutchie commented on #615
Hi @alf5,

This error indicates that one of the extension's dependencies is not available on your file system. It is included within the extensions vsix package.

Very rarely during Visual Studio Code (or extension) installs & updates, Visual Studio Code can fail to correctly unpack the extensions files, causing it to have the issue you've encountered. This can be fixed by reinstalling the extensi

[2022-01-25 02:34] #615 closed, assigned to mhutchie

[2022-01-27 10:38] SailorMax opened #616 "filter commits"
Can you add filter commits, like in Git Extensions. Similar to "Search" function, but this should output only filtered commits.

Sometimes need to get list of all commits with:
- some task number in commit message
- change in some file, which can be already removed
- using some function, which can be already removed

thank you.

[2022-01-27 11:52] peterdickx opened #617 "Open to the repo of the active text editor document doesnt work"
When i set this setting to true, the git graph doesnt open to the repo of the active text editor

![gitgraphopen](https://user-images.githubusercontent.com/19954023/151353513-634ba35c-3fac-4c0f-aa3c-8d040ef9bbc2.png)

[2022-01-27 12:58] mhutchie commented on #617
Hi @peterdickx,

I've double checked this extension setting is definitely functioning as it was designed, using the latest version of Visual Studio Code & Git Graph.

The current behaviour is:
1. User requests to open the Git Graph View (either by the Status Bar Item, or the "View Git Graph" command in the Visual Studio Code Command Palette)
2. The extension gets the path of the active text editor

[2022-01-27 12:58] #617 closed, assigned to mhutchie

[2022-01-27 20:34] bergamin commented on #207
I've been using git more frequently now and maybe I understand how it works better now than before... Would this implementation even be possible? Because as I understand it, a branch is just like a label that was put on a specific commit. Essentially, branches don't really exist. We would have a commit that has a pointer to the commit prior to it. The moment you have a merge, that backwards pointi

[2022-01-28 08:19] L0PiTaL opened #618 "Select previous search text when reopening search box"
**Describe the improvement that you'd like**
When using the "normal" search box of vscode, you can do the following sequence:
[code]
The effect in [2] is that the previous text is erased (because it was selected in the previous step) and the new search text is written.

Note that the selection of the search text happens in both: when [1] is pressed inside the search box or when it is pressed from

[2022-01-30 13:21] Wosi commented on #609
In recent versions Git Graph began to opene diffs in random editors. In earlier versions it reused the same editor which made it really practical to look through commits.

I would consider the new behavior a bug as I don't think it was intentional:
![GitGraphRandomEditors](https://user-images.githubusercontent.com/3448684/151701285-a6bc1ee9-a8b1-42c1-8446-0b0426fb57d0.gif)

[2022-01-31 09:50] mhutchie commented on #609
I believe this response answers the original improvement request by @mikestopcontinues, and the new comment from @Wosi. (the screen recording made the behaviour much clearer to me)

Visual Studio Code manages every aspect of the editor lifecycle & layout. When any extension calls the Visual Studio Code API to open a diff / file editor, the extension can optionally specify a [ViewColumn](https://co

[2022-01-31 09:50] mhutchie commented on #609
I believe this response answers the original improvement request by @mikestopcontinues, and the new comment from @Wosi. (the screen recording made the behaviour much clearer to me)

Visual Studio Code manages every aspect of the editor lifecycle & layout. When any extension calls the Visual Studio Code API to open a diff / file editor, the extension can optionally specify a [ViewColumn](https://co

[2022-01-31 14:00] mikestopcontinues commented on #609
Thanks, @mhutchie. I let them know. :)

[2022-01-31 15:36] ericxyan opened #619 "Amend commit message"
**Describe the feature that you'd like**
I would like to edit a commit message when right click on a commit.
**Additional context (optional)**
 A feature like [Edit a commit message](https://www.jetbrains.com/help/idea/edit-project-history.html#reword-commit) in IntelliJ.

[2022-01-31 18:55] jamesmikesell commented on #207
What you say is correct, however something still *should* be possible,
though likely not perfect in all scenarios.

One implementation is to have the "columns" that the legs of the branches
fall into sorted left-to-right alphabetically based on the branch name
(rather than the current implementation which I believe is based
upon commit time).  Things might break down a little when multiple branche

[2022-02-01 17:18] tapr00t opened #620 "Allow user to specify git executable path"
Please add a setting to allow the user to override the git executable path, or use the path defined in the existing "git.path" setting.  I'm noticing that git graph is not using that git executable.

[2022-02-01 21:43] mhutchie commented on #619
Duplicate of #520.

I gave a more recent response with some additional information under the "Editing Commit Messages" header in my comment https://github.com/mhutchie/vscode-git-graph/issues/586#issuecomment-968254562.

[2022-02-01 21:43] #619 closed, assigned to mhutchie

[2022-02-03 08:26] zdimaz commented on #542
PLS install git bash and restart vscode

[2022-02-03 10:34] yumetodo commented on #542
@zdimaz Whether git bash is installed or not is completely not related to this issue.

[2022-02-05 20:51] YehudaKremer opened #621 "[Bug] Could not register service workers"
Hello

I getting this error when trying to open the graph:

Steps to reproduce the behavior:
1. just try to open it

**Environment**
 - Git Graph Extension Version:  v1.30.0
 - Visual Studio Code Version: v1.64.0
 - Operating System: Windows 11

![image](https://user-images.githubusercontent.com/946652/152658573-5dc4650a-2276-42c5-add0-957b5f09e880.png)

[2022-02-05 20:58] YehudaKremer commented on #621
Update: Now it does work for me, the bug is inconsistent, maybe it only happens on my machine 😵‍💫

[2022-02-05 23:37] mhutchie commented on #621
Hi @YehudaKremer,

This is a duplicate of #508, #511, #514 & #524 - a handful of users reported this when using recent versions of Visual Studio Code. It's a Visual Studio Code bug that Microsoft still hasn't been able to resolve - it affects all extensions that use Visual Studio Code Webview's (not just Git Graph).

[2022-02-05 23:37] #621 closed, assigned to mhutchie

[2022-02-05 23:45] YehudaKremer commented on #621
i see, thanks for your answer  👍

[2022-02-08 18:02] bergamin commented on #207
@jamesmikesell, maybe when merges occur, try a rule like "consider this branch column as being from the receiving side of the merge", or something in this line.

This rule wouldn't work with my depiction of a develop branch in those screenshots I sent previously, but we don't use repositories in that way anymore. We moved to another flow where the only persistent branches are master and develop. I

[2022-02-09 21:26] fmeyertoens commented on #207
It seems to me a bit of a hidden feature of Git but it is possible to know the commit on the branch before a merge happened because "_the first parent of a merge commit is from the branch you were on when you merged (frequently master), while the second parent of a merge commit is from the branch that was merged (say, topic)_" ([git-scm](https://git-scm.com/book/en/v2/Git-Tools-Revision-Selection)

[2022-02-10 11:38] bergamin commented on #207
@fmeyertoens that means, my last comment is invalid. I don't remember well what the other branches were, but now from your explanation, it seems GitGraph deviated develop in that screenshot in a way that looked like it was merged into another branch when actually it was the other branch which was merged into develop.

Which means the rule suggestion I proposed would actually work in that situation

[2022-02-10 17:32] DavidBabel opened #622 "Allows to name branch with space, and replace it with "-""
**Describe the feature that you'd like**
Allows to name branch with space, and replace it with "-"

**Additional context (optional)**
This is a common easy feature on most of visual git managers

[2022-02-13 05:44] phil294 opened #623 "Add basic title popup to graphs on hover to see branch name"
**Describe the feature that you'd like**

When you scroll down, the branch names disappear, and there is **no way** to see it, other than to scroll up to the top again and remember the color mapping. I find this annoying and would appreciate any fix to it. The most obvious one I can think of is adding a popup when you hover the branch line, showing you the name:

![demo with title popup](https://w

[2022-02-14 13:58] tjx666 opened #624 "Support ignorecase setting"
**Describe the feature that you'd like**

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/41773861/153877710-65c6559b-91c2-4bd4-9094-1fac1003e50b.png">

**Additional context (optional)**

 ref: https://stackoverflow.com/a/17688308/11027903

[2022-02-15 07:42] niciki-niciki opened #625 "Default state of the "Delete this branch on the remote""
**Describe the feature that you'd like**
It would be nice if there was the option for default state of the "Delete this branch on the remote" in Git Graph.

[2022-02-15 12:43] mexericas opened #626 "Tree export as an image?"
**Describe the feature that you'd like**
It would be nice if there was a way to export the branch graph as an image. There have been projects where the team was really proud of the result, and being able to print a commemorative poster of the commit graph would be a nice touch. I guess this would fall under the "nice to have" tag more than a requirement, since this is only an aesthetic feature.

T

[2022-02-16 02:53] PabloSzx opened #627 "Compatibility with vscode 1.64.2"
I'm currently getting this error with vscode 1.64.2 and git graph 1.30.0:

![image](https://user-images.githubusercontent.com/8672915/154187290-73f254e7-8e7c-477d-847f-5269c9e22d01.png)

[2022-02-16 02:55] PabloSzx commented on #627
Ok, I guess this is a duplicate of #524

# and fixed after restarting computer

[2022-02-16 02:55] #627 closed, assigned to mhutchie

[2022-02-22 11:12] sereyn opened #628 "Automatic refresh after terminal commands"
**Describe the feature that you'd like**
Some weeks ago, I was using the extension mostly as a graph viewer while I was typing git commands in the vscode integrated terminal. That was nice because the graph was refreshing automatically after I typed a command, but now it doesn't resfresh automatically anymore, I would like to see this feature back.

[2022-02-22 14:48] BMBurstein opened #629 "enable git-graph.useMailmap by default"
Currently the setting `git-graph.useMailmap` is disabled by default. I hadn't realized this setting even exists, and was very confused when `git log` was showing something different than git-graph. I think that since git uses `.mailmap` by default (I don't even know if there is a way to disable it), git-graph should use it, too, in order to prevent discrepancies by default between `git` and git-gr

[2022-02-22 22:16] jacobweber opened #630 "Don't scroll when clicking commit to expand/collapse"
**Describe the feature that you'd like**
Right now when you click a commit to collapse or expand it, the window almost always scrolls. I'd prefer (an option) to disable this, since it makes me lose my place.

[2022-02-26 02:12] mhutchie commented on #629
Hi @BMBurstein,

When using Git mailmap, it requires Git to do more work when retrieving every commit that's requested by Git Graph. As only a few users have ever indicated they want / use this capability, it didn't seem right to enable this setting by default for everyone, as it would somewhat degrade the performance of the extension for the 99.9% of users that get no value from mailmaps. With al

[2022-02-26 02:12] #629 closed, assigned to mhutchie

[2022-02-26 02:28] mhutchie commented on #626
Hi @radeonthe1st,

I'll close this feature request for now as a duplicate of #606, as this request is likely a subset / additional option on the existing request (which offers functional value to users).

Both #606 & this request are lower priority compared to other feature requests, however by combining them together as an "Export" capability makes them collectively more appealing as a new capabi

[2022-02-26 02:28] #626 closed, assigned to mhutchie

[2022-02-26 02:50] mhutchie commented on #630
Hi @jacobweber,

I believe your request will likely already be achieved by disabling the [`git-graph.commitDetailsView.autoCenter`](https://docs.mhutchie.com/vscode-git-graph/general/extension-settings#auto-center) extension setting. Disabling this extension setting will stop the commit from automatically being scrolled to the center of the view. With this extension setting disabled, the only time

[2022-02-26 02:50] #630 closed, assigned to mhutchie

[2022-02-26 03:07] mhutchie commented on #628
Hi @sereyn,

As all terminals (including the Visual Studio Code Integrated Terminal), are a completely independent processes from the extension, the only way for Git Graph to detect the changes made externally by Git commands is to monitor the File System for changes in the repository.

As recommended by Microsoft, the extension uses a Visual Studio Code [FileSystemWatcher](https://code.visualstud

[2022-02-26 03:07] #628 closed, assigned to mhutchie

[2022-02-26 03:17] mhutchie commented on #620
Hi @tapr00t,

Please read the documentation on [Git Executable Detection](https://docs.mhutchie.com/vscode-git-graph/general/git-executable-detection). It explains the extension's behaviour, and when the `git.path` setting is used.

[2022-02-26 03:17] #620 closed, assigned to mhutchie

[2022-02-26 03:21] mhutchie commented on #622
Hi @DavidBabel,

This feature was already implemented and released in Git Graph 1.30.0:

[2022-02-26 03:21] #622 closed, assigned to mhutchie

[2022-02-26 16:43] jacobweberbowery commented on #630
Thanks @mhutchie — didn't know about those settings. I think I can make do with that, and just avoid expanding near the bottom of the window when I'm concerned about losing my place.

[2022-03-03 05:48] cianyastone opened #631 "Git Graph can't load my file"
My Git Graph always load the graph of upper file, but I need it to be the file "expo-wk3".
How to deal with it?
It really confused me for a long time :(.

https://user-images.githubusercontent.com/71207467/156504049-94a83c03-f583-453d-81a8-eae7fca1b5e0.mov

[2022-03-03 10:23] mhutchie commented on #631
Hi @cianyastone,

Unless you've manually overridden the name of your repository to "Desktop", I suspect the repository shown in Git Graph is the "Desktop" repository, and you're opening the "expo-wk3" folder in Visual Studio Code (that's contained within the "Desktop" repository).

If you run the Git command `git rev-parse --show-toplevel` in a Terminal, you can identify which repository contains

[2022-03-03 10:23] #631 closed, assigned to mhutchie

[2022-03-04 06:48] urielzen opened #632 "Fetch and Prune tags gives error "would clobber existing tag""
**Describe the Bug**
Getting this error "would clobber existing tag" when clicking the Fetch (and Prune) button in the View Control Bar:
![image](https://user-images.githubusercontent.com/7947179/156712305-4da6eeb7-285e-4a68-8aff-b3931d647cbf.png)

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Enable these 2 settings: `Git-graph › Repository: Fetch And Prune` and `Git-graph › Reposit

[2022-03-04 07:02] urielzen opened #633 "Force some branches to display on the left side"
Currently the latest commit seems to be driving what branch is display on the left
![image](https://user-images.githubusercontent.com/7947179/156714517-43c13379-a1f4-4493-b838-76f9466888e2.png)

I would like if possible, have setting where I can override the default behavior and for some branches to be on the left in certain order.

For example, let's say that I would like `main` to be the first o

[2022-03-04 07:37] mhutchie commented on #632
Hi @urielzen,

This is definitely not a bug with Git Graph, as the extension is running the usual Git command as expected, and Git is producing an error message due to the state of your repository. When Git throws an error, the best the extension can do is display the error, so the user can take an appropriate action to resolve it.

The behaviour you’re expecting is not Git’s behaviour, which is n

[2022-03-04 07:37] #632 closed, assigned to mhutchie

[2022-03-04 07:39] mhutchie commented on #633
Duplicate of #207.

[2022-03-04 07:39] #633 closed, assigned to mhutchie

[2022-03-06 14:23] i11010520 commented on #304
It'll be very convenient if  there's `--reverse` option supported.
Looking forward to this feature.

Thanks for your great work, @mhutchie !

[2022-03-08 11:38] rustyx opened #634 "Dedicated reflog view"
As part of #89, a new feature was implemented, `git-graph.repository.includeCommitsMentionedByReflogs`, which includes reflog commits in the overall Git graph.

There are two problems with that:
1. Those commits are very hard to spot in a project with dozens of commits/branches added each day. It would be more useful to just see the commits from the reflog.
2. In addition to commits, a git reflog

[2022-03-10 22:32] tolisaverkios commented on #308
I'd also be interested in this feature! Currently when I click on the link on the commit view, Git Graph takes me to the submodule and points to the commit that I updated the submodule to point to. But it would be good if we could see the git diff.

I don't know what the bug is with git diff, I haven't seen issues when doing git diff to see the submodule revision update.

I know dozens of ppl who

[2022-03-12 04:44] alexisfrjp commented on #352
I started using submodules and, I believe adding a box to update/clone the submodules shouldn't impact anybody.
If you don't want to fully support submodules that's fine, but I find annoying having to type a command every time I checkout a branch, just to get the submodules.

The choice will be let to the user to enable this box by default.

[2022-03-16 11:16] i11010520 commented on #133
It'll be very convenient if there's --reverse option supported.
Looking forward to this feature.

[2022-03-17 19:45] jsohndata commented on #33
Thank you

[2022-03-18 14:44] TheBrenny commented on #207
So I've [started some work on this](https://github.com/TheBrenny/vscode-git-graph/tree/branch_priority), and I think the main stopping force is the sheer complexity of the code. Don't get me wrong, this thing is written *very well*, but there's so many things to keep in mind. I can easily get off topic about different ways to lower the complexity by rewriting parts of the code, but that's a commen

[2022-03-21 12:40] vacek546 opened #635 "Custom date formats"
Would it be possible to add support for custom date formats?
E.g. DD.MM.YYYY HH:mm

[2022-03-22 07:56] gtnIIS opened #636 "Fix top bar while scrolling"
When scrolling down in git-graph the bar at the top (containing dropdowns with repo name, branch name, update and search buttons...)  will move out of the window. That means to switch the displayed repo or search for a certain commit, I have to scroll all the way up again, which is cumbersome.

*Suggestion*
Fix the top bar when scrolling in git-graph

*Current state*
Top bar moves out of the windo

[2022-03-24 14:45] sebastinez opened #638 "Missing support for git ssh signing"
**Describe the Bug**
Since git 2.34.0, there is support for signing commits with a SSH key, for that to be possible one has to add `gpg.format = ssh` to their git config.
Now when doing that the extension does not load and shows the following error `error: unsupported value for gpg.format: ssh
fatal: bad config variable 'gpg.format' in file '.git/config' at line 9`

**Steps to Reproduce**
Add `gpg

[2022-03-30 05:41] yungthai opened #640 "Compare any two commits in preferred order"
**Describe the improvement that you'd like**
Currently, comparing any two commits always compares the newer commit (ie. latest in time) versus the older commit, regardless of which commit is clicked first (then CTRL/CMD clicking on the other commit), Some situation requires comparison in a preferred order.

**Additional context (optional)**
A good example is comparing alternative experimental appr

[2022-03-30 05:47] yungthai commented on #640
GitLens extension allows this, via the Search & Compare under Source Control panel.

[2022-03-30 06:40] i11010520 opened #641 "cannot load all commits"
**Describe the Bug**
git-graph cannot load all commits.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. git clone https://github.com/rusoto/rusoto.git
2. open rusoto project by VSCode
3. open GitGraph view and scroll down to the earlist commit
4. GitGraph view stops at IMG1:

<img width="1026" alt="IMG1" src="https://user-images.githubusercontent.com/86607589/160767317-4ee0e575-415e-4

[2022-03-30 12:30] isaacn-lab commented on #308
Hello, looking forward to this feature too!

[2022-03-30 15:55] chr7 commented on #520
Hi @mhutchie , actually, it's is not available in the same way as "git commit --amend".

For example, "git commit --amend" stages the last commit, you can edit those files, unstage files or stage new files. In contrast, the feature offered by Visual Studio Code offers just to add staged files to the commit but it doesn't stages the commit.

[2022-03-31 10:30] dmitrizc opened #642 "Add keyboard shortcut for "Open a Terminal for this Repository""
**Describe the feature that you'd like**
It would be nice to have a keyboard shortcut configured for "Open a Terminal for this Repository".
Currently we have a button at toolbar.
![image](https://user-images.githubusercontent.com/26085551/161035251-dbe4fe07-8e9c-4df6-bc5d-985b8f804bd3.png)

[2022-04-01 12:49] rhaschke opened #643 "Show workspace commit when opening the graph"
When opening the graph, the current workspace commit should be centered in the view.
If the currently checked-out commit is far away in the history, currently one needs to scroll for quite a while to find the commit corresponding to the current workspace state. Searching is not possible, because only a small part of the history is actually loaded and displayed.

[2022-04-03 03:03] TheBrenny commented on #642
Realistically, this just opens a terminal while also adding git to the `PATH` variable. You can easily set this up as an ordinary keybinding in the vscode settings.
![terminal keybinding](https://user-images.githubusercontent.com/1498923/161409458-dcd7eeb9-e9bb-4aa4-9910-278c74773f1c.png)
If it's the git cli that's really selling it for you, then why not add git to your path by default? Then you c

[2022-04-03 04:21] TheBrenny commented on #641
It's strange that the https://github.com/rusoto/rusoto/commit/80fcb22489034a9fb1d28fc6ede3e9741f31d86e commit message has `\rusoto`. Turns out that [`\r` is considered a line ending](https://github.com/mhutchie/vscode-git-graph/blob/d7f43f429a9e024e896bac9fc65fdc530935c812/src/dataSource.ts#L15) according to GG.

[2022-04-03 04:43] TheBrenny commented on #636
Being worked on at #394.

[2022-04-03 05:01] TheBrenny commented on #608
When the webview is loaded, it's possible to use `document.querySelector('#commitTable [data-id="123"]').scrollIntoView({behavior:"smooth", block:"center"})` to scroll to the element, along with `this.loadCommitDetails(document.querySelector('#commitTable [data-id="123"]'))`.

We can get the `data-id` of a loaded commit by using the `commitLookup`. The only catch is, how do we get the correct `dat

[2022-04-03 07:03] i11010520 commented on #641
Truly appreciate your timely fix.
Is it possible to make it come into effect immediately in VSCode by nightly publishing?

[2022-04-03 07:04] i11010520 commented on #641
Truly appreciate your timely fix! @TheBrenny
Is it possible to make it come into effect immediately in VSCode by nightly publishing?

[2022-04-03 09:14] TheBrenny commented on #641
Unfortunately, I'm at the mercy of @mhutchie who owns the repo, but if he's happy with my solution (which I expect he might go with the alternative) then it'll be merged and pushed out.

In the meantime you can patch your version of Git Graph by opening `~/.vscode/extensions/mhutchie.git-graph-1.30.0/out/dataSource.js` and changing:
[code]

[2022-04-03 20:21] aemseemann commented on #640
I just stumbled across the same issue and tinkered a bit with the code to see if this limitation can be lifted somehow.
While doing so I noticed that the same issue was discussed briefly in #29 with generally positive reactions.
One concern brought up over there was

It seems this has been done in the meantime, so it is not an issue anymore.

Another open question would be how to handle diffs betw

[2022-04-04 06:32] gtnIIS commented on #636
Thanks. I'll follow that and close this issue here.

[2022-04-04 06:33] #636 closed, assigned to mhutchie

[2022-04-04 11:57] i11010520 commented on #641
Got it. @TheBrenny
Thx very much!

[2022-04-04 12:06] i11010520 opened #645 "To add the reverse order option?"
**Describe the feature that you'd like**
When researching some brilliant projects, it'll be very convenient to follow the author's ideas if we can read the commit history reversely, from the past to the present.

**Additional context (optional)**
Add any other context or screenshots about the feature request here.

[2022-04-05 23:14] avkonst commented on #524
stated seeing it with vscode 1.66

[2022-04-06 14:59] NathanJPhillips commented on #583
I get the same problem every time when I do an interactive rebase from a terminal started by git graph. If I forget to close git graph first I have to redo all the rebase changes again when it fails because of this.

[2022-04-08 16:07] ahammond opened #646 "Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state."
**Describe the Bug**
Git Graph fails to open

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Cmd-Shift-P "> Git-Graph: View Git Graph (git log)"
2.
[code]

**Expected Behaviour**
I expect to see the graph.

**Environment**
 - Git Graph Extension Version: [1.30.0]
 - Visual Studio Code Version: [1.66.1]
 - Operating System: [MacOS 12.1]

**Screenshots (optional)**
Add any screenshots s

[2022-04-11 05:40] KimDoubleB commented on #646
@ahammond
I think it's not `vscode-git-graph` problem but `vscode` problem.

Please refer to [the issue here](https://github.com/microsoft/vscode/issues/128649)

I had the same problem, but when I completely shut down vscode and restarted it, the problem was solved.

[2022-04-15 08:16] dongshimou commented on #308
need this feature.

[2022-04-17 15:55] liquidcms commented on #246
So the answer is that VSC can't provide a passphrase? That seems very odd. :(

[2022-04-18 17:00] lamwilton commented on #598
Can anyone please follow up with this? Thanks

[2022-04-22 07:54] jzsplk opened #648 "vscode stuck after opening the git graph view"
**Describe the Bug**
vscode is stuck after opening the git graph view
CPU usage to almost 100%

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Open git graph view

**Expected Behaviour**
Git graph works

**Environment**
 - Git Graph Extension Version: 1.30.0
 - Visual Studio Code Version:  1.66.2
 - Operating System: Mac Catalina

**Additional Context (optional)**
CPU usage to almost 1

[2022-04-22 21:39] shehzadaliqadri commented on #611
So, what's is the solution of unwanted desktop.ini files that are creating in .git folder by google drive. is there any solution for restricting google drive not to create .desktop.ini files in .git folder or is there any need for github to handle this prescribed issue.

[2022-04-25 14:00] alemacedo commented on #611
Hi @mhutchie!

Thank you so much for your attention.
For all the purposes, I've followed your tip, and now I'm not using Drive to backup my git project folders (way more clever, haha), especially because of the "node_modules" folders, as the Drive hasn't a way to prevent the sync of them.

But, before stop using Drive in git project folders, the interesting part is that I've inserted the desktop.i

[2022-04-25 14:11] alemacedo commented on #611
So far, Drive hasn't a way to prevent the creation of desktop.ini files, plus Drive does sync "node_modules" folders/files, for example, and it's not a good idea.

As @mhutchie said, it's probably the best solution to not use Drive in a git project folder.

I've created a code in python to delete files in batch. You can check it here: https://github.com/alemacedo/python-threading-delete_file.
Proc

[2022-04-28 14:50] AstrickHarren opened #649 "Hide certain fields in detailed view"
**Describe the feature that you'd like**
It would be good if fields like `parent sha`, `author email` and `commiter email` can be hidden, and `date` field format can be customized. In fact, it'll be good if I can hide all the fields except for the commit message.

[2022-04-29 07:18] Vinorcola commented on #217
Hello @mhutchie,

I join the comment above: It would be great if we could have an option that allow the GitGraph to be opened and pinned at startup. The best would probably be to allow this configuration per project.

I don't know anything about how VSCode settings works for extensions. So do you have any news on VSCode capabilities for this?

Thanks in advance.

[2022-04-29 08:05] Spaark84 opened #650 "Setting for Always Check Out Commit (detached HEAD warning)"
When checking out a commit, Git Graph shows a warning that this results in a detached HEAD stated. If one selects to never display this warning again, this selection is stored in the globalState of VS Code. To enable the warning again, there seems to be no other way than to delete the globaleState file in C:\Users\<user>\AppData\Roaming\Code\User\globalStorage. Therefore, I recommend to handle thi

[2022-05-04 15:36] AMartsinkevich commented on #296
Still not working -)
Latest versions, Winx64

F1: Git Graph: View Git Graph (git log)
Right Click -> Copy
Try to Paste somewhere -> Old clipboard pasted

![image](https://user-images.githubusercontent.com/48548717/166717026-3246d8e8-f8ef-497a-858b-6bc08b9b29ee.png)

[2022-05-05 19:19] MichaelJGW commented on #459
# Issue is from VS-Code not the plugin

## Resolution
Drag and drop the section back in.

![vscode-multiple-source-control (4)](https://user-images.githubusercontent.com/2390194/167009423-933dbdc6-65b6-4eb3-a76b-ce26da164460.gif)

[2022-05-10 13:47] bvandevliet commented on #170
Will this issue be opened again anywhere soon? I believe the 9 months would have passed ;) Or maybe it's an idea to add a setting one can toggle (if his vscode version is supported) to migrate some functionality (I'm thinking about browsing file diffs) to the sidebar area, perhaps through the [Source Control API](https://code.visualstudio.com/api/extension-guides/scm-provider) if possible? I am st

[2022-05-11 07:43] kristiannotari opened #651 "Ctrl/Cmd keyboard shortcut hide vscode shortcuts"
**Describe the improvement that you'd like**
When used on Mac, Ctrl+R open recent folders command in order to easily switch between recent folders. When used while git graph tab is open, it reload the git graph tab, since the binded keyboard shortcut listen for both Ctrl/Cmd + R. There could be an option for selecting only Ctrl or Cmd to be used as keyboard shortcut in order to prevent hiding of o

[2022-05-11 15:14] hansu commented on #616
Someone already realized this on a fork: https://github.com/vscode-ext-studio/vscode-git-graph/commit/a4ac0a87388f7553c8f64ea2b0e2bcbcf8b6c648
But he did a lot of re-structuring before, so it is hard just to cherry pick this feature. Maybe one who is more familiar with typescript and so on can take is as a template and prepare a PR?

[2022-05-11 15:15] hansu commented on #171
Someone already realized this on a fork: https://github.com/vscode-ext-studio/vscode-git-graph/commit/0a80e0438cad4ec47f65542b9ac35c346e8811a3
But he did a lot of re-structuring before, so it is hard just to cherry pick this feature. Maybe one who is more familiar with typescript and so on can take this as a template and prepare a PR?

[2022-05-15 12:55] akirax-git commented on #542
Could you please help me to solve this problem? I encountered a similar situation.

Issue: Installed Git Graph extension into VSc on my new corporate laptop but it does not recognize the repository with the message as below,
![image](https://user-images.githubusercontent.com/18065622/168473223-87aa3d74-f4e0-4ed4-b88c-e231feb95ba8.png)

What I did:
1. Edit settings.json in VSC as below, yet not wor

[2022-05-17 10:06] gianlucaparadise opened #652 "Can't focus buttons in Dialog Form"
**Describe the Bug**
When a dialog form is opened, you cannot select the buttons using the Tab on the keyboard key.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Go to Git Graph view
2. Right Click on a commit and select 'Create branch...'
3. Press Tab once to select the 'Check out' checkbox
4. Press Tab once more

**Expected Behaviour**
After step 4, I expect to have focus on the '

[2022-05-20 10:26] MetRonnie opened #653 "Show worktree branches with distinct styling"
**Describe the improvement that you'd like**
It would be useful if git worktree branches were easily identifiable as such, perhaps with a different color or outline, or maybe a "w" icon.

[2022-05-20 14:32] samherrmann opened #654 "Interactive rebase does not work inside VSCode dev container"
**Describe the Bug**
Interactive Git rebase does not work inside a [VSCode development container](https://code.visualstudio.com/docs/remote/containers) when initiated through Git Graph and with VSCode set as Git's editor, i.e. [core.editor=code --wait](https://code.visualstudio.com/docs/editor/versioncontrol#_vs-code-as-git-editor)

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Open

[2022-05-21 06:45] TheBrenny commented on #207
I got a request asking for a bundled version because they were unsure of how to do it themselves. I've bundled and released it on GitHub, so for those looking to do the same (to either test or use, idm), it can be found here:

- VSIX File: https://github.com/TheBrenny/vscode-git-graph/releases/tag/vsix-creation
- Instructions: https://code.visualstudio.com/docs/editor/extension-marketplace#_instal

[2022-05-22 22:43] scippio commented on #113
@dzid26 that's looks really nice...

[2022-05-23 07:30] alanlivio opened #655 "How can I hide the gh-pages branch"
How can I hide one of the gh-pages branch?
The extension settings only have the   "git-graph.repository.showRemoteBranches" to hide all remote ones.

[2022-05-25 21:04] andreas-vester commented on #545
I stumbled upon this issue, too.
I suggest to implement some kind of "auto-prune". Why would I keep a branch in my graph that doesn't exist anymore?

[2022-05-28 03:47] Legend94rz opened #656 "About the difference of "Repository Settings" menu between vscode and code-server"
Why the "Repository Settings" menus are different between vscode and code-server?
here is the content of vscode:
![image](https://user-images.githubusercontent.com/7570644/170808504-bbc16716-3e14-4b82-b65e-75358fe6a503.png)

and here is the content of code-server:
![image](https://user-images.githubusercontent.com/7570644/170808507-ec310e75-ee5b-413d-8899-44ba690f9443.png)

As you can see, in code

[2022-05-30 10:28] affeldt28 opened #657 "Ignore Branches"
**Describe the feature that you'd like**
It would be nice if it's possible to select certain branches to be ignored.

[2022-05-31 15:45] kcaswick opened #658 "Support Virtual Workspaces / Remote Repositories"
Please provide at least limited support for working in [Virtual Workspaces](https://github.com/microsoft/vscode/wiki/Virtual-Workspaces). I would expect basic actions like viewing the history should work in a virtual workspace, even if many other features are disabled.

[2022-06-01 00:29] cateyes99 opened #659 "Add support for code blocks in comments"
Currently **Git Graph** supports `inline code`, **bold** & _italic_ in comments, but not **code blocks**.

So, the following one
![image](https://user-images.githubusercontent.com/19678455/171304070-2af8f883-ac0b-492d-9d89-504fe25f8766.png)

displays as below in **Git Graph**. The code block isn't respected in the **Markdown** syntax.

![image](https://user-images.githubusercontent.com/19678455/17

[2022-06-01 06:22] positron96 opened #660 "Show commit details at bottom without disrupting graph"
**Describe the feature that you'd like**
First of ll, thanks for a very useful plugin!

It would be nice to have commit details not inside the graph but somewhere else. Most git browsers that I've used (gitk, SmartGit, TortoiseGit) show commit details at the bottom of the window. This way when you click-through commits you don't have to aim at different places all the time, the commits are where t

[2022-06-07 18:40] varnk opened #661 "Git Notes"
Would like GitGraph to be able to display Git Notes in the graph.

[2022-06-07 18:43] #661 closed, assigned to mhutchie

[2022-06-07 18:43] varnk commented on #661
Duplicate

[2022-06-08 15:54] isidorn opened #662 "Consider becoming a verified publisher"
Hi VS Code PM Here 👋

Consider becoming a verified publisher. More details about this can be found here
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#verify-a-publisher

We would love this to happen, so let us know if we can help somehow from the VS Code side.
Thank you

fyi @chgill-MSFT

[2022-06-13 03:27] kenji-miyake commented on #655
It would be nice if this feature is supported!

@alanlivio As a workaround, I think the `Unselect in Branches Dropdown` button can be used.
![image](https://user-images.githubusercontent.com/31987104/173274023-c9bae13e-0fa8-4db8-b52b-75b24a82e17e.png)

[2022-06-13 07:51] alanlivio commented on #655
Many thanks @kenji-miyake. It works. But I still thing that it may be done by some json vsconfig given the recurrence, so otherse it requreded to be done for each repo. So, can I made a feature request?

[2022-06-13 08:34] kenji-miyake commented on #655
I agree with you, but I'm not sure you can make a feature request because I'm not a maintainer. :disappointed:

[2022-06-14 13:01] sinux-l5d commented on #475
Hi @mhutchie,

Do you have any plans for this feature?

It would be great to have it in Git Graph :D

[2022-06-16 11:24] dalton-ly opened #663 "add support for CLion or other JetBrains product"
the extension is so nice so I wish to use it in other IDEs such as CLion. Wish that it can be more popular

[2022-06-16 11:30] #663 closed, assigned to mhutchie

[2022-06-17 04:30] cateyes99 opened #664 "The context menu of the right click on the folder is useless"
**Describe the improvement that you'd like**
When right clicking on a folder, it pops up a context menu showing `Cut`, `Copy`, & `Paste`. But actually none of the 3 options can work.
![image](https://user-images.githubusercontent.com/19678455/174224172-60aec7cc-3c3b-4040-bd18-71049bc44ca3.png)

I suggest that it can be improved by changing them to two options `Copy Absolute Folder Path to Clipboar

[2022-06-17 06:35] jahd2602 commented on #124
I'd really like this functionality, even if it is read-only.

[2022-06-19 22:27] spsquared commented on #611
Slightly unrelated here, but I can't fetch the repository because of the random desktop.ini files. I also can't find them so I can't delete them, even though Windows says they exist. It won't let me create a file called "desktop.ini" because "there is already a file with the same name in this location." I can't even go look at the repository without getting errors.

[2022-06-20 15:26] JeroenPeterBos commented on #598
It would be great if someone could take a look at this. Currently, it makes viewing changes in commits in data-science repositories impossible using the git-graph extension.

I have tried to find the issue, but unfortunately, I'm unfamiliar with Javascript / Typescript.

It seems like `git-graph` executes the command `vscode.diff`, just like the Open Changes context option from the default source

[2022-06-22 20:18] Reet-Sinha opened #665 "Won't show in remote repositories"
Issue Type: <b>Bug</b>

In a github remote repostiory, it won't show git graph

Extension version: 1.30.0
VS Code version: Code 1.68.1 (30d9c6cd9483b2cc586687151bcbcd635f373630, 2022-06-14T12:52:13.188Z)
OS version: Darwin x64 21.1.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-1000NG4 CPU @ 1.10GHz (4 x 1100)|
|GPU Status|2d_canv

[2022-06-23 05:55] xwyam commented on #387
does it work?
![example](https://user-images.githubusercontent.com/2004930/175225422-1f38d121-3bce-4d8e-9daa-779a6697b189.gif)

[2022-06-23 09:09] heartacker commented on #387
no，but it is usefull

[2022-06-27 17:02] vonmecheln opened #666 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Linux x64 5.18.0-1-amd64`
- VS Code version: `1.68.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///tmp/mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-

[2022-07-04 11:05] yanguoliang opened #667 "Emphase current branch with bold line in Git graph"
Emphase current branch with bold line in Git graph. It's difficult to make out  current branch in GIt graph by color, especially to comfirm whether a commit message created long time ago is belong to current branch. So I suggest emphasizing current branch with bold line in Git graph! thank you!

[2022-07-06 07:43] rohit04saluja opened #668 "Git graph does not detect git worktree as git repo"
**Describe the Bug**
When vscode workspace is opened at a git worktree, git graph does not recognise it as a git repository and thus does not show the information

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Clone a git repository
2. Create a new git worktree from the cloned repository
3. Open the new git worktree in vscode

**Expected Behaviour**
The git graph should show the info

[2022-07-10 21:39] BuZZ-dEE opened #669 "does not work with VSCode 1.69.0"
`Error loading webview: Error: Could not register service workers: TypeError: Failed to register a ServiceWorker for scope ('vscode-webview://1tvdvrkgslg5k8qc4ir5gq8rpskp2ng8aa18bj3e39crvo6t7gji/') with script ('vscode-webview://1tvdvrkgslg5k8qc4ir5gq8rpskp2ng8aa18bj3e39crvo6t7gji/service-worker.js?v=4&vscode-resource-base-authority=vscode-resource.vscode-cdn.net&remoteAuthority='): An unknown err

[2022-07-11 09:34] mhutchie commented on #669
Hi @BuZZ-dEE,

I've confirmed on multiple devices that Git Graph is working with Visual Studio Code 1.69.0. Additionally, no other users have reported an similar issues after updating to Visual Studio Code 1.69.0. This indicates the error you received is either intermittent, or limited to a subset of devices.

The error message you received is specific to [Visual Studio Code Webviews](https://code

[2022-07-11 09:34] #669 closed, assigned to mhutchie

[2022-07-11 09:36] mhutchie commented on #666
Hi @vonmecheln,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I only get very rare reports of Git Gra

[2022-07-11 09:36] #666 closed, assigned to nobody

[2022-07-11 09:39] mhutchie commented on #660
Hi @positron96,

This feature is already available via the extension setting [`git-graph.commitDetailsView.location`](https://docs.mhutchie.com/vscode-git-graph/general/extension-settings#location).

[2022-07-11 09:39] #660 closed, assigned to mhutchie

[2022-07-11 10:37] BuZZ-dEE commented on #669
@mhutchie thx for your replay. it seems after the vscode something was broken with the electron version. after installing electron18 everything works again.

[2022-07-11 12:33] ernestasjuska opened #670 "Open workspace/folder from Git worktree"
Hi,

It would be useful to have a function to jump to another VS Code workspace/folder in another Git worktree. If possible it should create worktree when it does not exist using path format from settings.

In our company we have code targeting different platforms in different branches and switching between them is cumbersome: check if worktree exists, if not create worktree, then use VS Code's Fi

[2022-07-11 12:54] positron96 commented on #660
Thank you very much! For some reason, I missed that setting.

[2022-07-11 18:08] Adrian397 opened #671 "Unable to load git graph"
**Describe the Bug**
I am unable to use git graph. It says "Unable to load Git Graph", "No Git repositories were found in the current workspace when it was last scanned by Git Graph". What is causing this issue? On my second computer (windows) it works perfectly fine without doing anything from my side. But here on Mac OS it just does not work.

**Screenshots (optional)**
settings.json:

<img widt

[2022-07-12 04:35] kyleung271 opened #672 "Cannot Fetch from an HTTPS only GitLab origin"
**Describe the Bug**
Cannot Fetch from an HTTPS only GitLab origin using git graph fetch function, despite VS Code itself can fetch without error

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Open folder with origin to be an HTTPS only GitLab origin.
2. Open git graph page
3. Click `Fetch from Remote(s)` button on top right
4. See error

**Expected Behavior**
Able to fetch from origi

[2022-07-13 11:54] lonix1 opened #673 "[Feature Request] Automatically show graph"
In gitkraken/sourcetree/etc. one always sees the history graph - it's a central feature of the tool.

It would be nice to have a GitGraph setting to automatically show the graph, when I click on "Source Control" in the activity bar.

[2022-07-15 14:04] Dysta commented on #182
Any update?

[2022-07-15 16:56] butsds opened #674 "Error when naming folder constructor"
https://github.com/mhutchie/vscode-git-graph/blob/881a9e613045bacbbadf8940f6b6c5b8bd699335/web/main.ts#L2374

[2022-07-16 15:41] vinaypatle opened #675 "Keep Git Graph tab pinned after restarting VS Code"
Git Graph tab can be pinned in VS Code which is nice, but when you close VS code and open next time, it is no longer pinned. You have to pin the tab every time you start the VS Code editor. If possible, this would be a nice improvement to have. Thanks

[2022-07-21 10:50] borisghidaglia commented on #675
Seems a duplicate of #348.
And as mentioned by @mhutchie [here](https://github.com/mhutchie/vscode-git-graph/issues/348#issuecomment-658729452), you can track the status of this in #276, which has been included in the backlog already.

[2022-07-21 10:56] borisghidaglia commented on #276
@mhutchie if you identified specific vscode issues or PR that need to be implemented/merged in order to make this feature possible, don't hesitate to paste them here so that we can show our support over there.

Plus, your extension has 3m+ downloads (congrats and thank you!), so it might be a good argument 🤷🏻‍♂️🤞

[2022-07-22 10:28] MetRonnie opened #676 "Log output - popped/dropped stashes"
**Describe the improvement that you'd like**
Once in a while I need to recover the stash I just popped or dropped. This would be easy if the log output printed the hash. But it doesn't; it just logs the command input. (So I have to go through a complicated process detailed in [this SO answer](https://stackoverflow.com/a/91795/3217306).)

[2022-07-26 06:09] minonl opened #677 "Make table header and control area sticky to the top an option"
**Describe the improvement that you'd like**
It simply make it easy to switch/search/fetch without scroll back to the top
Also make it optional so by default most user who are satisfied with current experience will still be happy

1. Add 2 checkbox to make #controls or #tableColHeaders sticky to the top
2. Right click #controls will show a checkbox to make it sticky
3. Right click #tableColHeaders

[2022-07-26 06:19] minonl commented on #677
duplicate with #132

[2022-07-26 06:19] #677 closed, assigned to mhutchie

[2022-07-26 17:12] bradlitterell opened #678 "Show detached HEAD in graph"
**Describe the feature that you'd like**
HEAD is not available in the branches list.  As a result, when operating in a detached HEAD state, the HEAD does not appear in the graph if it is not also a commit that can be reached as an existing branch.

However, a commit from this state will result in the graph no longer showing the detached HEAD and latest commit

**Additional context (optional)**
For

[2022-07-28 12:06] danialkhilji opened #679 "Unable to see one of my repo in git graph"
I have a repository which is local and inside the same repo which is linked with repo on Gitlab. When I select the drop down menu to select the inside repo, I am unable to see that repo. Only main repo is there to select. Can I add any repo to the Git Graph manually?

[2022-07-29 06:55] kissge opened #680 "Pull Request Link for branches"
I really love this extension, thank you very much!

**Describe the feature that you'd like**

We can tell which branch exists on remotes, but to which PR (e.g. on GitHub) the branch is tied is also very much wanted information, and the functionality to enable opening PR page on Web browser is really helpful.

**Additional context (optional)**

None.

[2022-08-02 12:16] sjw1980 commented on #21
In my case. exFat file system isn't fit enough to use git graph in Windows 10.
I don't know why.

[2022-08-03 14:11] ibraheemhajjar opened #681 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Windows_NT x64 10.0.19044`
- VS Code version: `1.69.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`file:///c%3A/Users/ibrah/AppData/Local/Temp/mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/E

[2022-08-03 14:37] bobatsar commented on #308
Hey @mhutchie I am also looking for this feature as it is currently not possible to show at which commit the submodule is.

Another possible way to implement would be, to jump to the submodule graph but select the commit which is referenced from the parent git.

[2022-08-05 08:18] gkssjovi opened #682 "Keyboard shortcut navigation."
I'm using neovim extension for VS-Code.
I made the file navigation with j ( arrowDown ) and k ( arrowUp ), h ( left ) and l ( right ).
I'm not able to navigate on this extension, with those keys.
It is possible to create those key mapping?
You can take as an example the file tree navigation down, up ( move up or down ), ( left, right ) open and close the folder + open the file in editor.

[2022-08-06 08:35] untainsYD opened #683 "dropdown actions: drop"
Can you please tell me how does command `drop` work in the dropdown menu on commit/branch?

I couldn't find any description of this command.

[2022-08-06 15:36] sirius0xff commented on #589
bump

[2022-08-07 17:24] bgbruno opened #684 "render github link to commit detail"
**issue**
cannot use link to open github commit in browser

**solution**
translate commit detail text
`Commit:{{id}}`
https://github.com/mhutchie/vscode-git-graph/blob/develop/web/main.ts#L2560
into link to open "browser github commit"
`https://github.com/{{user}}/{{repo}}/commit/{{id}}`
from
`this.currentRepo`
https://github.com/mhutchie/vscode-git-graph/blob/develop/web/main.ts#L155

[2022-08-08 14:19] MartinRiddar opened #685 "Opening git graph shows nothing"
**Describe the Bug**
I've always displayed the git graph by clicking on the symbol from source control view, this has worked flawlessly up until recently when it just doesn't show anything. Nothing hangs or acts up other then that nothing is shown.

I've tried the following without success:
1. uninstall git graph - restart- reinstall git graph
2. add the repository to git graph which only displays

[2022-08-09 23:37] leonardoramirezr commented on #685
I don't know if it's the same error, but today when I tried to open Git Graph the next message was raised:
`Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state..`

**Environment**
- Git Graph Extension Version: 1.30.0
- Visual Studio Code Version: 1.70.0 (Universal)
- Operating System: MacOs Mo

[2022-08-10 08:26] mindplay-dk opened #686 "Git Graph prevents the new 3-way merge editor from opening"
**Describe the Bug**
Git Graph appears to conflict with the new [3-way merge editor](https://code.visualstudio.com/updates/v1_69#_3-way-merge-editor) recently introduced in VS Code.

Please see [this thread](https://github.com/microsoft/vscode/issues/156361) where I and others have commented.

The new merge editor does not open when Git Graph is installed - instead, it opens the normal editor. (ev

[2022-08-11 11:11] rafapuerta commented on #685
Same exact error.

Git Graph Extension Version: 1.30.0
Visual Studio Code Version: 1.70.1 (Universal)
Operating System: Pop!_OS 22.04 LTS
Git version: 2.34.1

[2022-08-12 09:16] Trass3r opened #687 "Turn it into a web extension"
So it can be used on github.dev.
Main change required would be to bundle it using esbuild/webpack/etc.

https://code.visualstudio.com/api/extension-guides/web-extensions#migrate-extension-with-code

[2022-08-12 09:24] Trass3r commented on #662
This extension seems to be abandoned. Maybe it could be picked up by MS @isidorn? It's really an essential git related feature.

[2022-08-12 09:30] isidorn commented on #662
We (the vs code team) are a small team that is focused on the core experience and designing beautiful APIs so extension authors can be successful. While I agree this extension is good, we do not have the capacity to own it. I think a better route is if somebody from the community wants to take it over, or to create another extension which covers this functionality. Thanks

[2022-08-12 13:37] phil294 commented on #662
Please note that this project's license strictly disallows to publish a fork on the marketplace. So there's only three options:
1. Keep things as before and wait for the maintainer to merge PRs etc.
1. He explicitly passes over the repo to someone else
1. Build an alternative tool. (Shameless plug: [here's mine](https://github.com/phil294/git-log--graph/))

[2022-08-14 15:35] yuks0810 opened #688 "Add ability to display long commit message and multiple tag-names"
**Describe the feature that you'd like**

Problem:
Description column are not able to fully show all commit messages and tag-names if the commit has too many tags or too long commit messages. Therefore, I would like Git-Graph to show all of them by adding an ability to scroll horizontally or by adding an ability to display multiple tags on multiple rows.

I know I can expand width of Description c

[2022-08-17 01:10] bradlitterell commented on #686
In the attached thread (or another linked thread from there) there is mention of GitLens, and FWIW I didn't experience any problem with the new merge editor coming up, but I only use VSCODE + Git Graph (no GitLens).  So maybe that was the culprit?
I'm also on 1.70.1 VSCode, so perhaps that is also solving the problem for me?

[2022-08-17 02:06] sangn2911 commented on #124
I also hope this functionality implemented with Liveshare. I can check and help my colleagues with git-graph. I can also share my git setup and guide for newcomers to get used to git-graph in my team.

[2022-08-18 16:13] sawantdi opened #689 "how to create branch from the specific point in the existing branch and what is checkout option"
we have one branch DFR_DCD_NEW which was changed from develop branch which was done using wrong command and now we want to revert it so we installed git graph and now we want to revert it using Git graph so please help us with the same..

[2022-08-20 12:40] jespertheend opened #690 "Git graph icon is barely visible with the Light+ theme"
**Describe the Bug**
When selecting a repository all its icons become white except for the one from the git graph extension.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Click the source control button in the activity bar.
2. Of the repository is not selected (not blue), click to select it.

**Expected Behaviour**
The git graph icon is white.

**Environment**
 - Git Graph Extension

[2022-08-21 08:37] MRVDH commented on #685
Same!

![image](https://user-images.githubusercontent.com/6686385/185782838-bae40085-2960-4af3-9713-a768c26f5525.png)
![image](https://user-images.githubusercontent.com/6686385/185782862-651e5de0-2894-47fd-ae78-e047bf8df332.png)
![image](https://user-images.githubusercontent.com/6686385/185782878-4709678c-e375-4e61-a086-70a95f0ef0ef.png)

Even the extension pages themselves don't seem to work anym

[2022-08-23 18:27] deckblad opened #691 "Fix Tab Order on New Branch dialog to include "Create" and "Cancel" buttons."
Current behavior:

1. Right click a commit, click "Create Branch"
2. Cursor is now focused on Name field
3. Type a name
4. Hit Tab
5. Cursor is now focused on "Check Out:" checkbox
6. Hit Space, checkbox is now checked.
7. Hit Tab
8. Cursor is now focused outside of pop-up dialog.
9. Hit Space, extension sidebar collapses.

I'd love it if the tab order on that pop-up dialog could be set so it cont

[2022-08-25 18:17] TomasJuocepis commented on #387
I'd use it. It's a good compromise until a more fleshed out solution is implemented. One issue with this is that hiding a branching commit (i.e. one with multiple children) makes it appear like branching happened on an earlier commit. This can be seen in the animation: when expanded, the top-most branching occurs at commit "Rebase 1.30.0 ..."; but when collapsed, the branching appears to happen at

[2022-08-25 18:54] urielzen commented on #574
May be related to #632

[2022-08-25 19:12] urielzen opened #693 "Handle branches with same name but different case"
**Describe the Bug**
If there are two branches in the remote with the following names:
`feature/QA/kiran` (lowercase k)
`feature/QA/Kiran` (uppercase K)

Only one of them is displayed in the UI at any given time.

![image](https://user-images.githubusercontent.com/7947179/186747190-4eb4c397-6bd8-40fe-8e40-8ffaa5cbea24.png)

But when clicking the "Fetch and Prune from remote(s)" button, then one di

[2022-08-28 04:34] a4lg commented on #583
I frequently get the same problem (especially while rebasing).  It would be nice if you consider the priority of this issue.

[2022-08-29 14:25] hanjoosten opened #694 "Enable the usage of difftool to view diff"
When I open the details of a commit, I see a tree of the files that are modified in that commit. If I rightclick on a file, a list of options appears:

![image](https://user-images.githubusercontent.com/1159672/187222277-e91359ad-a4c5-428a-81d7-963e1c84c9cd.png)

I would like the option to view the Diff by means of the difftool.
The difftool is available from the settings of vscode itself. It can

[2022-08-30 07:39] shiipou opened #695 "Allow to see and edit notes"
**Describe the feature that you'd like**
On the graph of commit, allowing us to see notes attached to commits can be great for additional informations that can be add by everyone.

**Additional context (optional)**
For exemple, if I want to edit my note notes called `dev-notes` :
[code]
PS: the note will be attached to the commit hash where the current tag is. It will not attached to the tag itsel

[2022-08-30 07:42] shiipou commented on #695
I think we can download all notes with the following :
[code]

[2022-08-31 08:36] hidegoda55 opened #696 "Folder to file change commit causes 'Loading Commit Details' forever."
Thanks a lot for very nice tool ! I love it.

**Describe the Bug**
Identical named folder to file changing causes failure to show Commit Details.

**Steps to Reproduce**
1. (CLI) commit a folder named 'aaa' (with some file inside), add and commit.
2. (CLI) delete folder 'aaa' and create file 'aaa' and stage and commit.
3. (GUI) in tree view and open the last commit. circling arrow shows forever.

[2022-08-31 21:06] woody77 commented on #640
When working with multiple branches, and when comparing changes between them, it would be extremely useful to use the click order set the order of the diff (just like you can with arbitrary commits and git diff: `git diff <branch A commit> <branch B commit> path/to/file`)

Upon discovering this feature (today), I immediately tried to use it with a set of commits in different branches whose time wa

[2022-09-01 14:31] t0b1hh commented on #276
any updates on this? 🥺

[2022-09-05 13:48] teaserrr commented on #641
Thanks, this fixed the graph for my repo as well. The graph stopped before a commit where somehow a `^M` managed to sneak into the commit message, according to the `git log` output.

[2022-09-07 03:04] manren opened #697 "code Helper CPU hige"
Type: <b>Bug</b>

mac os
open project cpu code helper 150%

Extension version: 1.30.0
VS Code version: Code 1.71.0 (784b0177c56c607789f9638da7b6bf3230d47a8c, 2022-09-01T07:25:38.437Z)
OS version: Darwin x64 20.6.0
Modes:
Sandboxed: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>canva

[2022-09-08 08:40] DFVSQY opened #698 "The commit detail display in bottom will be better"
I think the commit detail view locate in the bottom will be better, like `git history` extension(the second image):
![image](https://user-images.githubusercontent.com/8075421/189075818-7c4b2a09-9f62-4272-b300-d8be0962a4ca.png)

`git history`'s commit detail view:
![image](https://user-images.githubusercontent.com/8075421/189076614-548a70d8-1338-4d4c-a85a-8285d89a1f44.png)

[2022-09-08 10:59] jochemkeller commented on #638
@sebastinez I ran into this problem today after migrating to SSH key signing. Not sure if you still need help, but I fixed it by explicitly setting the following in my global VS Code settings:

[code]

You can obtain your git path by opening a terminal instance in VS Code and executing the following:

[code]

I use [Homebrew](https://brew.sh) myself, so in my case the resulting settings addition w

[2022-09-08 11:38] sebastinez commented on #638
🤯 Thank you so much @jochemkeller! This solved my issue and I'm finally able to go back using Git Graph!
Also thanks @mhutchie for this extension, it is really needed! 👏

Will close this issue, hope it helps others who stumble upon this.

Maybe there is a place somewhere to write this down outside of this issue for others stumbling upon this issue.

[2022-09-08 11:38] #638 closed, assigned to mhutchie

[2022-09-09 02:16] DFVSQY opened #699 "Please support remote development"
I use `GitHub [Repositories`](https://marketplace.visualstudio.com/items?itemName=GitHub.remotehub) extension to broswer github remote repo,  and `GitHub Repositories` use vscode‘s remote development function. However, `GitGraph` can't view the history of the remote repo, I hope you can support it, thank you very much!
![image](https://user-images.githubusercontent.com/8075421/189257928-996900d2-f

[2022-09-11 17:56] to-s commented on #685
The same here:

![image](https://user-images.githubusercontent.com/26573402/189542031-147fa671-17b1-40f3-818c-563629eb5837.png)

[2022-09-12 19:11] ghost opened #700 "Is this extension still worked on?"
.

[2022-09-18 12:17] hashfx commented on #245
Here's a temporary fix if anyone want to access specific older commits on some click (in **Binary Search** logic):
Notice the ```+xx``` part after ```?after=commitNumber+xx``` in commits URL, like ```https://github.com/hashfx/pvtRepo/commits/master?after=698069a420a3a6090a6699c94a98e8d1e16b2254+34```  [ ```+34``` in this case ];
That's how commit pages in GitHub are indexed. So to visit specific p

[2022-09-20 12:11] L3P3 opened #701 "Drag&Drop actions in graph view"
**Describe the feature that you'd like**

1. If I drag a tag/branch head to another commit, I get asked if I want to reset/rebase it.
2. If I drag a commit on a branch, I cherry pick it.

**Additional context (optional)**
Reason is that I reset/rebase a lot and drag/drop would be nice and somewhat easy to implement!

[2022-09-22 10:10] zamanisaja opened #702 "Add the extension to Activity Bar"
I think its a good idea if the extension had a dedicated button in the activity bar.

https://code.visualstudio.com/updates/v1_23#_custom-activity-bar-views

[2022-09-25 03:53] godzzo opened #704 "Unable to load Git Graph - windows10 - cygdrive (cygwin path)"
**Describe the Bug**
If I open project from cygwin, the vscode could find out the folder path correctly, but Git Graph not.

[code]

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Go to cygwin bash
2. cd /project/folder
3. Type `code .`
3. Run command (Ctrl+Shift+P) `Git Graph: View Git Graph (git log)`
4. See error in the View : `Unable to load Git Graph`

**Expected Behaviour**
Loca

[2022-09-27 11:51] DFVSQY commented on #698
Now i think there is no need to modify it, so i close this issue.

[2022-09-27 11:51] #698 closed, assigned to mhutchie

[2022-09-27 13:37] GiovanniCardamone opened #705 "Show added/removed lines column"
Would be nice to have an additional column that summarize how many lines has been added/removed in commit entry

![Screenshot from 2022-09-27 15-34-22](https://user-images.githubusercontent.com/5117748/192541410-d22fad81-5ab8-4596-8fe0-a7534df2a623.png)

[2022-09-29 07:14] JakeSOB commented on #704
Any news about this or any temporary fixes? It doesn't work anymore. On 1 machine I haven't restart vs code, is still work. But when I restart vscode it stops to work on my project with multiple components. The root project is still working, but then for component it says "Unable to load Git Graph", even the .git folder is there. I can operate git commands with the integrated terminal. It just see

[2022-09-30 08:27] Scorg commented on #485
Well that is as cheap as an excuse can be. Holy crap. You are pretty much telling people to suck up a pretty significant inconvenience for the sake of catering to tables-size screen users. If you are so desperate to minimize the number of items, you can make this an option.

And interface duplication is in no way the same as code duplication. Useful interfaces don't get in the way of workflow for

[2022-10-02 17:26] Knud3 opened #706 "Extension do not respect vscode files.exclude setting"
Now it is looking repos from directories which are excluded in vscode settings.

Also I can't find any controls how to include/exclude directories in extension settings.

TL;DR: Git Graph is gluttering repo list with repos that I do not want to see.

[2022-10-07 10:09] OmarTawfik opened #707 "PR links in commit messages point to invalid URL"
* Can reproduce on any commit that has `#1234` syntax to link to a PR/issue.
* Just open Git Graph and click the commit name to expand it inline.
* The GitGraph viewer will highlight it as a link, but with the wrong destination.

**Expected Behaviour**

The generated link is in the form: https://github.com/ORG/REPO/issues/NUMBER

**Additional Context (optional)**

The generated link has the URL: h

[2022-10-07 15:32] Med-H commented on #171
any news about this?

[2022-10-07 16:29] hansu commented on #171
You can try this https://github.com/hansu/vscode-git-graph/releases :wink:

[2022-10-10 13:17] ghost opened #708 "Cannot delete tag that shares a name with a branch"
**Describe the Bug**
Cannot delete remote tag that shares a name with a remote branch

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Have local branch called 'asd' pushed to origin
2. Have local tag called 'asd' pushed to origin
3. Right-click tag, select "Delete Tag..."
4. Check "Also delete on remote"
5. Click "Yes, delete"
6. See error

**Expected Behaviour**
Deletion works by inc

[2022-10-10 14:12] mvrahden opened #709 "Add better control for Repository Search"
The plugin automatically detects nested repositories, that's great.

I have a situation, where I'm working in a multi-repo workspace, and one of the projects has (by design) a dedicated directory with a HUGE number of nested repositories. I want Git Graph to ignore this directory. How do I proceed?

[code]

I could't make it work with "Max Depth Of Repo Search" parameter.

A nice way would be to a

[2022-10-11 13:33] AnthonyLenglet commented on #75
randomly remembered this issue 2 years later, is there a way to display the graph in a panel with the features available today ? I would love the ability to open in in a small panel in the git tab 😄

[2022-10-13 09:02] aksh-konda opened #710 "Error loading webview"
Type: <b>Bug</b>

The below error is showing up when I try to open an extension which creates it's own webview: (extensions like: Git Graph, GitLens — Git supercharged)

Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state..

Extension version: 1.30.0
VS Code version: Code 1.72.1 (Universal) (12

[2022-10-13 14:00] hamir-suspect opened #712 "Memory leak?"
**Describe the Bug**
Sometimes when I open git graph tab, there is a big spike in memory usage from vscode on macos since last update of vscode (1.72.1)

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Go to git graph
2. Use it (sometimes just opening git graph tab is enough)
3. open settings or something else
4. application freezes and you must kill it from activity monitor

**Expecte

[2022-10-15 18:12] jespertheend commented on #690
Seems like this is a limitation within vscode. All the other icons are using codicons builtin into vscode. They only have a single color which is why they can be changed easily. So a workaround would be to use a codicon as well. The [git-commit](https://code.visualstudio.com/api/references/icons-in-labels#:~:text=git%2Dbranch%2Ddelete-,git%2Dcommit,-git%2Dcompare) icon could work, but I like the c

[2022-10-16 18:20] niccolomineo opened #714 "Diff'ing branches as a whole"
It would be great to be able to diff a whole branch content against another's.

When you open a PR, you have a unified view for what was added in that whole branch. The usefulness is that, if you want to check a specific file's changes and have a hundred commits, you don't have to go through each commit to see whether that file was changed and how.

[2022-10-17 03:24] z20240 commented on #712
I have the same issue.

[2022-10-17 03:33] romanholidaypancakes opened #715 "Project appears to be dead?"
The author has not been online for a year, any PR needs his approval.
[vscode-git-graph/blob/develop/LICENSE ](https://github.com/mhutchie/vscode-git-graph/blob/develop/LICENSE)  Also restricts others from doing maintenance

[2022-10-17 16:02] aliehsdev commented on #675
I solved this problem using tasks: when opening VS Code, Git Graph automatically starts and pins.
Add the following tasks for a user (globally) or some workspace:
[code]

To run automatic tasks while the workspace is open, you need to Allow Automatic Tasks (see [Run behavior](https://code.visualstudio.com/docs/editor/tasks#_run-behavior)).

[2022-10-18 14:20] tontus commented on #715
Same question here

[2022-10-20 13:14] borisghidaglia commented on #675
Thanks for sharing!

[2022-10-21 13:00] JohanWinther commented on #19
I would be very interested in this feature! I also believe this is one of those features that you might not realise you'd want at first, but once you start working with it you couldn't understand how you managed to do without it.

[2022-10-27 17:12] aurexav commented on #712
Due to #715.

I suggest switching to [gitlens](https://github.com/gitkraken/vscode-gitlens.git). It has a `Show Commit Graph` feature now.

Just press `ctrl/cmd + shift + p` and type `Show Commit Graph`.

---

Interesting, I found the gitlens also has this problem. Maybe it's a bug from vscode. Or macOS Ventura.

[2022-10-28 06:01] vkv commented on #715
@mhutchie could the license be less restrictive, e.g. to allow forks?

There no nice alternatives AFAIK for private repo use:
- Git Lens requires plus subscription for the graph feature
- Git History offers really limited context actions via the graph

[2022-10-31 10:20] sysmat opened #716 "cherry pick make no sense"
**Describe the feature that you'd like**

 I'm on GitGraph view, On desired branch, rigth clik, open menu Cherry pick... and offer it self, this make no sense

1.  On branch click Cherry pick
2. menu to chose from which branch
3. when branch is selected then select which commit

**Additional context (optional)**
Something like in NetBeans

[2022-10-31 14:13] andresbm05 commented on #132
Any update on this?

[2022-10-31 16:23] MetRonnie commented on #583
I would have upvoted/reported much earlier. However I have only just narrowed this problem down to git-graph

[2022-11-01 13:50] adelstiti commented on #246
Just add those keys bellow to your environment:

[code]

Source: https://github.com/microsoft/vscode/issues/13680#issuecomment-575204695_

[2022-11-07 14:41] MarcoFilimon opened #717 "Freeze Panes while scrolling."
**Describe the feature that you'd like**
When I scroll through the project history, sometimes I want to re-size some columns (eg: Graph) for a better view. To do that I need to scroll back up and then back again where I was initially.
Is it possible to implement something like in Excel where we can Freeze a certain row to make it always visible while you scroll?
Or just make the re-size of columns

[2022-11-07 22:58] stderr-to-devnull opened #718 "Git Graph bottom bar button does not sync to the opened file in focus"
The natural, intuitive and normal expectation is that when opening Git Graph from the bottom bar button, it should show the repository under which the file in focus in editor exists.

Instead, a different repo is opened (the first one from the opened repos in the workspace? not sure exactly)

I already know that I can open the graph for a repo by selecting the option besides the repo in question,

[2022-11-08 12:34] CraigL-Synex commented on #717
I second this request.  Very regularly I need to swtich repos in the Git Graph view after finding an earlier commit and scrolling back to the top to get to that (and other controls) is somewhat time consuming and causes extra steps.

[2022-11-09 14:36] Omcsesz opened #719 "Errors when trying to build codebase"
Hello, Team!

@mhutchie After cloning the repo, I tried to build the codebase using the steps in https://github.com/mhutchie/vscode-git-graph/blob/develop/CONTRIBUTING.md. But after step3, I get the following error:

`node_modules/@types/prettier/index.d.ts:41:54 - error TS2315: Type 'IsTuple' is not generic.`

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Clone the repository
2. Ope

[2022-11-09 19:53] LeoRpc commented on #104
Hi everyone,

Thank you @mhutchie for your extension, I love it!

Apparently some emoji (🧹, 🎁 at least) are still missing on v1.30.0?

![image](https://user-images.githubusercontent.com/26821499/200927633-854625da-5a76-4089-963c-efd98b27a910.png)

[2022-11-10 07:55] bvandevliet commented on #715
I'm also worried the project is dead, I know there are some good PR's and worthy active issues to improve this extension far more. It would be a waste if those are not picked up. Or if someone has the time, ambition and permission to publish and maintain an official fork (@vkv perhaps? ;)), that would also be great. I would say this extension is too good to let go!

@mhutchie I hope you're well an

[2022-11-10 17:38] simchanu29 commented on #710
I get this issue as well on vscode 1.73. It seems it's linked to some changes in Chrome 101 (https://developer.chrome.com/blog/user-agent-reduction-deprecation-trial/)

I downgraded to 1.72, solved my issue.

[2022-11-10 18:36] Sam-Lin-MillersLab commented on #715
If the author hasn't been online for a year, I am more worried about his wellbeing at this point.

[2022-11-11 18:33] beback4u opened #720 "File View shows empty on Windows 10"
**Describe the Bug**
Git Graph shows empty in the File View on Windows 10 if I click one of commits.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Set up your local repo for Chromium with VSCode on Windows.
2. Click "Git Graph" icon on the status bar in VSCode IDE.
3. It will show all commits and branches correctly.
4. Click one of commits
5. The File View will be empty.

**Expected

[2022-11-15 00:11] sjackson0109 commented on #603
Multiple lines would work,
or multiple tags, stacked ontop of one another?
https://github.com/mermaid-js/mermaid/issues/3801

[2022-11-15 02:14] AnouarDoukkali opened #721 "copy commit hash to the clipboard by a click or when commit is selected"
**Describe the feature that you'd like**
it would be nice to copy the commit hash to the clipboard by a simple click ,  from the commit details or when the commit is selected

[2022-11-17 12:04] Chrismettal commented on #716
I'm having trouble understanding the problem.
If I want to cherry pick a commit onto my currently checked out one, I right click said commit and hit Cherry pick. The selected commit is then added to my working copy.
Are you right clicking your working copy, rather than the source commit you want to pick?

[2022-11-17 12:10] Chrismettal commented on #715
I have been trying to contact him about this as well. Would love to see additional people with write access, or a license that allows forking, whatever @mhutchie's preference would be.

[2022-11-18 03:48] wenbert commented on #29
Is there a way to compare more than 2 commits?

For example:
[code]

I would like to be able to select `Commit B` up to `Commit E`. And see files changed across those commits.

[2022-11-18 15:56] Chrismettal opened #722 "Add "checkout" function to tags"
Branches can be checked out by doubleclicking or with the context menu:
![image](https://user-images.githubusercontent.com/39636046/202746206-b8d4d381-4bfc-4dc5-b60d-2936718a6520.png)

But tags don't have this option:
![image](https://user-images.githubusercontent.com/39636046/202746259-789dcb5c-659c-4ef7-b794-7528320fe240.png)

Both commands use the same `git checkout X` command so adding the sam

[2022-11-21 00:26] ghost commented on #715
Please post an update if you manage to establish contact @Chrismettal

[2022-11-21 23:57] beback4u commented on #720
Chromium uses `\depot_tools\git.bat` by default. Looks like the issue (`git diff` doesn't return anything in getCommitDetails) was caused by an escape character (caret: ^) for Windows batch script.

[code]

As a workaround, it'll work if expanding `git.path` to the actual exe path as below:
[code]

[2022-11-22 19:37] bobatsar commented on #714
Hey @niccolomineo you can do this already. You just have to select both commits with the ctrl key pressed down. Then you can compare different commits (and you can of course also take two commits from different branches. I also had to search for this functionality and found it in one of the tickets here.

[2022-11-22 21:50] niccolomineo commented on #714
Awesome, thanks. I had no clue.

[2022-11-22 21:50] #714 closed, assigned to mhutchie

[2022-11-26 11:11] hyssongFu commented on #664
copy all the file path to clipboard one time is useful

[2022-11-28 10:39] #655 closed, assigned to mhutchie

[2022-11-28 15:57] yeggles commented on #29
If you hold the Ctrl key and click the first commit that you care about (so in your example you would click Commit A) and then click the last commit that you care about (Commit E).  It should provide a diff window that encapsulates all of the files that had changed across all of the commits between A and E.

[2022-11-29 04:03] wenbert commented on #29
Cool thanks that works.
What about selecting something not in a series / linear way? For example, `Commit A` `Commit C` and `Commit E`? (Skipping B and D for example)
A usecase is something like PHPStorm I have different branches and then want to compare them across different ones to create a totally different branch.

[2022-11-29 11:47] cxxcoder opened #723 "Only new filename is listed in diff view after rename"
**Describe the Bug**
When a file is renamed in a commit, the diff view only lists the new filename as changed.
This is very dangerous because it looks like the old file has not been changed and is still contained with its original name in the repo.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Create new repo with file and commit
2. Rename file by `git mv` and commit
3. View rename

[2022-11-29 15:03] yeggles commented on #29
I know you can compare commits that are on different branches, but I am not 100% sure if you can select more than 2 commits to do a diff.  I'm currently not working with VSCode at my current job or else I would have tested it for you.  Good luck.  Feel free to ask any additional question that you might have.

[2022-11-29 15:03] yeggles commented on #29
I know you can compare commits that are on different branches, but I am not 100% sure if you can select more than 2 commits to do a diff. I'm currently not working with VSCode at my current job or else I would have tested it for you. Good luck. Feel free to ask any additional question that you might have.

[2022-11-30 23:10] ghost commented on #700
more activity here https://github.com/mhutchie/vscode-git-graph/issues/715

[2022-11-30 23:10] #700 closed, assigned to mhutchie