[2020-12-15 22:22] BrendanSimon opened #437 "Retain sort status"
I use "Sort by status" in the source control `...` menu.

However this is not the default and when I relaunch vscode my previous selection is not retained.

Is there a way to set the default sort criteria and/or for git-graph to retain the last selected value?

If not, please consider this a feature request ;-)

[2020-12-15 22:24] #437 closed

[2020-12-15 22:24] BrendanSimon commented on #437
Actually this is probably built-in Source Control issue, rather than vscode-git-graph.  Sorry about that !!

[2020-12-15 23:00] mhutchie commented on #437
Hi @BrendanSimon,

You're correct that this functionality (and the entire Source Control View) is provided by the built-in Visual Studio Code Git Extension. After having a quick look, I couldn't see any existing Visual Studio Code settings that would allow you to save your View & Sort preferences for the Source Control View.

As the Source Control View is from the built-in Git Extension, any featu

[2020-12-16 06:25] bvandevliet opened #438 "Review file changes in a more convenient manner"
Now, when one commit or two commits are selected, the commit unfolds and changed files are shown within that drop-down area. It would be nice if these where shown on the left vscode panel, in the area where also changed files are shown before they are committed. This would be a more similar experience like in Visual Studio IDE and it keeps the changed files visible when reviewing the actual diffs

[2020-12-16 06:47] mhutchie commented on #438
Hi @bvandevliet,

Thank you for raising this feature request!

I definitely would like to incorporate this capability into Git Graph, and explore various other opportunities to leverage other regions of the Visual Studio Code interface to improve various workflows of users. I've received multiple feature requests in the past to expand outside of the current Git Graph View (mainly to the Side Bar)

[2020-12-16 06:47] #438 closed

[2020-12-17 09:30] mhutchie commented on #424
This will be available in v1.29.0.

I took the opportunity to completely overhaul Git configuration fetching & usage across Git Graph, to enable this feature and be better positioned for utilising other Git configuration values throughout Git Graph in the future.

If you'd like to use it before the next release, you can download [v1.29.0-beta.2](https://github.com/mhutchie/vscode-git-graph/release

[2020-12-17 09:30] #424 closed

[2020-12-17 10:33] MetRonnie commented on #424
Thank you, and can I take the opportunity to say what a great extension this is!

[2020-12-17 11:22] flyingmoro opened #439 "missing rendered "merge line" of graph when 4 parallel branches are shown, see the picture"
**Describe the Bug**
A part of the drawn graph is missing, this was a bit confusing, because it looked like a somehow dangling branch.

**Expected Behaviour**
Line from source to target branch for this merge should be drawn.

**Environment**
 - Git Graph Extension Version: 1.28.0
 - Visual Studio Code Version: 1.52.1
 - Operating System: Ubuntu

**Screenshots (optional)**
Develop is shown in blue:

[2020-12-17 11:57] mhutchie commented on #439
Hi @flyingmoro,

Zooming into your first screenshot, you can actually still see a slight hint of the blue line that you say is "missing" on either side of the green and orange lines. It just so happens that with this exact combination of lines that the blue line is hidden by the other lines in the graph.

![image](https://user-images.githubusercontent.com/5315753/102483116-635afe80-40b8-11eb-8653-

[2020-12-17 11:57] #439 closed

[2020-12-17 15:56] rherrmann opened #441 "Allow to position branch and tag labels to the right of the commit message"
There is a setting in _Git-graph_ > _Reference Labels_ > _Alignment_ to customize the position of branch and tag labels in the _Description_ column.

Allow to position branch and tag labels to the right of the commit message like this:

| Graph | Description | Date | ...
| --- | --- | --- | ---
| o | Some other commit message [some-other-branch] [some-other-tag] | 2020-12-...
| o | Some commit mes

[2020-12-17 19:11] mhutchie commented on #441
Hi @rherrmann,

Thanks for raising this improvement request!

When I implemented this extension setting, I did initially include this as another option while testing it. However, I found this made the graph extremely hard to use as the branch labels became so distanced from the graph, that it was really hard to see which labels aligned to which commit dots in the graph (quite important to accurate

[2020-12-17 19:11] #441 closed

[2020-12-20 20:53] flyingmoro commented on #439
Hi @mhutchie,
thanks for your answer. Now i understand the problem, thanks for explaining this.

I thought about how this might be solved and made the following drawing, that shows four different alternatives, that at least solve the problem in this special case here.
In all variations, the z-index of the lines of branches beeing more to the left, is always higher than the ones more to the right a

[2020-12-20 23:22] mhutchie commented on #439
Hi @flyingmoro, I'm glad to here that my explanation clarified what is going on, and that the extension helps you doing your work!

I definitely agree that some of the suggestions you've provided would improve the graph.

The graph layout & rendering algorithm in the extension has the following priorities (1 - highest priority, 3 - lowest priority):
1. All commits, branches, merges & branching mus

[2020-12-21 00:11] ginomempin opened #442 "UI is distorted"
**Describe the Bug**

When opening the Git Graph tab, the UI is distorted.

![Screen Shot 2020-12-21 at 8 59 46](https://user-images.githubusercontent.com/6091865/102727764-1f435480-436b-11eb-897b-fc7580cd81de.png)

I'm not sure if this is exactly related to Git Graph, but **no other tabs/panels are showing this problem**.

The Git Graph logs in the Output tab does not show anything wrong:

[code]

[2020-12-21 00:57] mhutchie commented on #442
Hi @ginomempin,

I've had another user report a similar distortion a week ago in #433.

After inspecting some of the coloured artefacts in the screenshot you provided, I've spotted many features that make it impossible for this to be caused by CSS styles, or anything from within the extension's control. Therefore, I'm confident it's not caused by Git Graph. The other Git Graph user who reported th

[2020-12-21 00:57] #442 closed

[2020-12-21 01:01] mhutchie commented on #433
Other Visual Studio Code users are reporting similar distortions with very similar blue artefacts in this Visual Studio Code issue https://github.com/microsoft/vscode/issues/69665#issuecomment-740928211. In the screenshot in the linked comment, the artefacts are shown over other parts of the Visual Studio Code interface, ruling out that this has anything to do with Git Graph. Reading some of the o

[2020-12-21 01:29] Heeam-Shin opened #443 "Git Graph doesn't show the repository after changing its name."
**Describe the Bug**
After changing the name of directory (which contains `.git` file), Git Graph doesn't show the repository of the directory.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Clone any repository.
2. Open Git Graph and check the repository.
2. Change the name of repository's root directory.
3. Open Git Graph. It doesn't show the repository.

**Expected Behaviour**
Eve

[2020-12-21 02:10] mhutchie commented on #443
Git Graph identifies repositories by the path of it's repository root on the file system, as it's the only way to uniquely identify a repository on the file system.

If you rename a repository on the file system, the extension will think the repository was deleted (because the old repository root no longer exists on the file system), and therefore remove it. There is no way of knowing that the new

[2020-12-21 02:10] #443 closed

[2020-12-21 02:24] Heeam-Shin commented on #443
@mhutchie,
Thanks for the quick answer. Both workarounds work fine!

[2020-12-21 02:34] ginomempin commented on #442
Sorry for not checking for existing issues.

I got it (magically) fixed now, by just doing a clean shutdown and boot-up (not from suspend mode).

1. Close all VS Code workspaces and windows
2. Quit VS Code (as in CMD+Q quit)
3. Shutdown
4. Boot-up
5. Reopen VS Code and reopen workspace

[2020-12-21 16:34] Diogo-Rossi commented on #332
Thanks for the answer. I was looking for this.

[2020-12-22 00:43] mhutchie commented on #404
This will be available in v1.29.0.

If you'd like to use it before the next release, you can download [v1.29.0-beta.3](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.29.0-beta.3), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2020-12-22 00:43] #404 closed

[2020-12-22 00:47] mhutchie commented on #390
This will be available in v1.29.0.

When creating a branch or adding a tag, the name is now checked against the existing branches and tags in the repository. If a branch / tag already exists with the same name, a new dialog is displayed that allows you to: replace the existing branch / tag, or to choose another name.

If you'd like to use it before the next release, you can download [v1.29.0-beta.

[2020-12-22 00:47] #390 closed

[2020-12-23 03:31] mhutchie commented on #417
This will be available in v1.29.0.

If you'd like to use it before the next release, you can download [v1.29.0-beta.4](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.29.0-beta.4), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2020-12-23 03:31] #417 closed

[2020-12-24 12:12] ivancuric commented on #317
Still observing this issue, using WSL2.

[2020-12-24 12:44] 0aqz0 opened #444 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.28.0`
- OS Version: `Linux x64 5.4.0-58-generic`
- VSCode version: `1.52.1`

:warning: Make sure to **attach** this file from your *home*-directory:
[mhutchie.git-graph-unresponsive.cpuprofile.txt](https://github.com/mhutchie/vscode-git-graph/files/5739568/mhutchie.git-graph-unresponsive.cpuprofile.txt)

Find more de

[2020-12-24 19:26] mhutchie commented on #444
After reviewing the cpu profile, I can see that the function that occupied the majority of the profile period was an event handler that receives events when files are created on the file system. It's used to detect when new Git repositories are created in the Visual Studio Code workspace, so they can be automatically included in Git Graph. The event handler is extremely simple ([see it here](https

[2020-12-24 19:26] #444 closed

[2020-12-26 13:00] ntrf opened #445 "Empty diff file list after Win7 update"
Git graph extension stopped showing file lists for commits for me for no apparent reason. After a bit of debugging i figured out that git-diff always return empty list, except the initial commit and the working directory. Looks like `^` symbols are ignored in command line. This behaviour was either caused by a recent critical security update for Window 7 (yes, MS still publishes them even though s

[2020-12-26 21:53] mhutchie commented on #445
Hi @ntrf, This is quite unusual!

When Git Graph runs Git commands, it spawns them in a child process (bypassing the shell). This means the extension doesn't need to handle quoting arguments, or preventing arbitrary code execution, as spawned child processes naturally handles it as it bypasses the shell. This means that from the extensions perspective, it just pass an array of strings as the argum

[2020-12-26 21:53] #445 closed

[2020-12-27 09:41] PiIsFour commented on #404
@mhutchie just tried it, works beautifully. Thanks a lot, this is amazing.

[2020-12-27 11:13] ntrf commented on #445
Ok, i've figured it out. The root of the problem was in the way git was installed on my PC. Back in 2008, when i first installed git on my machine, it was only usable in bash, so one had to generate file `git.bat` to make it visible in regular console through PATH variable. Over all these years i've never updated that file. As it turned out `.bat` scripts do process caret symbols as escapes for th

[2020-12-27 11:28] mhutchie commented on #445
Hi @ntrf,

I'm glad you were able to resolve this! Thanks for letting me know your findings, it's really useful for me to know if anyone else faces similar issues!

I've come across several differences with the Node.js Child Process library compared to other languages I've worked with in the past (when invoking other processes). This would definitely explain why your C++ program behaved differentl

[2020-12-29 12:43] freddi301 opened #446 "Changes of selected commits"
**Describe the feature that you'd like**
Selecting (click then shit+click) two commits (on the same chain) i would like to see the changes made only in those commits

**Additional context (optional)**
I use this feature a lot with gitkraken

[2020-12-29 20:59] mhutchie commented on #446
Hi @freddi301,

Thanks for raising this feature request!

This is a duplicate of #169, which was closed and moved to the backlog due to:
* A lack of interest from the user community (only two people indicated they wanted this functionality in an 11 month period).
* The complexity involved to implement it (described in the second half of [this comment](https://github.com/mhutchie/vscode-git-graph/i

[2020-12-29 20:59] #446 closed

[2021-01-04 10:43] gbreeze opened #447 "The graph is wrong"
**Describe the Bug**
The branch is merged to the "head", but the graph does not show that.

**Expected Behaviour**
![image](https://user-images.githubusercontent.com/1906169/103526829-c226c300-4e81-11eb-8537-3d34d6ea12ab.png)

**Environment**
- latest

**Screenshots (optional)**
![image](https://user-images.githubusercontent.com/1906169/103526694-960b4200-4e81-11eb-96e5-dedef95cfadf.png)

[2021-01-04 11:31] mhutchie commented on #447
Hi @gbreeze,

Lines in the graph can only be drawn between commits that are loaded in the Git Graph View. The commit "Merge branch 'CAS-283-Console-errors' into ..." doesn't appear in the screenshot you've provided, so naturally no line can be drawn to it. There are two highly likely reasons that the merge commit may be not included in the commits loaded in the Git Graph View:
* You've inadvertent

[2021-01-04 11:31] #447 closed

[2021-01-04 12:28] gbreeze commented on #447
Hi Michael, thanks for your help! I understand the issue now.

The information "This commit is **not** included in HEAD" is still a little bit misleading to me.
![image](https://user-images.githubusercontent.com/1906169/103535168-93641900-4e90-11eb-8364-b998a6937cb4.png)

If I disable "Only follow the first parent of commits" I have the correct information.
Thanks!

[2021-01-04 13:16] mhutchie commented on #447
Hi @gbreeze,

Thanks for letting me know that you’ve been able to understand what’s occurring!

The tooltips in the graph can only be based on topologically traversing the loaded commits and their parents (and children inferences), as the extension is only aware of the loaded commits. The “Only follow the first parent of commits” filter is the only filter that has the potential to make the tooltip

[2021-01-08 09:08] AlexVillarra opened #448 "Unaesthetic display of error message during push onto remote"
I've noticed before that upon encountering an error whilst pushing onto a remote, the error message displayed in the box is broken into many lines with "remote:" repeated every newline (see example screenshot below).
Although this does not affect functionality at all, and is more of an aesthetic problem, I was wondering if it would be possible to display the whole error message (not breaking it in

[2021-01-08 10:20] mhutchie commented on #448
Hi @AlexVillarra,

Git Graph displays the error messages produced by the underlying Git command that was run. This is for the following reasons:
* Git error messages are available in most common languages, which allows non-English speaking users to better understand the details of the error. This potentially means that parsing error messages may only work for English users (which is a minority of

[2021-01-08 10:20] #448 closed

[2021-01-12 12:48] JanVoracek opened #449 "Refresh the UI even when a post-checkout hook failed"
**Describe the Bug**
The UI doesn't refresh when a Git post-checkout hook fails. Also, the dialog says that it was "Unable to Checkout Branch".

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Create a post-checkout hook (`.git/hooks/post-checkout`), e.g.
[code]
2. Checkout some branch
3. See a dialog saying "Unable to Checkout Branch"
4. Dismiss the dialog
5. See that the UI didn't re

[2021-01-12 13:54] mhutchie commented on #449
Hi @JanVoracek,

When the extension runs a Git command for any of the available actions, it checks the returned status code to determine if it was successful, or if an error occurred. If the Git command was successful, it will refresh the view, otherwise (when error occurs) it will display the error message in a dialog (however it won't refresh the view). This is fine for the vast majority of erro

[2021-01-12 13:54] #449 closed

[2021-01-14 12:01] atinyakov opened #450 "Unable to load commits"
**Describe the Bug**
Error: Unable to load commits
fatal: bad revision 'Head'

on any work directory I have

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Click on 'Git Graph' in VS Code pane
2. See error

**Expected Behaviour**
No error

**Environment**
 - Git Graph Extension Version: 1.28.0
 - Visual Studio Code: 1.52.1
 - Operating System: Windows 8.1

**Screenshots (optional)**
!

[2021-01-14 13:09] mhutchie commented on #450
Hi @atinyakov,

When Git Graph is loading commits, it has to run the following three Git commands to get the commit information to display in the Git Graph View:
* `git log --max-count=301 --date-order --branches --tags --remotes HEAD --`
* `git show-ref -d --head`
* `git status --untracked-files=all --porcelain`

The error you're receiving is because one of these three Git commands is failing wit

[2021-01-14 13:09] #450 closed

[2021-01-15 09:14] atinyakov commented on #450
Thank you for responce,

I have executed all the provided commands, and it seems that there are no failures here, see:
![image](https://user-images.githubusercontent.com/33699664/104705364-de045180-572a-11eb-8e48-993f109361cd.png)

[2021-01-15 10:18] mhutchie commented on #450
Hi @atinyakov,

As long as the Git commands don't return `fatal: bad revision 'HEAD'`, then the command executed fine (blank responses are fine).

If you look at the Git Graph Output Channel in Visual Studio Code, you'll be able to see which version of Git the extension is using. For example, this is what the Output Channel looks like for me:

![image](https://user-images.githubusercontent.com/531

[2021-01-15 10:42] atinyakov commented on #450
Here is my output
![image](https://user-images.githubusercontent.com/33699664/104714412-37be4900-5736-11eb-9c49-944471e080e2.png)

I also not quire following your regarding mingw64. I am using Windows, so I had to install Git Bash, which I suppose is using mingw64?

PowerShell show the same result as bash
![image](https://user-images.githubusercontent.com/33699664/104715299-6be63980-5737-11eb-8e57

[2021-01-15 11:13] mhutchie commented on #450
Which directory is the root of your repository `d:/htmlacademy/excel` or `d:/htmlacademy`?

Git Graph has detected that `d:/htmlacademy` is the root of the repository, so it is trying to run the Git commands in that directory. Git Graph detects the root of the repository by running the command `git rev-parse --show-toplevel`. Try running the three Git commands I previously mentioned in the same di

[2021-01-15 13:54] gianlucaparadise opened #451 "Issue Linking: Support for Multiple Issue Tracking System"
**Describe the feature that you'd like**
Add the possibility to configure multiple Issue Tracking System.

**Additional context**
My team is using two Issue Tracking Systems and it would be useful to add a list of pair of _Issue Regex_ and _Issue URL_. This would let us match multiple IDs and for each matched ID use the URL for the correct Issue Tracking System.

[2021-01-15 20:34] mhutchie commented on #451
Hi @gianlucaparadise,

Thanks for raising this feature request, this is definitely a capability I want to implement in Git Graph!

I’ll close this request, as it’s a duplicate of the existing feature request #313.

[2021-01-15 20:34] #451 closed

[2021-01-19 02:49] k-yle opened #452 "extension fails if you have showSignature enabled in git settings"
**Describe the Bug**

In your `~/.gitconfig` file, add this:

[code]

and now the extension doesn't work at all, it just renders a blank screen (see screenshot below)

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. open `~/.gitconfig` in an editor
2. add this:
[code]

3. try to open the extension
4. note how that it's blank (see screenshot below)

**Expected Behaviour**

it should wor

[2021-01-19 04:16] mhutchie commented on #452
Hi @k-yle,

When you have the Git configuration variable `log.showSignature` set to `true`, it instructs Git to always include the signature information in the `git log` output, regardless of whether it is being run in a terminal or programmatically by some Git UI. When Git Graph runs `git log` to obtain the commit information for the repository, it specifies the format (via `--format=...`) that G

[2021-01-19 11:01] mhutchie commented on #452
Thanks again for making me aware of this!

This fix be available in v1.29.0.

If you'd like to use it before the next release, you can download [v1.29.0-beta.5](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.29.0-beta.5), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-01-19 11:01] #452 closed

[2021-01-19 19:35] k-yle commented on #452
thanks for the super fast fix @mhutchie !

[2021-01-21 11:16] MetRonnie opened #453 "Ctrl+Tab away from git graph prevents copying of code problem message"
**Describe the Bug**
This is a subtle one.

If I <kbd>Ctrl</kbd>+<kbd>Tab</kbd> from the extension tab to an editor tab which has "problems" identified by a linter/language server, I can't copy the problem message from the hover/peek problem dialog. I can only copy the message if I click on the editor tab instead of using <kbd>Ctrl</kbd>+<kbd>Tab</kbd>.

**Steps to Reproduce**
Steps to reproduce t

[2021-01-21 11:36] mhutchie commented on #453
Hi @MetRonnie,

After following the steps you provided, I can replicate this behaviour, and it occurs any time the user `Ctrl` + `Tab`'s away from any extension-contributed [Visual Studio Code Webview](https://code.visualstudio.com/api/extension-guides/webview). The Git Graph View uses a Webview to render it's content, along with many other extensions. I was able to replicate this bug with the Web

[2021-01-21 11:36] #453 closed

[2021-01-25 10:42] rbalet opened #454 "add - copy last tag to clipboard"
**Describe the feature that you'd like**
Follow this discussion, _I found the implementation you did really usefull, thx for that._

Would it be possible to, when the user click on the `i` button, to copy it into the `Name:` fields?

*  Then it won't be `The last used tag is v1.2.3` but `past the last tag: v1.2.3`
*  The icon may stay the same, or be something like this
    *  ![image](https://use

[2021-01-25 11:21] mhutchie commented on #454
Hi @rbalet,

Thanks for raising this feature request, it would definitely be nice to have!

The existing information icons & tooltips are built into the extension’s dialog implementation, which allows information to easily be added to any dialog field throughout the Git Graph View. I think it would be best to keep the information icons as is, as users are used to the current (and consistent) exper

[2021-01-25 18:39] MrPointer opened #455 "No graphical output at all under WSL, happens sporadically, solved by environmental restart"
**Describe the Bug**
A picture is worth 1000 words, so please see the attached screenshot.

As to when it happens - I honestly don't know! I can't seem to get a hold of any pattern, it happens quite randomly.
When I restart WSL by issuing `wsl --shutdown` from Powershell, it usually solves the issue, but not always, sometimes several restarts are required. In the most severe case, I had to restart

[2021-01-25 21:42] mhutchie commented on #455
Duplicate of #436.

Please see [my previous comment](https://github.com/mhutchie/vscode-git-graph/issues/436#issuecomment-744678297) for an explanation of what's occurring (you have cause 2) - this is a known Visual Studio Code WSL Webview bug, that affects all extensions that use Webview's (not just Git Graph).

[2021-01-25 21:42] #455 closed

[2021-01-25 22:01] MrPointer commented on #455
Oh sorry, couldn't find anything related to this bug while searching, I assumed it has something to do with WSL 😓
Cheers mate! Thanks for the quick response 🙂

[2021-01-28 07:08] oo6 opened #456 "Git Graph icon disappeared"
**Describe the Bug**
When I upgrade to the latest beta version of vscode, the icon disappeared in the source control panel.
I opened the developer tool, and I can see it is missing `codicon` class from other icons. if I add `codicon` class, it will be shown.

I am not sure this is a plugin or vscode problem.
Thanks.

**Steps to Reproduce**
1. Hover the source control panel

**Expected Behaviour**

[2021-01-28 07:50] mhutchie commented on #456
Hi @oo6,

Visual Studio Code extensions register actions for the Source Control View Title Menu in the [extension manifest](https://code.visualstudio.com/api/references/contribution-points#contributes.menus) (e.g. Git Graph does it [here](https://github.com/mhutchie/vscode-git-graph/blob/e513fc7f995e4840193a57817351344b2fc5a539/package.json#L1405-L1416)), and provide paths to the icons for the und

[2021-01-28 07:50] #456 closed

[2021-01-28 08:00] mhutchie commented on #456
I've just installed the latest Visual Studio Code 1.53.0 Insiders release, and the Git Graph menu item appears correctly. Please try installing the latest insiders release to see if Microsoft has already fixed this issue.

Version: 1.53.0-insider (user setup)
Commit: f73c011ae3f8df0aa4ba144cdee221e2e8690373
Date: 2021-01-28T06:16:16.520Z
Electron: 11.2.1
Chrome: 87.0.4280.141
Node.js: 12.18.3
V8:

[2021-01-29 13:55] deadraven commented on #387
This feature would be awesome.
I don't know if this would make it easier but maybe instead of a toggle for every commit it could be sufficient to show only commits that are a branch heads, tags or have more children (and so are branching points). That could provide the topology overview as well.

[2021-02-02 15:11] hansunzner-kt opened #457 "Add option to open diff with working tree + add button to open file from diff"
Hi,
It would be nice if I have the possibility to compare a selected file from a commit with the current working tree to be able to make changes in the diff view.
Something like this:

![Bildschirmfoto vom 2021-02-02 15-58-09](https://user-images.githubusercontent.com/68994013/106619502-f371dc00-6570-11eb-82b9-af1ed178f66c.png)

Furthermore it would be nice to have a button (on the Shortcut Menu B

[2021-02-02 22:42] mhutchie commented on #457
Hi @hansunzner-kt,

Thanks for raising this feature request! I'll include both of them in an upcoming release.

[2021-02-03 07:21] aNickzz commented on #207
Is Git Graph smart enough to know which commit is on which branch based of merge commit messages?

eg. "Merge branch 'master' into develop" would indicate that the first parent is `develop` and the second is `master`

[2021-02-03 08:08] hansunzner-kt commented on #457
Thanks!
What do you think of following:
Assume picking a diff view of a file from the last commit.
So the right side would be the same as the working directory if there were made no changes. Could you then make the right side editable?

[2021-02-03 08:16] mhutchie commented on #457
Hi @hansunzner-kt,

Yes. the right side of the Visual Studio Code Diff View would be editable. This is equivalent to the Diff View opened when viewing the diff of a modified uncommitted change via the Git Graph View.

[2021-02-03 08:26] mhutchie commented on #207
Hi @aNickzz,

Git Graph knows all of the branches which contain a commit ancestor (by traversing the parent/child relationships of commits). However, this is not the same as knowing the branch the commit was on when it was committed (which is what is needed for persistent colouring of commits & branches).

The approach you mentioned would definitely provide the necessary information from the merge

[2021-02-03 08:42] hansunzner-kt commented on #85
Very nice setting, thanks!
Does the vscode API allows it to change the size of the split view when opening a new?
If I set  "git-graph.openDiffTabLocation" to "Beside" it opens the diff view in a second view with the same width as the first. But this view is already splitted so a width of 2/3 would be nice. So all views then would have the same width.

[2021-02-03 10:28] mhutchie commented on #85
Hi @hansunzner-kt,

No, the Visual Studio Code API only allows the Editor Group to be specified, there is no mechanism to change the width. See [ViewColumn](https://code.visualstudio.com/api/references/vscode-api#ViewColumn).

[2021-02-03 10:42] hansunzner-kt commented on #85
What a pity but thanks for you quick response!

[2021-02-03 10:50] hansunzner-kt commented on #457
I meant that in a normal diff view, independently of this new feature.

[2021-02-04 00:41] aNickzz commented on #207
That's what I suspected. I know that commit messages aren't necessarily meant to be machine-readable, but it's not unusual for people to impose formatting restrictions on commit messages, eg. for generating a changelog. I've personally never changed the default merge message or been involved in a team that does, so probably I'm too optimistic about what could work.

In the case where the message c

[2021-02-04 10:20] hansunzner-kt commented on #85
What do you think about adding an option like `git-graph.openFileTabLocation` ?
Because the diffs I like to view in a tab beside but the file I want to see in the same tab.

[2021-02-04 10:59] mhutchie commented on #85
Hi @hansunzner-kt,

I'll gather some feedback from other users around your suggestion to split the functionality of `git-graph.openNewTabEditorGroup` into individual settings, to see how much user interest there is for it. If there's enough interest and perceived value, I'll raise it as a new feature request.

FYI: While I've deliberately made the extension extremely configurable for users, the mo

[2021-02-04 11:15] duckyb commented on #207
Lest just get persistent branches working for now, after that we can think about categorizing other branches if necessary.

[2021-02-04 13:56] justTravis commented on #426
Hello again.  Just wondering if there is an expected timeline for releasing 1.29.0 into the wild?  Not intending to be adding pressure or trying to nudge.  Just wondering.  It will be the first time I've asked for a feature in an open source project and had that feature go live, so it's exciting for me even beyond just wanting the feature :)

 
Travis

-----Original message-----
From: Michael Hutc

[2021-02-04 16:49] hansunzner-kt commented on #85
Oh yes that's a lot of settings. I found this setting also because google pointed me to this issue.
Let's see what the other users think about that.

[2021-02-04 21:30] mhutchie commented on #426
Hi @justTravis,

Apologies for the long delay in getting this feature released. I’d originally targeted releasing Git Graph 1.29.0 on 24 Dec 2020, however unfortunately I’ve been very unwell since mid-to-late December and haven’t been able to get the release out. I do intend to release Git Graph 1.29.0 this weekend - I got the majority of my final code review and testing done last weekend, so ther

[2021-02-05 11:10] MetRonnie commented on #360
Here's a usecase: having just noticed this feature in the settings, I tried to use
[code]
to exclude bugfix branches, but it doesn't work

[2021-02-05 12:13] justTravis commented on #426
Michael, I'm sorry to hear you were not feeling well.  I face that often enough myself.  I hope you are improving.  That's much more important than a release schedule.

 
Thank you for the update, and please do take care of yourself first.  We can all wait.

Travis

 
-----Original message-----
From: Michael Hutchison
Sent: Thursday, February 4 2021, 4:30 pm
To: mhutchie/vscode-git-graph
Cc: Travi

[2021-02-05 21:46] FabienSailliet opened #458 "The Git Graph tab closes when VS Code is restarted"
**Describe the Bug**
When closing and reopening Visual Studio Code, if the Git Graph tab was opened, it is not restored.

**Steps to Reproduce**
1. Open the Git Graph tab by clicking `Git Graph` in the status bar
2. Close Visual Studio Code
3. Start Visual Studio Code
4. There is no opened Git Graph tab

**Expected Behaviour**
The editor should start on the Git Graph tab, or at least the Git Graph

[2021-02-05 22:09] mhutchie commented on #458
This is a duplicate of #403.

Please see [my comment](https://github.com/mhutchie/vscode-git-graph/issues/403#issuecomment-715309655) for an explanation of why Git Graph currently doesn't support this.

[2021-02-05 22:09] #458 closed

[2021-02-06 12:26] Med-H opened #459 "Git graph and code commit do not share the same tab on the newest vscode release"
**Describe the Bug**
Git graph and code commit do not share the same tab on the newest vscode release.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. update to latest vs code 1.53.0

**Expected Behaviour**
git graph and code commit should share the same tab

**Environment**
 - Visual Studio Code Version: [e.g. 1.53.0]
 - Operating System: [e.g. Windows 10]

**Screenshots (optional)**

[2021-02-06 18:26] hansunzner-kt commented on #85
I had an idea. What about letting a box pop up and ask the user how he would like to view this diff when the select that for the first time?
But supposable the vscode API do not allow that...

[2021-02-06 22:02] mhutchie commented on #459
Hi @Med-H,

The extension doesn't contribute any "tab" to the Visual Studio Code Activity Bar, or the Visual Studio Code Source Control View.

The extension only contributes a single menu item to the Source Control Title menu, see the arrow in the screenshot below (which uses the Git Graph icon).

![image](https://user-images.githubusercontent.com/5315753/107130333-591ee900-6920-11eb-84c7-bfa076c3

[2021-02-06 22:02] #459 closed

[2021-02-06 22:21] mhutchie commented on #85
Hi @hansunzner-kt,

This is possible, as the Visual Studio Code's API allows Quick Pick's to be shown (I use this in the extension for several extension-contributed commands).

Although your idea is functionally workable, it's not consistent with the pattern used for settings in Visual Studio Code. Imagine if every time a user does something for the first time, they're asked what they'd like the d

[2021-02-08 08:23] hansunzner-kt commented on #85
Okay you are right.
You could also open a file always in the same tab as default regardless of the setting `git-graph.openDiffTabLocation` because that should only handle the diff tab (as the name says strictly speaking ;-) )

[2021-02-08 08:48] mhutchie commented on #85
Hi @hansunzner-kt,

The original setting implemented in this feature request `git-graph.openDiffTabLocation` has been depreciated - Visual Studio Code doesn't display it in the Settings View, and if a user has set it, they receive a depreciation message (originally users could only open the Diff View for a file). The setting was replaced by `git-graph.openNewTabEditorGroup` after the ability to op

[2021-02-08 10:29] hansunzner-kt commented on #85
Ah okay thats the reason why my setting is underlined :smile:

[2021-02-10 00:08] manecosta opened #460 "Empty window. Nothing loads"
I have this issue that when I open my projects in VSCode and open Git Graph, it always shows an empty window. Closing and reopening the Git Graph window has no effect. Restarting VSCode usually fixes it, however not if I do it quickly. Seems like some waiting is required, like leaving VSCode closed for a few seconds, and when opening it also waiting a few seconds before opening Git Graph.
I'm runn

[2021-02-10 00:13] mhutchie commented on #460
Duplicate of #436.

Please see [my previous comment](https://github.com/mhutchie/vscode-git-graph/issues/436#issuecomment-744678297) for an explanation of what's occurring (you have cause 2) - this is a known Visual Studio Code WSL Webview bug, that affects all extensions that use Webview's (not just Git Graph).

[2021-02-10 00:13] #460 closed

[2021-02-10 00:35] manecosta commented on #460
Thanks for the quick answer. It seems like the workaround doesn't work anymore on recent versions. However some movement has just happened on the vscode bug in the past hour incidentally. Hopefully it leads to a fix. Keep up the great work!

[2021-02-10 02:29] noshiro-pf opened #461 "Git graph UI sometimes crashes on WSL2"
**Describe the Bug**

Sometimes when I open git graph, the UI crashes as shown in the screenshot below.
It works fine normally, but suddenly crashes.
Reopening window and restarting WSL by `wsl --shutdown` doesn't fix it.
Git itself is working normally.
Apparently it only happens on WSL. I tried it with a repository on windows 10 and it worked fine.

**Steps to Reproduce**
I can't figure out the s

[2021-02-10 03:00] noshiro-pf commented on #461
Sorry, this was a duplicate of https://github.com/mhutchie/vscode-git-graph/issues/460.

[2021-02-10 03:00] #461 closed

[2021-02-10 15:11] williamluke4 opened #462 "Display the status of GH Actions Checks"
# Example
![image](https://user-images.githubusercontent.com/10773719/107528496-f69d4580-6bca-11eb-9742-09431edb6ccd.png)

- [ ] Display GH Actions Status
- [ ] Provide link to action details :point_up:

[2021-02-10 22:22] mhutchie commented on #462
Hi @williamluke4,

Thanks for raising this feature request, this would definitely be great to have in Git Graph!

The only hesitation I have is that this is a vendor specific capability, which can only be used by the portion of the extensions users that use public GitHub repositories and GitHub actions. One of the biggest factors I use when prioritising the implementation of features is the number

[2021-02-11 08:01] Med-H commented on #459
on fresh install the problem does not happen, but i wanted to clarify the problem, just in case someone else have it.
this is how it should looke like

![image](https://user-images.githubusercontent.com/74670211/107612828-65b87f80-6c47-11eb-8e67-e329b4fb9fcb.png)

but when updating from a previous version to the newest one, the icons are duplicated
![image](https://user-images.githubusercontent.co

[2021-02-16 04:21] ilyagr opened #463 "Integration with VS Code's "timeline" view"
It would be very nice if VS Code's "Timeline" view of a file (in the Explorer pane on the left, pictured below) had a button to jump to the corresponding commit in Git Graph, similar to the button Git Graph adds in the Git pane.

![Screenshot 2021-02-15 8 15 47 PM](https://user-images.githubusercontent.com/4123047/108017798-a22f0700-6fca-11eb-81b7-e0e253681a3f.png)

Conversely, it would be nice if

[2021-02-16 07:43] mhutchie commented on #463
Hi @ilyagr,

This would be a really nice integration between Visual Studio Code and Git Graph, and would definitely streamline the user experience!

Extensions can register a command to be displayed when right-clicking on a TimelineItem, and the registered command is called with two arguments:
* TimelineItem (which includes the commit hash)
* URI - The file being displayed in the Timeline View

Th

[2021-02-16 07:43] #463 closed

[2021-02-16 07:50] ilyagr commented on #463
Thank you for the detailed reply.

Thank you also for the wonderful extension! The combination of Git Graph and VS Code's terminal makes for an excellent Git experience.

[2021-02-16 15:58] MetRonnie opened #464 "Offer another chance to name branch if name already exists"
**Describe the improvement that you'd like**
When creating a new branch, if you accidentally try to give the branch a name of a pre-existing branch, you get an error dialog "Error: Unable to Create Branch". The only option is to press the "Dismiss" button, forcing you to right-click the commit again and type out a branch name again.

It would be nice if the textbox for naming the branch came back,

[2021-02-16 21:58] mhutchie commented on #464
Hi @MetRonnie,

This is a duplicate of #390, and is already implemented and available in the latest extension beta release, and will be available soon in Git Graph 1.29.0.

If you'd like to use it before the next release, you can download [v1.29.0-beta.5](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.29.0-beta.5), and install it following the instructions provided [here](https://git

[2021-02-16 21:58] #464 closed

[2021-02-16 22:01] MetRonnie commented on #464
Ah nice! Missed that when searching for existing issues

[2021-02-18 20:34] bitblitz opened #465 "Ability to filter by tags as well as by branches."
**Describe the feature that you'd like**
The existing branch filter works good - but should work with any ref, or at least tags.

[2021-02-18 21:48] mhutchie commented on #465
Hi @bitblitz,

Thanks for raising this feature request, this would be a great addition to Git Graph!

There’s a broader initiative that I’m still planning that is aimed to significantly expand the filtering capabilities in Git Graph - filtering by tags is definitely something that should (and will) be included with this.

[2021-02-19 14:13] barroudjo commented on #460
Just to let you guys know, this is fixed in vscode insiders 1.54.0. So it should be fixed in the general version pretty soon !

[2021-02-19 20:46] mhutchie commented on #460
Hi @barroudjo,

Thank you for letting us know, it’s great news that this bug (that’s been around in Visual Studio Code for such a long time) has finally been fixed!

[2021-02-23 00:32] edridgedsouza opened #466 "Copy File Path to the Clipboard (Relative)"
When examining a given commit, sometimes you'll want to use the command line to run `git show REVISION:path/to/file`. Currently, it's easy to copy the full commit hash to the terminal for this purpose. However, if you click the button for "Copy File Path to the Clipboard" within a given commit, it gives the absolute path rather than the relative path for the repository, which is what `git show` ex

[2021-02-23 02:24] mhutchie commented on #466
Hi @edridgedsouza,

Thanks for raising this feature request, it would definitely be useful to have the option to copy the relative path of a file, in addition to the absolute path!

I'll include this in an upcoming release of Git Graph.

[2021-02-24 22:05] Diogo-Rossi opened #467 "Feature Request: Option to open diff in a separate group of tabs"
**Current behavior**
When using the option *Click to View Diff* on a file in Git Graph, the diff opens in a separate tab in same group of tabs as Git Graph, hiding the view of Git Graph.

**Requested feature**
Add an option (maybe in *settings*) to change the behavior to open the diff in another group of tabs to keep the visualization of Git Graph.

The other group of tabs could be an *already exi

[2021-02-24 22:11] #467 closed

[2021-02-24 22:16] Diogo-Rossi commented on #467
I'm very sorry. That is easily reached with the option "Open New Tab Editor Group" setting different from "Active".
I should have explored the options before. Sorry for that. I closed the issue.

[2021-02-26 11:22] elliotching opened #468 "git graph cannot search commit msg after double LF line feed/next-line"
**Describe the Bug**
For example I have a git commit that is following commit message:
[code]

When I search the keyword 'init' , 'sha' and so on..., git graph cannot found my commit.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Simply make a git commit with message that contained double (enter)/(carriage-return)/(line-feed)/CRLF/LF
2. Try search a keyword that is only occur after

[2021-02-26 11:24] elliotching commented on #468
screenshot
![Screenshot 2021-02-26 192405](https://user-images.githubusercontent.com/20972678/109294533-45540c00-7868-11eb-9e68-a34893fad527.png)

[2021-02-26 22:52] mhutchie commented on #468
Hi @elliotching,

This is actually the expected behaviour for several reasons, however I can definitely understand the confusion (and a solution may potentially be implemented in the future).

---

Git has the notion of `subject` and `body` in commit messages. Git obtains each of these field from the commit message, such that the `subject` is all the text until the first double new line, and the `

[2021-02-26 22:52] #468 closed

[2021-02-28 09:32] mhutchie commented on #288
Hi @samherrmann, @PathogenDavid & @ntziolis,

In Git Graph 1.29.0 (just released today), I implemented the following feature:
* #390 When creating a branch or adding a tag, the name is now checked against all existing branches and tags in the repository. If a branch / tag already exists with the same name, a new dialog is displayed that allows you to: replace the existing branch / tag, or to choos

[2021-02-28 09:32] #288 closed

[2021-02-28 09:36] PathogenDavid commented on #288
That sounds workable to me, thanks @mhutchie!

[2021-03-01 13:32] zhanghnet9 opened #469 "Add a menu to view diff for one file using external diff tool"
Can add a menu to view diff for one file using the difftool settings in git config (e.g. view diff in Beyond Compare)?
I saw this extension has support "Open External Directory Diff"

![image](https://user-images.githubusercontent.com/44537377/109502459-fca08b00-7ad3-11eb-9dd2-6991a6cebb82.png)

[2021-03-01 21:05] mhutchie commented on #469
Hi @zhanghnet9,

Thanks for raising this feature request!

I added "Open External Directory Diff" in the latest Git Graph release, as it:
* Offers a completely new capability (from the diff tool) that is not closely available in Visual Studio Code or Git Graph.
* It is a single step that some users have as part of their workflow.

As Git Graph is an extension for Visual Studio Code, if a capabilit

[2021-03-02 09:39] kt-unzner commented on #85
Did you get some feedback yet?

[2021-03-02 09:41] kt-unzner commented on #457
What a pity that it didn't made it into the 1.29 :cry:

[2021-03-02 09:54] mhutchie commented on #85
Hi @kt-unzner,

The consensus so far is that `git-graph.openNewTabEditorGroup` is sufficient for most users needs, and that it's not worth adding an additional extension setting. However, I'll keep monitoring the various sources of user feedback in case this changes in the future (and implement it if appropriate).

[2021-03-02 10:02] kt-unzner opened #470 "Keep order of selection when comparing commits"
When comparing commit 1 against 4 or 4 against 1, it makes no difference in git graph.
But I think the additions and deletions has to be swapped.
Furthermore on second image: The selection where the file list is placed at puts the user in mind that that this is now the point of view. So I would assume "View File at this Revision" would give the the file version from 4 but is gives that one from 1.

[2021-03-02 10:04] mhutchie commented on #457
Hi @kt-unzner,

This feature should be available for you to use in a beta release within the next week or two. Git Graph 1.30.0  is currently scheduled for release on 28/03/2021.

[2021-03-02 10:40] mhutchie commented on #470
Hi @kt-unzner,

This is actually by design - regardless of the order you select two commits, the comparison is always from the oldest commit to the newest commit (both your screenshots show this with "Displaying all changes from c38ee566... to a32bcc5d..." on the left hand side).

When I tested the approach you've mentioned, and the current solution, the majority of users instinctively opened the

[2021-03-02 10:40] #470 closed

[2021-03-02 11:09] zhanghnet9 commented on #469
Hi @mhutchie ,

Supposing the new menu is "View Diff using DiffTool", I want see both "View Diff" and "View Diff using DiffTool". Currently the "View Diff" menu is very quick and convenient. But the Visual Studio Code diff is not very clear if many codes are changed in one file. Then I will use "View Diff using DiffTool" to use other tool (e.g. Beyond Compare) to see the changes.

After reading yo

[2021-03-02 11:26] mhutchie commented on #469
Thank you for your responses!

I'll close this feature request for now and move it to the backlog (for the reasons in my previous comment).

Note to other users reading this in the future: If you'd like this functionality, please reply to this thread to express your interest. I'd happily re-open and implement this feature if there is enough of an indication that it would be used & valued by a dece

[2021-03-02 11:26] #469 closed

[2021-03-02 12:30] kt-unzner commented on #457
:+1:

Yes I saw that. And that's adds the time I am still waiting for :-/

[2021-03-02 12:44] kt-unzner commented on #470
Git Extensions and the VSCode GitLens extension takes care of the order of selection for example...

Ah nice that removes the room for the misinterpretation. I think that should be the default option.
You could also align the file list always at the newest commit regardless of the order of selection. What do you think?

[2021-03-02 12:56] kt-unzner commented on #85
But then you have settings like that, that are very slight fine adjustments. Sorry I can't really follow that.
But I don't want to bother you. I really appreciate that you implement our feature requests at all :-)

![grafik](https://user-images.githubusercontent.com/68994013/109650794-0242b300-7b5e-11eb-9bd9-e5cf6758748e.png)

[2021-03-02 13:01] mhutchie commented on #470
I had experimented with this when I first implemented it, and found numerous reasons that in practice made it clunky and less than ideal compared to the solution that’s currently implemented.

[2021-03-02 17:05] griest024 opened #471 "Automatically replace disallowed characters with allowed characters in create branch form field"
**Describe the feature that you'd like**
When typing the name of the branch in the create branch dialog form field, I would like an allowed character (e.g. hyphen: `-`) to be automatically substituted in when I type a disallowed character (e.g. space: ` `).

**Additional context (optional)**
The inserted character should probably be configurable as I imagine some people would prefer `_` over `-`.

[2021-03-02 20:26] mhutchie commented on #471
Hi @griest024,

Thanks for raising this feature request, it would definitely be nice to have in Git Graph!

It seems like the space substitution you mentioned as an example would be the most useful.

There are numerous other disallowed characters that I don’t think there is a natural substitution for (e.g. `~`, `^`, `:`, `?`, `*`, `[`). I’ll have a think about how these should be substituted (if a

[2021-03-03 01:58] griest024 commented on #471
I think at the very least the form field should not allow those characters to be inserted into the branch name string. You could add a config option for each one of those characters but that seems cumbersome and most likely YAGNI.

I say for now just add an option to configure the space replacement character. I would be willing to submit a PR; let me dig into the codebase a little and I'll get bac

[2021-03-03 02:44] mhutchie commented on #471
Hi @griest024,

I agree that for now let's focus on the space replacement in all reference dialog inputs.

This is actually really quick and easy for me to do - I'm doing a beta release in around 9 hours, so I'm happy to implement it so it can be included in it.

[2021-03-03 02:45] griest024 commented on #471
@mhutchie okay go for it, don't let me hold you up

[2021-03-03 09:12] bassforce86 commented on #313
Sorry to expand the scope of this issue - I can create a new one if you'd prefer.

Would we be able to get named variable in the issue urls? (for instance $repo_name, $repo_project etc..) that would allow us to configure global links for entire sites instead of per-repo

[2021-03-03 09:14] mhutchie commented on #313
Hi @bassforce86,

That's a great idea! It's definitely within the scope of this improvement / feature request!

[2021-03-03 10:24] mhutchie commented on #466
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.0](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.0), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-03 10:24] #466 closed

[2021-03-03 10:29] mhutchie commented on #471
Automatic space substitution on reference inputs on dialogs will be available in v1.30.0.

The new extension setting `git-graph.dialog.general.referenceInputSpaceSubstitution` lets the user choose between "None", "Hyphen" & "Underscore". Currently it is set to "None" by default, so users must set their preference before any substitution is performed. In the future we can reconsider the default val

[2021-03-03 10:29] #471 closed

[2021-03-03 10:51] mhutchie commented on #395
I've explored numerous Git commands (and combinations of commands) that have the affect of resetting a local branch with a remote branch, while handling "remote branch has been force pushed and/or my local branch has changes". Each option has various subtle nuances and pro's & con's, however I believe I've implemented the option with the most net value for users (across many different workflows -

[2021-03-03 10:51] #395 closed

[2021-03-03 10:59] mhutchie commented on #466
I've added the option to the right-click context menu for files in the Commit Details / Comparison Views:
![image](https://user-images.githubusercontent.com/5315753/109795752-7159fd80-7c6b-11eb-8885-eed0f5bc9a84.png)

[2021-03-04 16:11] McPan opened #472 "Statusline is not updated when checking out a branch from gitgraph window"
[Statusline is not updated when checking out a branch from gitgraph window. Not sure if it's a gitgraph or maybe a VS-Code bug. Using current VS-Code version 1.53.2

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Create a new git repository
2. Commit some files to current branch 'master'
3. Create and checkout a second branch, i.e. 'develop'
4. Commit some files to current branch 'dev

[2021-03-04 18:44] McPan commented on #472
Just installed new VS-Code release 1.54, same behavior.

[2021-03-04 20:15] mhutchie commented on #472
This is a duplicate of #275, #280 & #282.

Please see [this previous comment of mine](https://github.com/mhutchie/vscode-git-graph/issues/282#issuecomment-602097824), which explains the cause of the behaviour you're observing (a Visual Studio Code Bug).

[2021-03-04 20:15] #472 closed

[2021-03-05 16:20] McPan commented on #472
Aw, my fault. Didn't check the closed issues before.

[2021-03-06 07:20] keydepth commented on #462
Hello! @mhutchie and @williamluke4 ,

Every day I use Git Graph extention.
This is very confourtable git extention for my software developnment.
I'd like to upgrade for this issue.
Please assign to me this issue.

I'v checked  vendor specific automation API.
GitHub Actions has workflow-jobs API, GitLab has Pipeline API and Jenkins has Build Status.

GitHub Actions has workflow-jobs API
 - https://

[2021-03-06 07:43] mhutchie commented on #462
Hi @keydepth,

Thanks for your work so far, that’s definitely some great progress!

Once you get to a releasable solution, please raise a PR so I can try it out, review your implementation, and give feedback.

[2021-03-06 20:15] keydepth commented on #462
Hello! @mhutchie,

I've implemented Pipeline/Workflow status for GitLab/GitHub.
It's just preview commit.
I'll change this feature name "Pipeline Status" to "CI/CD Status",
because "Pipeline" is only in the GitLab.

[2021-03-09 15:06] danocharron opened #474 "Compare to "local" or "workspace" rather then just two commits."
First I love you extension.
The power of comparing commits is what I like.

It would be nice to click on an older commit and compare to the local or working files such that the folder is pointing to the actual files not a copy.

This way you can make changes to the local / working files.

[2021-03-09 15:36] ppkwiatkowski opened #475 "Add possibility to display git notes"
As in the title, I would like to have an option to display notes (`git log --notes` option in git) in Git Graph UI.

[2021-03-09 20:30] mhutchie commented on #474
Hi @danocharron,

This is a duplicate of #457, so I’ll close this one.

#457 is currently almost completed, so it will be available in a beta release within the next day.

[2021-03-09 20:30] #474 closed

[2021-03-09 21:01] mhutchie commented on #475
Hi @ppkwiatkowski,

Thank you for raising this feature request! (I’d never heard of Git notes before)

There are two main ways we could go about supporting notes in Git Graph:
1. Display them in the Commit Details View, after the body of the commit on the left hand side.
2. Indicate them on the commits in the table itself (similar to branches and tags), and (1). Right-clicking on the note would th

[2021-03-10 09:18] mhutchie opened #476 "Contribute "Open File" command for Diff View with extension URI's"
Moving this from #457 for tracking purposes:

Furthermore it would be nice to have a button (on the Shortcut Menu Bar) or an entry in context menu to open the file from the current diff view. Like that one in the regular diff view:

![Bildschirmfoto vom 2021-02-02 15-58-34](https://user-images.githubusercontent.com/68994013/106619545-fec50780-6570-11eb-8603-4c3004f2cbb6.png)

[2021-03-10 09:42] mhutchie commented on #476
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.1](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.1), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-10 09:42] #476 closed

[2021-03-10 09:42] mhutchie commented on #457
Both of these features will be available in v1.30.0 (which has been tentatively been moved forward by one week to 21/03/2021).

If you'd like to use them before the next release, you can download [v1.30.0-beta.1](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.1), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Down

[2021-03-10 09:43] mhutchie commented on #474
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.1](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.1), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-10 16:09] ppkwiatkowski commented on #475
@mhutchie thanks for your answer!

For starter it would be cool to display them as described in 1. (this is how standard `git log` works)  if the `GIT_NOTES_DISPLAY_REF` env variable or `notes.displayRef` config setting is set. But having 2. would be even cooler.

[2021-03-10 19:33] mhutchie commented on #304
Hi @b3nab,

I investigated supporting the `--reverse` option, however I quickly discovered that there were numerous technical and user experience reasons why it was best not to support it. There also isn’t any work-arounds.

This was also requested in #133, which was closed due to the above reasons, coupled with the lack of user interest in it.

[2021-03-11 07:21] davidlin409 opened #477 "Github trusted extension support?"
**Describe the feature that you'd like**
A clear and concise description of what you'd like to be included in Git Graph.

In newer version of Visual Studio Code, there is an ability for Visual Studio Code APP to connect to Github directly. After that, all Git related operation are authenticated by Visual Studio Code. An extension called "[GitLen](https://gitlens.amod.io/)" uses this feature, such

[2021-03-11 09:41] mhutchie commented on #477
Hi @davidlin409,

Thanks for raising this feature request!

As a Visual Studio Code extension developer, I always closely monitor all new capabilities made available in Visual Studio Code and for extensions. Whenever Visual Studio Code releases new capabilities in their API, there is a delay before extensions can feasibly use it, as extensions must set the minimum version of Visual Studio Code the

[2021-03-11 09:41] #477 closed

[2021-03-12 07:00] jsg2021 opened #478 "Keep the header on top"
It would be nice to have a sticky header so it wouldn't scroll off screen.

[2021-03-12 07:05] jsg2021 opened #479 "New Repository Dropdown Order option that follows the order of multi-root workspace folder"
I have a large multi-root workspace. I frequently interact with the select box to switch between. It would be nice to make it more keyboard friendly such as:
- auto focus input on open
- arrow select/enter confirm
- sort options to match explorer

[2021-03-12 07:10] mhutchie commented on #478
Closing, as this is a duplicate of #132.

[2021-03-12 07:10] #478 closed

[2021-03-12 07:13] jsg2021 commented on #478
sorry for the dupe! 😊 I should have searched harder😊

[2021-03-12 07:43] mhutchie commented on #479
Hi @jsg2021,

Thanks for raising this feature request!

Unfortunately this is not feasible to do. Quite a number of users requested that the table of commits be focused on initial load, as it allows them to easily scroll through the commits using keyboard shortcuts (up/down arrows, home/end, page up/down). Also, the portion of users with many repositories in their workspace is definitely the minor

[2021-03-12 07:52] jsg2021 commented on #479
I'm sorry, I jotted the idea down incompletely. I meant to auto focus the input on opening the drop down not the main view. 😊

awesome 😊

I believe it's the default value. I will confirm in the morning. I believe it's sorting by full path.

With multi root workspaces you can order your projects how ever you want. Having an option to mirror that order would be nice. Most of mine are alphabetical. H

[2021-03-12 07:56] mhutchie commented on #479
Your first point is definitely something I'd like to do, thanks for the clarification!

I just experimented with your third point before your comment came through, and in multi-root workspaces the order of the roots can be set by the user (not necessarily the alphabetical order of full file paths) - as you also now mentioned. I'll work out how to support this as a new option for Repository Dropdow

[2021-03-12 08:03] jsg2021 commented on #479
thank you 😊

[2021-03-13 05:04] mhutchie opened #480 "Follow renames when loading a file in the Working Tree (from a historical commit)"
**Describe the improvement that you'd like**
The "Open File" and "View Diff with Working File" actions on the file context menu in the Commit Details View both open the file in the Working Tree.

Currently, if the file was subsequently renamed, the extension treats it as if the file was deleted (as the historically known file path doesn't exist in the Working Tree).

If the file no longer exists i

[2021-03-13 05:27] mhutchie commented on #480
This will be available in v1.30.0.

It will also be made available in the next beta release (within the next two days).

[2021-03-13 05:27] #480 closed

[2021-03-13 17:51] Igorgro opened #481 "Add integration with GitLab Workflow extension"
**Describe the feature that you'd like**
When pushing to remote GitLab repository on bare Visual Studio Code on Linux using https protocol, it asks for credentials. If the Gitlab Workflow is installed it performs some actions (most probably it uses access token), so if I push using regular vscode push command (Source control -> three dots menu -> Push), there is no need to enter credentials. But i

[2021-03-13 18:58] dan1994 opened #482 "Add "Mark as Un/reviewed" options to files in code review mode"
Add two new actions to Commit Details View File Context Menu (https://github.com/mhutchie/vscode-git-graph/blob/ad1ba5c16bf3982337df7982451ec9ea5942ab6c/web/main.ts#L2926-L2958):

Mark as Reviewed: Remove the file from the array of files remaining to be reviewed, and unbold it. This would appear when a Code Review is active, and the file isn't reviewed.
Mark as Unreviewed: Add the file back into t

[2021-03-13 18:59] dan1994 commented on #482
@mhutchie Please assign to me

[2021-03-13 21:54] mhutchie commented on #481
Hi @Igorgro,

I've investigated how "GitLab Workflow" is providing credentials for the built-in Visual Studio Code Git Extension. The built-in Git extension has an API that exposes a `registerCredentialsProvider(provider: CredentialsProvider): Disposable;` method, which allows other extensions to provide credentials for it to use. In your case, "GitLab Workflow" is registering a credential provide

[2021-03-13 21:54] #481 closed

[2021-03-14 08:15] mhutchie commented on #482
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.2), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-14 08:15] #482 closed

[2021-03-14 08:16] mhutchie commented on #480
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.2), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-14 08:24] mhutchie opened #484 "Allow Repository & Branches Dropdown's to be navigated via keyboard"
**Describe the improvement that you'd like**
Currently the Repository & Branches Dropdown's can only be interactive via the mouse (not via keyboard shortcuts).

These dropdowns should be brought inline with the CustomSelect implementation (used on Dialog's), which fully supports the keyboard navigation and selection of options. (e.g. arrow up/down, enter, space).

**Additional context (optional)**

[2021-03-14 08:26] mhutchie commented on #479
I've decided to split this improvement request into two, so they can be delivered independently. This improvement request now only refers to (1).
1. New Repository Dropdown Order option that follows the order of multi-root workspace folder (the new default order) - you're third point.
2. Allow Repository & Branches Dropdown's to be navigated via keyboard - you're first & second points.

---

This

[2021-03-14 08:26] #479 closed

[2021-03-14 08:44] jsg2021 commented on #479
This is awesome 😊 thank you!

[2021-03-14 19:51] jdiamond opened #485 "Support more context menu actions for branches"
I'm trying to add the Reset and Copy Hash actions to the context menu for branches with this in my settings.json:

[code]

Based on the definition I see [here](https://github.com/mhutchie/vscode-git-graph/blob/245863645afcdbf5fd6f0fb851dca4dbfdba2045/src/types.ts#L361), I think these options aren't supported.

Is it possible to support these options for both branch and remoteBranch context menus?

[2021-03-14 20:43] mhutchie commented on #485
Hi @jdiamond,

You're correct that these options aren't available on local or remote branches.

For "reset": Would you please clarify what behaviour you're expecting for this "reset" action do (in the context of branches)? (At the moment the reset action only resets the current branch to a specific commit / HEAD)

For "copyHash": I currently don't have it on the local or remote branch context menu

[2021-03-15 21:03] jdiamond commented on #485
For "reset", I'm hoping for the same behavior as when I right-click on a commit: it pops up a dialog asking if I want mixed or hard. I'm coming from SourceTree where I could reset by clicking on the branch label just like I could on the rest of the line and I keep surprising myself in GitGraph when I right-click on the branch label and don't see it (because in my head I'm thinking I need to reset

[2021-03-15 23:48] aNickzz opened #486 "Add "Unassigned" option for Keyboard Shortcuts"
**Describe the improvement that you'd like**
To be able to configure this extension's keyboard shortcuts with the rest of the shortcuts in vscode.

**Additional context (optional)**
I've rebound `ctrl + r` to "open recent" for as long (as I can remember as it seems more useful to me than "reload window"). However, this keybinding doesn't work if the Git Graph tab has focus. The same goes for `ctrl

[2021-03-16 02:23] mhutchie commented on #486
Hi @aNickzz,

All keyboard shortcuts available in the Git Graph View can be customised with the [Keyboard Shortcuts](https://github.com/mhutchie/vscode-git-graph/wiki/Extension-Settings#keyboard-shortcuts) extension settings, so you can chose alternatives that don’t clash with any Visual Studio Code Keybindings you have.

Due to the nature of how keyboard shortcuts are implemented with Visual Stud

[2021-03-16 10:57] mhutchie commented on #485
Hi @jdiamond,

Thank you for making those clarifications!

Unlike SourceTree and other stand-alone Git UI applications (that have the full screen resolution of the user's device to render UI), Git Graph has to work within just a portion of Visual Studio Code. This means there isn't room to have a dedicated list of branches to the side of the main commit view. Consequently, the only place that bran

[2021-03-16 10:57] #485 closed

[2021-03-16 23:41] aNickzz commented on #486
Thanks for the info. In that case, would it be possible to add an option to unbind a shortcut?
At the moment if I don't choose one of the ctrl+letter bindings (eg. setting the binding to `""`) I get a warning saying the setting is invalid and the binding reverts to default. For now, I've set the binding to ctrl+z which I'm unlikely to press when the graph is open.

[2021-03-17 02:19] mhutchie commented on #486
I'll add an "Unassigned" option for each of these Keyboard Shortcut extension settings, so you can chose not to have a keybinding.

I'll implement this tonight, so it will be included in the next release.

[2021-03-17 10:15] mhutchie commented on #486
This will be available in v1.30.0.

If you'd like to use it before the next release, you can download [v1.30.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.2), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-03-17 10:15] #486 closed

[2021-03-17 16:16] RAYDENFilipp opened #487 "Pull Request Creation incorrect URL"
When I use the setting-menu for creating GitLab pull requests, I get a weird URL.
Consider the following setting
![image](https://user-images.githubusercontent.com/24476415/111500217-69f72180-874c-11eb-8534-22774f1e7494.png)
![image](https://user-images.githubusercontent.com/24476415/111500240-6f546c00-874c-11eb-946c-cb9bc2d4867e.png)
I get the following URL
`https://git.sami.int.thomsonreuters.co

[2021-03-17 21:02] mhutchie commented on #487
Hi @RAYDENFilipp,

Different versions of Bitbucket, GitHub and GitLab sometimes use slightly different URL’s for creating pull requests. As mentioned in the information tooltip to the right of the Provider field in your first screenshot “In addition to the built-in publicly hosted Pull Request providers, custom providers can be configured using the Extension Setting "git-graph.customPullRequestPro

[2021-03-17 21:02] #487 closed

[2021-03-18 11:28] kt-unzner commented on #457
Astonishing how much more comfortable this little feature makes the working. Thanks again for this!
But another question:
When opening a file by the "Open File" button - is it possible to place the cursor of the just opened file to that position where it was in the diff view?

[2021-03-18 12:32] mhutchie commented on #457
There are two main cases when Diff View's are opened via Git Graph:
1. The Diff's right side is the file on the file system (i.e. the working file) - in this case, pressing the "Open File" button on the Diff View does open the working file to the same line number.
2. The Diff's right side is the file at a historical revision (not the working file) - in this case, pressing the "Open File" button on

[2021-03-18 14:55] kt-unzner commented on #457
Case two is the regarding case. Usually I have a look on what has changed last to this file and then open it at this position to continue there. Maybe you have a better idea for this workflow?
So it is a historical commit but with no changes to the working directory. Of course it would only make sense to keep the line number when the right side is equal to the working dir. Can you keep the curser'

[2021-03-18 15:03] kt-unzner commented on #457
Another question, not regarding this content:
Is there an option to view the stashes in the correct time order? Now it is always directly above the commit. Normally I would prefer this, but when comparing a stash to another commit, I would like to have the newest on top...

[2021-03-18 21:54] mhutchie commented on #457
Your suggestion definitely seems like the best way to deal with this scenario. The hesitation I have, is that it would be a reasonably complex piece of logic to implement, that will only benefit the user when the file hasn't changed. Additionally user's might see the behaviour as inconsistent, as sometimes it goes to the "line of code" they want, other times it just opens the file. Throughout the

[2021-03-18 22:42] RAYDENFilipp commented on #487
@mhutchie thank you very much!

[2021-03-20 14:46] dan1994 commented on #384
@mhutchie Please assign to me

[2021-03-22 09:02] kt-unzner commented on #457
Thanks for detailed feedback.

Ah yes I forgot that it is not official released yet. And I agree to get first some feedback from the users.

Another point:  Your button "Open a Terminal" only opens a terminal as the name says. But the same looking button in the Shortcut Menu Bar toggles the terminal. May you want to adapt the bahaviour to the Menu Bar button?

[2021-03-23 02:33] hkcomori opened #489 "Enable "Git Graph: File Encoding" Extension Setting to be "files.associations" Scoped"
My project has a different encoding for each extension.
The diff view of Git Graph wrong files encoding in any files which are encoded by Shift-JIS.

- VSCode Version 1.54.3
- Git Graph Version 1.29.0
- Windows 10 Pro x64 Version 1909

Steps to Reproduce:

1. Setup workspace settings according to this:
[code]

2. Initialize a git repository
3. Create "*.c" files which are encoded by Shift-JIS
3. C

[2021-03-23 10:50] mhutchie commented on #489
Hi @hkcomori,

Thanks for raising this feature request, it would be really nice to have in Git Graph!

Currently `git-graph.fileEncoding` is `resource` scoped, so it can be set at the user, workspace, and folder level (of the repository).

In order for `git-graph.fileEncoding` to be `language-overridable` scoped, it requires that the minimum version of Visual Studio Code that Git Graph supports is

[2021-03-23 10:50] #489 closed

[2021-03-23 10:58] hkcomori commented on #489
Thank you for your answer.
I look forward to future implementations.

[2021-03-28 01:06] BradL-Msft opened #490 "Date column show selected sorting date."
**Describe the improvement that you'd like**

The Date column allows sorting by Author or Commit date, but it always displays Author Date.
Some projects have Author and Commit dates with multi-month gaps (see context below for example).
This mismatch causes the graph view to show an apparently incorrect sort (though the sort is correct per the selected option.)

It would be clearer if the "Date" c

[2021-03-28 01:58] mhutchie commented on #490
Hi @BradL-Msft,

There is the existing [Date Type `git-graph.date.type`](https://github.com/mhutchie/vscode-git-graph/wiki/Extension-Settings#type) extension setting for exactly this reason, to allow the user to chose which date is shown. As you mentioned, this approach handles the Topological case nicely.

It is only available as an extension setting (and not in the Column Header context menu), a

[2021-03-28 01:58] #490 closed

[2021-03-28 03:01] BradL-Msft commented on #490
Thank you - sorry I didn't notice the setting

[2021-03-29 09:29] eladavron opened #491 "Markdown Code Blocks - Graph becomes misaligned with commits"
It's hard to explain in words, just see the screenshots below.
This only started recently (or maybe I didn't notice it before, which seems unlikely).
The lower you go on the graph, the farther apart the dots and their corresponding lines are.

I've attempted to change my screen's DPI and the apps' zoom levels - nothing seems to solve it, at any scale, it always remains unaligned.

**Environment**

[2021-03-29 10:07] mhutchie commented on #491
Hi @eladavron,

This is quite unusual, no one else had reported this!

The commits themselves are rendered in a table, and the graph is rendered such that the commits should align with the table rows. In order to do this, the vertical separation between commit dots is calculated by dividing the total height of the table by the number of commits. After experimenting with a variety of options, this

[2021-03-29 10:16] eladavron commented on #491
Thanks for the quick response.
I had the suspicion this was because of my pet peeve of using markdown in commit messages, but didn't know you could disable it in Git Graph.
Once I set `"git-graph.markdown": false` everything aligns again, so it's definitely because of that, good catch!
Looking forward for a possible fix :-)
Thanks!

[2021-03-29 10:41] mhutchie commented on #491
I've worked out a one-line style change on code blocks to prevent them from impacting the commit table row height, however I'll need to test it on multiple platforms to ensure the style change doesn't cause any other issues. Even just in testing the current behaviour on Windows vs Mac, on Windows the height inconsistency is twice as much as it is on Mac's.

I'll see how I go with testing it, eithe

[2021-03-30 10:33] mhutchie commented on #491
This fix will be included in v1.30.0.

Would you please download & install [v1.30.0-beta.4](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0-beta.4), add check to confirm that the Markdown inline code blocks no longer cause the graph to become misaligned with the commits. The change has fixed it for me, but it would be great if you can confirm it as well.

The "Manual Installation

[2021-03-30 10:33] #491 closed

[2021-03-30 13:17] eladavron commented on #491
Can confirm the issue is fixed in the beta.
Thanks for quick turnaround!

[2021-04-06 13:34] ghost commented on #171
Yes you are right, but #147 is not about filtering.

One possibility I could also imagine ist that only these commits are shown where the searched string was found.
Like vscode's full txt search.

[2021-04-06 13:51] krisztiantobias opened #492 "command 'git-graph.view' not found"
**Describe the Bug**
After updating from 1.29 to 1.30 I get an error message for the git graph view. If I switch back to 1.29 the feature still works.

**Steps to Reproduce**
1. Install 1.30.0 version
2. Set Keyboard shortcut for git-graph.view
3. Try to use it

**Actual Behaviour**
Error message _"command 'git-graph.view' not found"_ is displayed

**Expected Behaviour**
The graph view should show

[2021-04-06 14:05] mhutchie commented on #492
Hi @krisztiantobias,

The Git Graph contributed command `git-graph.view` is used when:
1. Clicking the "Git Graph" Status Bar Item
2. Running the "Git Graph: View Git Graph (git log)" in the Visual Studio Code Command Palette.
3. When a keyboard shortcut is run (that's assigned to the command in the Visual Studio Code "Keyboard Shortcuts" interface).

I've just tested all three of these, with an i

[2021-04-06 15:00] krisztiantobias commented on #492
Hi! Sorry about the issue creation, it was the same issue. The extension was not found and only the folder deletion solved the problem. Regards, Krisztián

[2021-04-06 15:00] #492 closed, assigned to mhutchie

[2021-04-06 15:13] mhutchie commented on #492
Hi @krisztiantobias,

I’m glad to hear that you’ve resolved the issue! Thanks for letting me know what you needed to do to resolve it, I can pass this onto other users if they encounter it in the future.

It seems like Visual Studio Code can (in extremely rarely circumstances) fail to properly install an extension. You’re the third user that I’m aware of who’s encountered it, in over two years, ov

[2021-04-06 17:52] ghost opened #493 "Diff views are not shown on first click with wrapTabs = true"
When having  "workbench.editor.wrapTabs" : true and the width of the window is so that it would need an additional tab line when the windows is activated because of the menu bar symbols need some more place, the diff view in the side only loads the diff on the second click on the same file.
Better to have a look at the screencast. First normal behaviour is shown then I resize the window as mention

[2021-04-06 19:53] Igorgro opened #494 "Creating annotated tag without message, how?"
Using this extension it is possible to create an annotated tag without message by not filling message field. However i can't reproduce this using git command, it just fails with 'fatal' message. I've investigated and found in "Output" tab that extension runs command `git tag -a <tag name> -m   <commit hash>`, but this command also doesn't work. So, how this is implemented and how it can be done wi

[2021-04-06 21:18] mhutchie commented on #494
Hi @Igorgro,

It depends on what terminal you use, but running `git tag -a <tag name> -m "" <commit hash>` in the Windows Command Prompt will produce an annotated tag without a message. I expect all other shells will have a way to specify an empty string argument.

Internally, the extension spawns a child process to execute each Git command, which accepts all of the command arguments as an array o

[2021-04-06 21:18] #494 closed, assigned to mhutchie

[2021-04-07 00:29] mhutchie commented on #493
Hi @kt-unzner,

I've been able to replicate this behaviour. I've determined that:
1. It occurs when the user shifts focus from another editor in Visual Studio Code to the Git Graph View. Visual Studio Code appears to change focus on the `mousedown` event.
2. Visual Studio Code recalculates the tabs, and resizes the Git Graph View.
3. If the `mousedown` event is also part of a click event, and Visu

[2021-04-07 00:29] #493 closed, assigned to mhutchie

[2021-04-07 07:48] ghost commented on #493
Thanks.

[2021-04-07 09:10] dan1994 opened #495 "Date doesn't account for timezone"
**Describe the Bug**

From what I've seen, only the commit's timestamp is used to render the date (both in the table, and details view). This causes dates and times to be offset by the difference in timezones between the user and the commit's author.

**Steps to Reproduce**
1. Open any repo with a commit from a different timezone.
2. The commit's date should appear as if it was committed in the sa

[2021-04-07 09:20] dan1994 commented on #495
My bad, it appears the timezone is only needed if you want the hour at the original timezone.

[2021-04-07 09:20] #495 closed, assigned to mhutchie

[2021-04-07 10:21] mhutchie commented on #495
The extension setting `git-graph.date.type` controls whether the date in the "Date" column is the author or committer date.

Currently the extension displays all times after conversion into the user's timezone, not the timezone of the author or committer. This is done so that at a glance all the dates make sense & appear in order, and the user doesn't have to deal with converting timezones in thei

[2021-04-07 10:29] dan1994 commented on #495
I agree with your approach, but had the impression that the conversation to the user's time zone was wrong, which was my mistake.

[2021-04-09 12:34] ItsCubeTime opened #497 "Git graph suddenly wont detect my git respiratory (used to work just fine)?"
![image](https://user-images.githubusercontent.com/20190653/114180387-6a946980-9940-11eb-9e8b-437fba70a3e9.png)

Any thoughts? Whats so strange about it is that the rest of VS Codes git tools detect it just fine (you can see some extension called git ease at the bottom left for instance reading the respiratory accurately)

[2021-04-09 12:42] mhutchie commented on #497
Please try running the "Git Graph: Add Git Repository" command in the Visual Studio Code Command Palette, and select the folder your showing in the File Explorer (i.e. the Git repository), to either add it, or see an error message that's occurring.

You can also look in the Git Graph Output Channel in Visual Studio Code to see more information.

[2021-04-09 12:46] ItsCubeTime commented on #497
Ah yes, thank you :) Worked like a charm 👍

[2021-04-09 12:46] #497 closed, assigned to mhutchie

[2021-04-11 08:30] mhutchie opened #498 "Verify and display the signature status of signed tags"
**Describe the improvement that you'd like**
Verify and display the signature status of signed tags on the "View Details" Dialog.

[2021-04-12 10:25] mhutchie commented on #498
This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.0](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.0), and install it following the instructions provided [here](https://github.com/mhutchie/vscode-git-graph/wiki/Downloading-&-Installing-Releases#manual-installation).

[2021-04-12 10:25] #498 closed, assigned to mhutchie

[2021-04-12 10:26] mhutchie commented on #494
I made several improvements to the logging of Git commands to the Output Channel, including to explicitly display empty string arguments as "".

This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.0](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.0), and install it following the instructions provided [here](htt

[2021-04-15 08:27] shiipou opened #499 "Add Issue linking by branch name (Optional)"
**Describe the feature that you'd like**
On all my repo in my organization, issue linking is made by branch name. This is the case for a lot of people, so I post my idea here :
It can be really useful to automatically link any commit of a branch to an issue by regex.
(It can be done by automatically suffix the commit message by `#18`)

I hope this idea can help many people to became a lot more pro

[2021-04-15 09:09] mhutchie commented on #499
Hi @shiipou,

This would be a great way to extend the existing Issue Linking functionality! I’ll include it in the next release.

[2021-04-15 09:48] shiipou commented on #499
Yes really useful I think, thanks you.
For the moment, I just use a custom script in the `commit-msg` in each of my `.git` local repo.

[2021-04-15 10:49] borekb opened #500 "Refresh built-in SCM panel / other Git UI automatically"
Sometimes, Git actions done via Git Graph are only reflected by the built-in Git support (e.g., the SCM sidebar / panel) after I manually click _Refresh_ there. It doesn't always happen but it's something I'm encountering encountered regularly during my day-to-day work so I thought I'd report it here.

Not sure if this extensions can do anything about it, maybe it calls all the relevant APIs alrea

[2021-04-15 11:10] mhutchie commented on #500
Hi @borekb,

This is a duplicate of #275, #280, #282 & #472.

Please see [this previous comment of mine](https://github.com/mhutchie/vscode-git-graph/issues/282#issuecomment-602097824), which explains the cause of the behaviour you're observing (a known Visual Studio Code issue).

[2021-04-15 11:10] #500 closed, assigned to mhutchie

[2021-04-15 11:53] borekb commented on #500
🤦‍♂️ and I promise I searched the issues! Sorry & thanks for the reply.

[2021-04-18 05:41] mhutchie commented on #499
After experimenting with a variety of implementation options that all achieved the core capability of this feature request, I settled on a new "View Issue" action on the Branch & Remote Branch right-click context menu's. There were benefit's and disadvantages to each option, but ultimately I felt the newly implemented solution made the best net trade-offs from both user experience & implementation

[2021-04-18 05:41] #499 closed, assigned to mhutchie

[2021-04-21 07:32] rbalet commented on #454
Hi @mhutchie If you need help for this one, you can point me out where to start and I'll make you a merge request.

[2021-04-21 08:41] mhutchie commented on #454
Hi @rbalet,

Thanks for the offer! Enhancing the core dialog implementation to allow custom icons with clickable actions can only be done by someone intricately familiar with the front-end of the extension, to ensure the solution is future-proof and able to be used for a variety of potential future use cases. Frankly, it just isn't a good fit to be done by anyone other than myself.

[2021-04-21 18:06] rbalet commented on #454
Hi @mhutchie

Faire enough ^^

[2021-04-22 07:24] ArnaudC commented on #348
Hello, anything new on this one ?

[2021-04-22 08:51] mhutchie commented on #348
Hi @ArnaudC,

It looks like some progress has been made on Microsoft’s side recently, so I’ll have another look this weekend to see if the underlying issues are now resolved (or can feasibly be worked around).

[2021-04-25 01:54] mhutchie commented on #348
Hi @ArnaudC,

I've just done some additional testing, and unfortunately the underlying Visual Studio Code limitation is still present. This prevents the Git Graph View (a Webview) from being restored across Visual Studio Code sessions, and there isn't any feasible work-around.

The recent progress that I mentioned on  Microsoft's side did resolve some other related concerns I had, but ultimately t

[2021-04-25 07:29] ArnaudC commented on #348
Hi,

I'm not an expert, but could it be possible to implement a
WebviewPanelSerializer ?

The doc says : https://code.visualstudio.com/api/extension-guides/webview

Then, in our extension's activate method, call
registerWebviewPanelSerializer to register a new WebviewPanelSerializer.

On Sun, Apr 25, 2021, 3:54 AM Michael Hutchison ***@***.***>
wrote:

[2021-04-25 07:40] mhutchie commented on #348
Hi @ArnaudC,

Yes, that's how to allow a Webview to be resumed after Visual Studio Code is restarted, and how I've already implemented it (since I started testing this capability over two years ago). The Visual Studio Code limitation I'm referring to is not this, it's to do with one of the many other changes that's required.

[2021-05-02 00:23] MatthewS2077 opened #501 "Font"
GitGraph is great! Thanks for this extension! 👍

I use the _Customize UI_ & _Monkey Patch_ extensions to change the font for the VSCode UI in my settings.json as follows:-

[code]

However, GitGraph doesn't use this font, it still uses the default "Segoe" font.

Is it possible to make GitGraph use the same font as the rest of the VSCode UI, or even just use the editor font?

Maybe an option?  🙏

[2021-05-02 02:38] mhutchie commented on #501
Hi @MatthewS2077,

The Git Graph View uses the Visual Studio Code CSS variables defined in [Webview's](https://code.visualstudio.com/api/extension-guides/webview) to be themed consistently with Visual Studio Code. See [Theming Webview Content](https://code.visualstudio.com/api/extension-guides/webview#theming-webview-content) for more information.

There are only two font family CSS variables that

[2021-05-02 02:38] #501 closed, assigned to mhutchie

[2021-05-03 22:22] dan1994 commented on #113
I've been tinkering with this feature and came up with something like:

![image](https://user-images.githubusercontent.com/6225230/116940419-9f14f000-ac76-11eb-9326-63fbf9b4adaf.png)

@scippio, @arisjulio, is this the kind of UI you were looking for?
@mhutchie, Do you think this is a good idea? If so I can develop this feature.

[2021-05-04 10:10] mhutchie commented on #113
Hi @dan1994,

After the initial discussion on this feature request, I’d come to the opinion that if it were to be included, I’d want to include more than just abort and continue. Both for completeness, and to better deal with a number of resulting scenarios I’d identified (that requires uplifting the broader Git Graph View capabilities). Consequently, this feature request would require a custom us

[2021-05-04 10:22] dan1994 commented on #113
OK, thanks for the response

[2021-05-06 08:02] deepnight opened #502 "Tiny icon in latest vscode 1.56"
**Describe the Bug**
The "Open GitGraph" button in SCM panel is microscopic since latest Vscode update (1.56.0). See screenshot below.

**Steps to Reproduce**
None, just open vscode.

**Environment**
GitGraph: v1.30.0
VScode:
[code]

**Screenshots (optional)**
![image](https://user-images.githubusercontent.com/1671695/117262973-16eb4200-ae52-11eb-86c9-3b6beb791d99.png)

[2021-05-06 08:33] borekb opened #503 "Support for remote repositories ("RemoteHub")"
VSCode is adding "RemoteHub" functionality – the ability to browse remote repositories without cloning them locally. It's currently available in Insiders edition, see [VSCode 1.56 release notes](https://code.visualstudio.com/updates/v1_56#_remote-repositories-remotehub).

It would be great if Git Graph was supported for this "remote" scenario – I have no idea if that's possible technically or not

[2021-05-06 09:45] mhutchie commented on #503
Hi @borekb,

Thanks for raising this feature request, it would definitely be a great integration to have in Git Graph!

As mentioned in the release notes, RemoteHub  is still as a preview “It is currently only available in the Insiders edition of VS Code.”. This means that Microsoft hasn’t finalised the API that extensions must use to integrate with it. Therefore it’s too soon to even consider int

[2021-05-06 09:45] #503 closed, assigned to mhutchie

[2021-05-06 10:00] mhutchie commented on #502
This is a Visual Studio Code Bug that was introduced in 1.56.0 - it’s affecting extensions that contribute commands (with icons) to the `scm/title` menu.

I’ve linked this issue to [the issue](https://github.com/microsoft/vscode/issues/123036) that had already been raised in Microsoft’s Visual Studio Code repository. Please follow it to track the delivery of the fix.

If you’re another Git Graph u

[2021-05-06 11:49] Falven commented on #465
@mhutchie Not to derail the topic but are you planning on adding filtering by author and/or date?

[2021-05-06 11:53] Falven opened #504 "Add the ability to rebase children from commit interactively"
**Describe the improvement that you'd like**
A simple right-click menu option on a commit in the tree-view that allows the user to rebase the children of that commit interactively.

https://i.stack.imgur.com/5co4C.png

**Additional context (optional)**
The menu option would just have to call `git rebase` with the selected branch and commit sha.

[2021-05-06 12:17] mhutchie commented on #504
Hi @Falven,

You can do an interactive rebase of the children of a commit (if on the current branch), by using the "Rebase current branch on this Commit..." commit context menu option, and then check "Launch Interactive Rebase in new Terminal".

![image](https://user-images.githubusercontent.com/5315753/117296198-1f766380-aeb8-11eb-9940-4cc691b5faaf.png)

Currently it's only possible to do an inte

[2021-05-06 12:17] #504 closed, assigned to mhutchie

[2021-05-06 12:26] mhutchie commented on #465
Hi @Falven,

"filtering by author" is being tracked by #171 "Filtering log from a specific author".

There are a few open feature requests / improvements that focus on improving the filtering and/or search capabilities in Git Graph (which are all part of a collective initiative that I'm working on) - this feature request is one of them. Filtering by date is also on my agenda to include in this pie

[2021-05-06 13:27] HarveyKBrown opened #505 "Find-function should scan non-loaded commit SHAs"
**Describe the improvement that you'd like**
When using find, the utility should scan commit SHAs for unloaded commits (ones that are not currently in the range of loaded commits in the list)

**Additional context (optional)**
I need to find specific SHAs for reviews of specific code changes that introduce issues to the codebase I work on. These will often be commits well over a year old. When I u

[2021-05-06 13:48] #505 closed, assigned to mhutchie

[2021-05-06 13:55] mhutchie commented on #505
Hi @Validifyed,

This feature request is a duplicate of #245 & #358, please read my previous comments [here](https://github.com/mhutchie/vscode-git-graph/issues/245#issuecomment-572892126) and [here](https://github.com/mhutchie/vscode-git-graph/issues/358#issuecomment-670479464) respectively for more information on the current behaviour, why this capability isn't currently available in Git Graph,

[2021-05-06 14:58] cusionline opened #506 "icon broken in source control"
Issue Type: <b>Bug</b>

git graph icon is very very smaller than usual

Extension version: 1.30.0
VS Code version: Code 1.56.0 (cfa2e218100323074ac1948c885448fdf4de2a7f, 2021-05-04T22:06:21.189Z)
OS version: Darwin x64 20.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9750H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabled<br>gpu_compositin

[2021-05-06 18:53] mhutchie commented on #506
Hi @cusionline, @iPherian and @skilkis

Please read [my response](https://github.com/mhutchie/vscode-git-graph/issues/502#issuecomment-833400201) to the open issue #502 (currently at the top of the open issues) - it is exactly the same as this, and clearly marked as a Visual Studio Code Bug (introduced in Visual Studio Code 1.56.0 yesterday).

@cusionline:
Even though it is a Visual Studio Code Bu

[2021-05-06 18:53] #506 closed, assigned to nobody

[2021-05-07 23:00] mhutchie commented on #502
Microsoft have included a fix for this in the latest insiders release. For me, it has resolved the issue for the icons that were affected in the extension. Would someone else please update to the latest Visual Studio Code Insiders release, and also verify the fix?

[code]

[2021-05-08 10:19] ghost commented on #206
What a pity that this issue didn't receive the needed 20 upvotes.

However I also would be happy to have the Below-option.

[2021-05-09 04:23] irvnriir commented on #457
Where is the feature at ? Its 1.30.0 .

![Screenshot](https://user-images.githubusercontent.com/13949704/117560560-49798280-b07e-11eb-9ce1-aae0e57b5e0b.png)

[2021-05-09 04:39] mhutchie commented on #457
Hi @irvnriir,

As mentioned in the [release notes](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.30.0), this is included on the File Context Menu in the Commit Details View, not the Commit Context Menu (which is shown in your screenshot). The file context menu is shown when you right click on a file in the Commit Details View.

![image](https://user-images.githubusercontent.com/5315

[2021-05-09 04:51] irvnriir commented on #457
@mhutchie thanks .

i have 1 Commit where it doesn't show X) . though it may be broken somehow -- the Commit also shows strange behavior at Cherry Pick .

Is there a setting to put it on the right side of Diff ? (so the new/green values would be ones from the selected file) To work with saved/stashed updates/changes .

[2021-05-09 05:17] mhutchie commented on #457
Hi @irvnriir,

There are a few cases where "View Diff with Working File" isn't available in the file context menu (all of which are necessary for a specific reason). It's the same conditions as the "View File at this Revision" action on the same context menu.

Just to clarify, are you asking whether there is a setting to switch the left & right sides of the Diff View (i.e. so the working file is o

[2021-05-09 05:26] irvnriir commented on #457
@mhutchie oh, the editable is the right one, nm then . i guess i'm still with some kinetic from previous diff tool (and y, very tired) X) thanks for clarification and sorry for bothering :)

[2021-05-09 05:31] mhutchie commented on #457
Hi @irvnriir,

All good, I'm glad I could help clarify the current behaviour.

[2021-05-09 19:43] rbalet opened #507 "Display a warning before pushing a tag that's not on a commit on the same remote(s)"
**Describe the Bug**
_It's may be a feature request_
I'm able to create a tag and push it to the origin without having pushed the latest changes done on the branch.

**Steps to Reproduce**
1. Merge a branch _(develop)_ into another _(master)_
2. Add Tag... -> push the tag
3. It will be pushed
4. Analyze on gitlab, _(maybe the same on github)_ everything seems to be working, also have the name of t

[2021-05-09 22:03] mhutchie commented on #507
Hi @rbalet,

I just tested this on GitHub to check it's behaviour compared to GitLab. On a GitHub Remote, it pushes the tag and all necessary commits to GitHub, so the tag ends up being on the correct commit. It seems like it might just be GitLab that's doing an unexpected behaviour.

Git Graph runs the necessary Git commands, based on what the user has requested in the user interface. In this cas

[2021-05-10 06:13] rbalet commented on #507
@mhutchie Like, always, thx a lot. I'll open an issue for the gitlab team

[2021-05-11 23:47] Daners opened #508 "Alert error Failed to register a ServiceWorker"
**Describe the Bug**
I try to display the git graph, but an alert is thrown with the error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Go to 'open git project in VScode'
2. Click on 'Git Graph" launch button in the Status Bar'
3. See error: Error loading

[2021-05-12 00:09] Daners commented on #508
Restart my computer, and everything works fine
![image](https://user-images.githubusercontent.com/3009697/117899299-684d6400-b28c-11eb-985b-b08c74472238.png)

[2021-05-12 07:14] EO2875 commented on #417
I am using v1.30.0, but I do not see this feature. This is what I see in the menu:
![image](https://user-images.githubusercontent.com/60835841/117934001-c0d83c00-b334-11eb-848d-af5c89b30e99.png)

[2021-05-12 07:32] mhutchie commented on #417
Hi @EO2875,

The screenshot you provided is the commit context menu, which is opened when right clicking on a commit.

In contrast, as mentioned above, this feature was added to the branch & remote branch context menu’s, which is accessed by right clicking on a branch / remote branch label.

[2021-05-12 07:40] mhutchie commented on #508
Hi @Daners,

Please raise this as a bug in Microsoft’s Visual Studio Code repository. The error you’ve included is caused within Visual Studio Code, and will almost certainly occur for all [Webview’s](https://code.visualstudio.com/api/extension-guides/webview) contributed by any extension (the Git Graph View uses a Webview). Visual Studio Code has complete control and manages everything about Webv

[2021-05-12 07:40] #508 closed, assigned to mhutchie

[2021-05-12 10:25] DavidBabel opened #509 "See files in activity bar on commit click"
**Describe the feature that you'd like**
It would be amazing to access the changes for a commit (when click on it) to a dedicated activity which lists the modified file for this commit (the same way the default git activity does).

This app also deserve it's own icon int the sidebar liked to this activity bar and the graph ui itself <3

[2021-05-12 11:10] mhutchie commented on #509
Hi @DavidBabel,

I'll close this as I believe it is a duplicate of #438 & #75. Please provide further clarification if I've misinterpreted your request.

[2021-05-12 11:10] #509 closed, assigned to mhutchie

[2021-05-12 12:17] tritemio commented on #317
I am experiencing this issue with (I believe) the latest released vs code, on linux:

[code]

[2021-05-13 13:37] elementalTIMING opened #510 "Double click on a commit will checkout without a warning to commit staged changes"
Today I've lost staged changes of more than 100 files. What happened?

1. stage changes
2. double click on a previous commit
3. the previous commit was checked out WITHOUT any warning that staged changes have not been committed yet

The effect is that the staged changes are gone lost and I need to the work again.

I'm using the latest version of VSCode and your extension.

[2021-05-13 14:21] tritemio opened #511 "Error loading webview"
**Describe the Bug**
With VS code 1.56.1 git graph does not work showing the message:

[code]

**Steps to Reproduce**
Use VS Code 1.56.1, click on the git graph icon

**Expected Behaviour**
See the git graph

**Environment**
 - Git Graph Extension Version: 1.30.0
 - Operating System: Ubuntu 2020.04

vs code:
[code]

**Screenshots (optional)**
Add any screenshots showing the bug.

**Additional Cont

[2021-05-13 17:55] Daners commented on #511
duplicate bug #508 [apparently it is a bug in VScode](https://github.com/mhutchie/vscode-git-graph/issues/508#issuecomment-839541139)

[2021-05-13 22:20] mhutchie commented on #510
Hi @elementalPRESS,

There is no double click action on commits themselves. The only double click action is on branch labels, which will check out the branch. However, if there are any local changes that would be lost, the underlying `git checkout` command throws an error, and this is then displayed to the user:
![image](https://user-images.githubusercontent.com/5315753/118193715-892fd800-b48b-11e

[2021-05-13 22:26] mhutchie commented on #511
Hi @tritemio,

This is a duplicate of #508, please read my [previous comment](https://github.com/mhutchie/vscode-git-graph/issues/508#issuecomment-839541139). It's one of several bugs that Visual Studio Code introduced in 1.56.x that affected all extensions that use a number of Visual Studio Code API integrations.

[2021-05-13 22:26] #511 closed, assigned to mhutchie

[2021-05-13 22:52] mhutchie commented on #510
Additionally, every Git command that I'm aware of that has the ability to impact local changes (e.g. `git merge`), has these checks built into them, and throws an exception before proceeding. All Git exceptions triggered by actions are displayed to the Git Graph user via an error dialog. As Git intelligently does these checks on the impact to local changes, they're transitively built into  anythin

[2021-05-14 03:14] mhutchie commented on #502
Visual Studio Code 1.56.2 has been released, which includes the fix for this bug.

[code]

[2021-05-14 03:14] #502 closed, assigned to mhutchie

[2021-05-14 03:14] mhutchie commented on #506
Visual Studio Code 1.56.2 has been released, which includes the fix for this bug.

[code]

[2021-05-14 09:23] tritemio commented on #511
@mhutchie thanks for pointing me to the correct issue. I apologize for the noise, and thanks for this great extension!

[2021-05-14 09:25] tritemio commented on #511
@Daners did you open an issue upstream for vs code? If yes, can you please link the issue here?

[2021-05-14 09:57] alexandre-eliot opened #512 "🐛 Scale proportionally the tree icon of vscode-git-graph"
**Describe the Bug**
In the _Source Control_ panel, on any tab of any repository; the tree icon of vscode-git-graph is almost too small to click on.

**Environment**
- Having a git repository recognised in the _Source Control_ panel

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Have a git repository opened in vscode's workspace
2. Go to on the _Source Control_ panel

**Expected Beha

[2021-05-14 10:10] mhutchie commented on #512
This is a duplicate of #502 - this was introduced as a bug in Visual Studio Code 1.56.0 last week.

It has since been fixed in Visual Studio Code 1.56.2, please update Visual Studio Code to resolve this issue.

[2021-05-14 10:10] #512 closed, assigned to mhutchie

[2021-05-14 13:55] danocharron opened #513 "Add a link to the "remote path" in the node summary."
Currently when you click a node (bubble) it brings up a summary. This summary does not include the "RemotePath".
It would be nice if it did. This way you can copy the node info and send it to another person (i.e. tester) and they have EVERYTHING they need to clone and test this code.

RemotePath: http://somewhere/repos/someproject.git          <---- Please add this !!!
Commit: 5680790c9c222975fd00

[2021-05-14 23:21] mhutchie commented on #510
As the requested information hasn’t been provided, I’ve been unable to replicate it because it just doesn’t seem possible (for the reasons mentioned in my previous responses), and none of the other ~1.25 million users have ever reported it in over two years, I’ll close this issue for now. Based on everything I can see, there just doesn’t seem to be any mechanism in Git Graph that could have caused

[2021-05-14 23:21] #510 closed, assigned to mhutchie

[2021-05-15 00:17] mhutchie commented on #513
Hi @danocharron,

Git Graph has to display a large volume of information to users in a portion of the user's screen in Visual Studio Code (unlike other dedicated Git UI applications). This means that it's a conscious effort of mine to not show redundant and/or duplicate information. All of the information currently displayed in the Commit Details View is unique to that specific commit (i.e. all th

[2021-05-15 00:17] #513 closed, assigned to mhutchie

[2021-05-15 19:06] mill1000 commented on #477
I would like to see this get more priority, especially with GitHub's move to disallow password based authentication in favor of PATs. I find myself in situations where the integrated SCM commands are authenticated, git commands in the integrated terminal are also authenticated (via VScode) but Git Graph is not.

This always seems to happen when I want to "quickly" fix something so going to generat

[2021-05-17 00:48] BrendanSimon commented on #387
+1 for me !!

When there are lots of branches with lots of commits it is hard to see the recent branch and an older branch (maybe years old).  E.g. for comparison or for merging etc.

Being able to fold/unfold (collapse/expand) branch heads would be a great - maybe with summary info (e.g. number of commits, date range, etc - which could be a hover tip or not?)

Also another way of visualising it i

[2021-05-17 16:14] steho opened #514 "GHit Graph stopped working after code upgrade"
Hello all,
I am using Git Graph on my Linux box (Debian 9, code 1.56.0-1620166262) and am very happy about this gorgeous  tool.
Today I upgraded code to 1.56.2-1620838498 as offered by apt and Git Graph stopped working with the message:
[code]
Downgrading to the previous version fixed the problem, but that can only be a temporary solution.

[2021-05-17 16:17] ghost opened #515 "Context menu always on top"
Is it possible to have the context menu always on top?
That would be useful in a scenario like displayed below.

![capture_20210517_181146_003](https://user-images.githubusercontent.com/68994013/118521715-970b8480-b73b-11eb-9067-4e43f989cf95.png)

[2021-05-17 21:00] mhutchie commented on #514
This is a duplicate of #508 & #511 - This is a Visual Studio Code Bug that has been raised with Microsoft.

[2021-05-17 21:00] #514 closed, assigned to nobody

[2021-05-18 09:08] mhutchie commented on #515
Hi @kt-unzner,

The current behaviour in this scenario is definitely less than ideal, however unfortunately I was unable to implement a better solution (see the reasons below). It is one of the reasons why docking the Commit Details View to the bottom is not the default behaviour.

For conciseness, scrollable frame refers to the scrollable element containing the graph & commits.

When the Commit D

[2021-05-18 09:08] #515 closed, assigned to mhutchie

[2021-05-18 11:31] ghost commented on #515
Okay, thanks for your explanation.

[2021-05-25 14:21] LinFor opened #516 "Reset file to specific revision feature"
**Describe the feature that you'd like**
The ability to reset a single file to a specific revision from commit details view.

I often reorganize commits when preparing pull requests, and sometimes it is necessary to transfer part of the changes from one commit to another. To do this, I usually make a "`git checkout <commit-id> <filepath>`" to get a file with the necessary changes in the working tr

[2021-05-25 21:06] mhutchie commented on #516
Hi @LinFor,

Thanks for raising this feature request, it would definitely be a great capability to include in Git Graph! I’ll include it in an upcoming release.

[2021-05-30 10:06] mhutchie opened #517 "Allow the Commit Details View's File Context Menu action's visibility to be user defined"
**Describe the improvement that you'd like**
In the past months, the Commit Details View's File Context Menu was added, and significantly expanded to. As it's now getting reasonably large, it should now also be included in `git-graph.contextMenuActionsVisibility`, so users to customise the visibility of each action.

[2021-05-30 10:35] mhutchie commented on #507
This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.2), and install it following the instructions provided [here](https://docs.mhutchie.com/vscode-git-graph/general/downloading-and-installing-releases#manual-installation).

[2021-05-30 10:35] #507 closed, assigned to mhutchie

[2021-05-30 10:36] mhutchie commented on #516
This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.2), and install it following the instructions provided [here](https://docs.mhutchie.com/vscode-git-graph/general/downloading-and-installing-releases#manual-installation).

[2021-05-30 10:36] #516 closed, assigned to mhutchie

[2021-05-30 10:36] mhutchie commented on #517
This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.2](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.2), and install it following the instructions provided [here](https://docs.mhutchie.com/vscode-git-graph/general/downloading-and-installing-releases#manual-installation).

[2021-05-30 10:36] #517 closed, assigned to mhutchie

[2021-05-30 10:47] LinFor commented on #516
Thanks!

[2021-05-31 04:51] shubhamnarkhede opened #518 "Extension causes high cpu load"

[2021-05-31 04:56] #518 closed, assigned to nobody

[2021-05-31 16:13] chr7 opened #519 "Add "merge --abort""
With #248 the git option "--no-commit" for merging was introduced. However, what seems to be missing, is to abort a merge after having used that option.

So, "git merge --abort" is missing.

In addition, it would be nice if a pending merge could be displayed in the graph, e.g. by a dotted line between the involved branches.

[2021-05-31 21:56] mhutchie commented on #519
Hi @chr7,

Thanks for raising this request, I’d been thinking about implementing both the ability to perform a `git merge --abort` from the Git Graph View, and displaying pending merges in the graph for a while, but up until now no users had requested it.

I think both of these requests should be implemented together, as by displaying the pending merge in the graph (included with a dedicated table

[2021-06-02 17:21] itsmuaaz commented on #174
I dropped a commit accidentally and need to undo this, is this possible in any way?

[2021-06-02 18:49] chr7 opened #520 "Add "git commit --amend""
**Describe the feature that you'd like**
A way to amend the last commit ("git commit -amend")

**Additional context (optional)**
Right clicking one the last commit of the current branch could offer next to "Checkout..." the entry "Amend".

![grafik](https://user-images.githubusercontent.com/7242780/120535720-9a616a00-c3e3-11eb-86a4-e517111e4f10.png)

[2021-06-02 20:08] mhutchie commented on #174
Hi @MuathAmer,

In the Git Graph View’s Repository Settings Widget, you should be able to temporarily turn on “Include commits only mentioned by reflogs”. This should allow you to see the dropped commit, and then perform the required actions to include it back into your branch.

[2021-06-03 11:31] mhutchie commented on #520
Hi @chr7,

The ability to amend the latest commit is already available in Visual Studio Code’s built-in Git extension. As the Visual Studio Code implementation is already available, and is well integrated with their extensive commit capability, I wouldn’t want to duplicate it in Git Graph.

In general, I don’t duplicate any Git capability available in Visual Studio Code unless additional value can

[2021-06-03 11:31] #520 closed, assigned to mhutchie

[2021-06-03 20:20] chr7 opened #521 "Improve finding Stashes in the graph"
**Describe the improvement that you'd like**
With #48 and #201 the display of Stashes in the graph has been introduced but you can't find them easily in the graph if you have a long history and several branches.

Thus I would like to have the possibility to search or filter for Stashes to get there more easily.
A list of Stashes with the possibility to jump to the corresponding position in the gra

[2021-06-03 20:58] chr7 commented on #207
Having persitent branches is a nice feature if you work in a repo for a longer time and got used to the columns. If you switch between repos regularily you have to figure out again which branch is displayed on what column. Therefore I could imagine that having the name of a branch displayed all the time (e.g. vertically on the graph) could be more helpful.

[2021-06-05 05:21] mhutchie commented on #521
Hi @chr7,

I find the following two Keyboard Shortcuts in the Git Graph View to be the quickest way to find the stash I'm interested in, particularly when they are on different branches and among lots of other commits.
* `CTRL/CMD + S`: Scrolls the Git Graph View to the first *(or next)* stash in the loaded commits.
* `CTRL/CMD + SHIFT + S`: Scrolls the Git Graph View to the last *(or previous)* s

[2021-06-05 11:06] itsmuaaz commented on #174
@mhutchie
Very helpful and quick! Thank you so much!

[2021-06-08 06:58] marco-m-pix4d opened #522 "Support for Git File Type Changes (e.g. symbolic links <-> files)"
**Describe the Bug**

Git allows to track symlinks. If a file was originally added to a git repo as a symlink, and subsequently is replaced with a normal file (so the name stays the same), it will be reported as `typechange`:

[code]

This extension:
- reports correctly the change count: "Uncommitted Changes (1)"
- but does NOT list the change in the panel to the right of "Displaying all uncommitt

[2021-06-08 08:58] mhutchie commented on #522
Hi @marco-m-pix4d,

The extension currently runs `git status --untracked-files=all --porcelain` to determine the number of uncommitted changes (1 in your example). However when retrieving the files to display in the Commit Details View, the commands `git diff --name-status --find-renames --diff-filter=AMDR HEAD` and `git diff --numstat --find-renames --diff-filter=AMDR -z HEAD` are used. As expect

[2021-06-08 11:28] marco-m-pix4d commented on #522
Hello @mhutchie,
thanks for the quick and detailed explanation.

I now understand that, since vscode itself (via the built-in extension) doesn't support git type changes, it can be complicated / unclear if justified to implement support for this in Git Graph.

If I could choose, I would prefer for this extension to stay lean and quick (in general, not only for this particular feature), so for sure

[2021-06-08 13:57] antoninklopp opened #523 "Add match whole word option in search"
First of all, thank you very much for this extension which is truly awesome and helps me every day.

**Describe the feature that you'd like**
The search is really useful, but I only see a *case* match and a *regular expression* match, would it be possible to add an *exact* match?

[2021-06-08 23:17] mhutchie commented on #523
Hi @antoninklopp,

Would you please provide an example of what you're referring to by an "exact match"?

If you're referring to "Match Whole Word" (e.g. `the` will match the word `the` but not `other`), you can do this by using a regular expression `\bthe\b`. `\b` is used to anchor to word boundaries, and is how whole word matching is typically achieved.

[2021-06-09 14:33] antoninklopp commented on #523
*Match whole word* exactly !

Thanks for providing the regular expression that can achieve the same behaviour but for example vs code has directly this matching as a button (when doing a `ctrl-f` search on a file for example), which is really easier than using the regular expression, when wanting to toggle and untoggle the *match whole word* matching

[2021-06-09 20:05] chr7 commented on #521
Thanks for the hint about the search. Sure, it works but you have to have an idea of the string you are looking for. For example, if I have only a very vague idea how a tag could be named then it will be hard to find it. Selecting it - as you suggested - from a list and jumping there  is definitively more comfortable and faster.

[2021-06-09 21:06] mhutchie commented on #523
Hi @antoninklopp,

Thank you for confirming what you were referring to. I’ll include this in an upcoming release (for consistency with Visual Studio Code’s Find functionality).

[2021-06-11 04:59] tritemio opened #524 "Visual Studio Code 1.56 - 1.64 Service Worker Bug"
**Describe the Bug**
GitGraph broke on vs code 1.57.0

See https://github.com/microsoft/vscode/issues/125993

[2021-06-11 05:13] mhutchie commented on #524
Hi @tritemio,

This is a duplicate of  #508, #511 & #514 - a small number of users reported this when upgrading to Visual Studio Code 1.56.0 as well. It's a Visual Studio Code bug that Microsoft still hasn't, and needs to address - it affects all extensions that use Visual Studio Code Webview's.

[2021-06-11 05:28] tritemio commented on #524
@mhutchie thanks for the answer. Yes, I had the bug already in 1.56.0 then it disappeared for a while, then it reappeared now with 1.57.0. Do you know any workaround until vs code fixes the issue?

As you noticed I opened a VS Code issue first. Are they aware of the problem? Do they have all the info to fix the bug?

[2021-06-11 06:44] mhutchie commented on #524
Hi @tritemio,

There's nothing that can be done at the extension level, as the issue is inside of Visual Studio Code and affects all extensions that use Webview's.

I'll add some additional details to your Visual Studio Code issue.

[2021-06-11 08:19] mhutchie commented on #524
@tritemio Would you please rename your issue in the Visual Studio Code repository to "Webview Service Worker Error (Linux)", to highlight that it affects all extensions that use Visual Studio Code Webview's (and not just an issue with a single extension). This should make it be higher prioritised, as users from other extensions with the same issue can all use it.

[2021-06-11 09:18] tritemio commented on #524
Done

[2021-06-13 14:37] Karing2016 opened #525 "can not open git graph in v1.57"
Issue Type: <b>Bug</b>

1. press "view git graph" button
2. git graph tab shows:
Repo:
Branches:
Show Remote Branches

Extension version: 1.30.0
VS Code version: Code 1.57.0 (b4c1bd0a9b03c749ea011b06c6d2676c8091a70c, 2021-06-09T17:18:42.354Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No
Remote OS version: Linux x64 3.10.107-1-tlinux2_kvm_guest-0050

[2021-06-14 00:34] mhutchie commented on #525
Duplicate of #436.

Please see [my previous comment](https://github.com/mhutchie/vscode-git-graph/issues/436#issuecomment-744678297) for an explanation of what's occurring, and the resolution / actions you can take. While you can easily resolve this issue yourself if it is cause 1, I suspect you likely have cause 2 (as there are still issues with the Visual Studio Code Webview implementation, even

[2021-06-14 00:34] #525 closed, assigned to nobody

[2021-06-14 11:31] finnmerlett commented on #524
Restarting my computer fixed this bug for me

[2021-06-15 15:52] ahwitz opened #526 "Support for `--recurse-submodules` in right-click context menu"
**Describe the feature that you'd like**
We have a repo with a submodule in it, and every time we use the right-click "Checkout branch..." option, it shows up with the submodule as being modified in the base VS Code source control pane because the module hasn't been updated. Using the `--recurse-submodules` flag with `git checkout` doesn't have that happen, but I don't see an option to add that fl

[2021-06-15 21:23] mhutchie commented on #526
Duplicate of #352 - Please read my previous responses.

FYI: According to https://git-scm.com/book/en/v2/Git-Tools-Submodules, running `git config submodule.recurse true` may achieve what you’re wanting as a work-around.

[2021-06-15 21:23] #526 closed, assigned to mhutchie

[2021-06-15 21:26] ahwitz commented on #526
Perfect, thanks! Searched "recurse" and didn't see any results, so sorry for the dupe!

[2021-06-16 02:18] DukeHouse opened #527 "[Code Server] Could not work in other browser except chrome"
when i update the latest code server,

git graph could not see the history in other browser except chrome

this is a firefox ,it is the same as on my safari
![Screenshot from 2021-06-16 10-10-58](https://user-images.githubusercontent.com/52644701/122147710-ffa96680-ce8b-11eb-959e-9338efebddff.png)

[2021-06-16 02:19] DukeHouse commented on #527
MacOS version 11.3
Ubuntu 16.04
latest coder server and git graph

[2021-06-16 03:48] AllenHuai commented on #524
work wrong.
![image](https://user-images.githubusercontent.com/23722095/122154982-a431a580-ce98-11eb-8d7e-1777ab7006b7.png)

vscode : 1.57.0 (Universal)
gitgraph: 1.30.0

[2021-06-16 04:05] mhutchie commented on #527
Hi @DukeHouse,

You mentioned that it occurs "when i update the latest code server". Does this mean that it was working correctly in prior Code Server releases?

I've just tested Git Graph 1.30.0 via Microsoft's officially supported Codespaces on GitHub on multiple web browsers, and the extension is working correctly in Google Chrome, Firefox, Safari & Microsoft Edge. Therefore this issue is almos

[2021-06-16 04:05] #527 closed, assigned to mhutchie

[2021-06-16 05:15] DukeHouse commented on #527
thans for your reply，i has commit issue to them. -------- 原始邮件 --------发件人： Michael Hutchison ***@***.***>日期： 2021年6月16日周三 中午12:05收件人： mhutchie/vscode-git-graph ***@***.***>抄送： DukeHouse ***@***.***>, Mention ***@***.***>主    题： Re: [mhutchie/vscode-git-graph] [Code Server] Could not work in other browser except chrome (#527)
Hi @DukeHouse,
You mentioned that it occurs "when i update the latest co

[2021-06-17 13:35] mxsxs2 commented on #171
Just to add to this. It would be great if exclusion would also be allowed. For example we use dependabot which creates a large amount of branches. It would be great if we could optionally see all the branches except the ones that created by dependabot.

[2021-06-18 20:44] dlech opened #528 "Can't paste into VS Code search when Git Graph tab is active"
**Describe the Bug**
When the *Git Graph* tab is open, <kbd>Ctrl</kbd>+<kbd>V</kbd> no longer works when trying to paste in the VS Code search box.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Open a git repository
2. Copy some text to the clipboard
3. Paste it in the search box - works OK
4. Clear the search box
5. Open the *Git Graph* page for the repository
6. Try to paste in th

[2021-06-18 22:16] mhutchie commented on #528
Hi @dlech,

I've been able to replicate this bug, and it's caused by a bug in the Visual Studio Code [Webview](https://code.visualstudio.com/api/extension-guides/webview) implementation that must have been introduced in one of the latest Visual Studio Code releases. Whenever any extension-contributed Webview is visible, the search input can't be pasted into. The Git Graph View uses a Visual Studio

[2021-06-18 22:22] dlech commented on #528
Thanks for testing. This could be the bug: https://github.com/microsoft/vscode/issues/116897

[2021-06-18 22:33] mhutchie commented on #528
I've just raised a new bug in the Visual Studio Code repository for this, as I believe it was only introduced more recently. https://github.com/microsoft/vscode/issues/126716

I'll re-open this Visual Studio Code bug until Microsoft resolves it, as otherwise I'll get duplicates raised by other Git Graph users.

[2021-06-18 22:36] dlech commented on #528
You are awesome!

[2021-06-18 22:48] mhutchie commented on #528
Apologies for the inconvenience, hopefully Microsoft will fix it soon.

FYI: From what I'm aware of, they've been making some pretty significant changes to the Visual Studio Code Webview implementation recently. Unfortunately this has caused numerous Webview bugs, that affect all extensions that use Visual Studio Code Webview's. This has a significant impact on Git Graph, as a Webview is used for

[2021-06-21 17:34] jacobweber opened #529 "Blocks Hide keyboard shortcut on Mac even when closed"
**Describe the Bug**
Open Git Graph and close it. From then on, while that workspace is open, pressing command-H on the Mac will no longer hide the VS Code app.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Run Git Graph: View Git Graph command
2. Press command-H. App is not hidden.
3. Close Git Graph window.
4. Press command-H. App is still not hidden.

**Expected Behaviour**
App i

[2021-06-21 22:25] mhutchie commented on #529
Hi @jacobweber,

Please raise this as a bug in Microsoft’s Visual Studio Code - it is another bug in their [Webview](https://code.visualstudio.com/api/extension-guides/webview) implementation, that affects all extensions that use them (the Git Graph View uses a Webview to render). When you raise the bug in the vscode repo, please highlight that this is a Webview bug, and use Git Graph as an exampl

[2021-06-21 22:44] mhutchie commented on #529
I’ve confirmed that this Visual Studio Code Webview bug is also identically affecting other webview-based extensions, for example “Edit csv”.

[2021-06-21 22:57] jacobweber commented on #529
Thanks -- will do.

[2021-06-21 22:58] jacobweber commented on #529
Looks like people are raising the issue on https://github.com/microsoft/vscode/issues/71800

[2021-06-22 09:01] alexandreDavid opened #530 "Git graph doesn't open anymore"
Issue Type: <b>Bug</b>

When I click on the button, I have this message:
Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state..

Extension version: 1.30.0
VS Code version: Code 1.57.1 (507ce72a4466fbb27b715c3722558bb15afa9f48, 2021-06-17T13:26:56.255Z)
OS version: Linux x64 5.8.0-55-generic
Rest

[2021-06-22 09:16] mhutchie commented on #530
Duplicate of #524 - this is a known Visual Studio Code Bug that Microsoft is aware of.

[2021-06-22 09:16] #530 closed, assigned to nobody

[2021-06-22 12:55] Ioannis-Raptis opened #531 "Add "squash" command"
**Describe the feature that you'd like**
I would like to be able to graphically select a set number of commits, right click and select squash.
This will combine the multiple selected commits into one. I will also be able to alter the new commit message.

**Additional context (optional)**
GitKraken is able to do that, so it would be nice to have for git-graph as well :)

[2021-06-22 13:58] mhutchie commented on #531
Hi @Ioannis-Raptis,

Thank you for raising this feature request!

Squashing commits in Git is achieved by performing a Git rebase. I already intend to support squashing multiple commits when an interactive rebase user interface is implemented for #113. I'll close this feature request, as the delivery of this functionality will be tracked in #113.

[2021-06-22 13:58] #531 closed, assigned to mhutchie

[2021-06-22 14:26] Ioannis-Raptis commented on #531
@mhutchie thanks :)

[2021-06-23 16:53] jacobweber opened #532 "Help icons are included in the checkbox's label"
**Describe the Bug**
When you right-click a commit and choose Cherry-Pick, the help (i) icons toggle the checkboxes, instead of showing help.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Open Git Graph.
2. Right-click a commit.
3. Choose Cherry-Pick.
4. Click one of the (i) icons.
5. The checkbox next to it is toggled.

**Expected Behaviour**
Help text appears

**Environment**
 - G

[2021-06-23 23:29] mhutchie commented on #532
Hi @jacobweber,

Throughout the extension, the "help" icon's are only icons (not buttons) - when you hover over them, the cursor changes to the operating system's standard help cursor, and the help information appears in a tooltip for the icon.

For checkboxes in dialogs, any text and/or help icon associated with the checkbox are included in the checkbox's label. If a user clicks anywhere in the c

[2021-06-23 23:29] #532 closed, assigned to mhutchie

[2021-06-24 00:13] jacobweber commented on #532
Fair enough — I see the tooltip now. I think part of my confusion was that the cursor becoming a question mark made me think I needed to click, but clicking actually **prevents** the tooltip from appearing.

[2021-06-24 15:26] Taccosting opened #533 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Windows_NT x64 6.1.7601`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\ADMINI~1\AppData\Local\Temp\mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-ex

[2021-06-24 22:58] mhutchie commented on #533
Hi @Taccosting,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I've only had occasional reports of Git

[2021-06-24 22:58] #533 closed, assigned to nobody

[2021-06-25 08:47] JensMertelmeyer opened #534 "Add "show stashes" toggle"
https://github.com/mhutchie/vscode-git-graph/issues/429 added the ability to show/hide stashes. It has a default setting and can even be set individually per repo. Very nice. 👍

Maybe I'm weird, but sometimes I want to see stashes, sometimes not. It takes quite some time to go into settings and toggle it on and off. Maybe it could make sense to add this as a toggle, directly to the UI?

There coul

[2021-06-25 08:57] mhutchie commented on #534
Hi @JensMertelmeyer,

"Show Stashes" can already be toggled via the Repository Settings Widget in the Git Graph UI.

![image](https://user-images.githubusercontent.com/5315753/123398227-9e4d6a00-d5e6-11eb-8510-8ef32f48866a.png)

![image](https://user-images.githubusercontent.com/5315753/123398140-8bd33080-d5e6-11eb-9f4e-4823e31bc9f2.png)

This is available for exactly your use case - please let me

[2021-06-25 15:01] JensMertelmeyer commented on #534
No, thank you, this is exactly what I meant with

I am aware of the toggle under "Repository settings". My point was that when used excessively, the time taken to perform the following steps adds up to a significant amount:

1. Move the mouse to the little cog ⚙ icon and click
2. Wait for the animation to finish
3. Toggle "Show stashes"
4. Dismiss settings by clicking ✖
5. Wait for the animation t

[2021-06-26 00:59] mhutchie commented on #534
Hi @JensMertelmeyer,

The vast majority of users either don’t use stashes, or use them so want to see them in the Git Graph UI almost all the time. It took 15 months after stashes were first released (and permanently turned on), that anyone even requested to have a setting to toggle them on/off.

While at the moment there is enough space in the Git Graph View Control Bar, I expect the upcoming adv

[2021-06-26 00:59] #534 closed, assigned to mhutchie

[2021-06-29 13:52] offirpeer commented on #308
@mhutchie  Any change there was some kind of progress with that issue?

[2021-07-01 07:33] oschulz opened #535 "Git Graph stays empty with remote development in container since VS-Code v1.57.1 (regression)"
**Bug Description**

Since VS-Code v1.57.1, Git Graph doesn't seem to work in remote-development mode (tested with remote-SSH) any longer. This used to work fine until VS-Code v1.56.2. On v1.57.1, the Git Graph window just stays empty.

Git Graph may IMHO be the best Git GUI tool for remote systems, currently, it would be awesome to get that functionality back.

**Steps to Reproduce**

* Install t

[2021-07-01 07:59] mhutchie commented on #535
Hi @oschulz,

Can you please provide a screenshot to demonstrate what you're experiencing?

Do you get any error messages, or are there any error logs in the console when you do the following steps? If so, please provide them.
1. Open the Visual Studio Code Command Palette
2. Run "Developer: Open Webview Developer Tools"
3. Navigate to the "Console" tab

[2021-07-01 11:38] oschulz commented on #535
Hi @mhutchie ,

thanks, here are the screenshots:

VS-Code v1.56.2:

![git-graph-working](https://user-images.githubusercontent.com/546147/124118330-7f7d2680-da71-11eb-870b-4bf940e5006e.jpg)

VS-Code v1.57.1:

![git-graph-not-working](https://user-images.githubusercontent.com/546147/124120939-9b35fc00-da74-11eb-8b82-c40ee7a129d2.jpg)

[2021-07-01 11:39] oschulz commented on #535
Are the "Webview Developer Tools" supposed to work in remote-SSH mode? I can only get them to open in VS-Code windows that don't use remote-SSH.

[2021-07-01 11:42] oschulz commented on #535
Another thing I just noticed: I typically run the remote vscode-server session in a Singularity container that contains my software stack and does some bind mounts. When I don't use the container, then Git Graph *does* work in remote mode on v1.57.1. However, I've been running this vscode-server in container setup for a long time and many VS-Code versions now, and there were never any problems wit

[2021-07-01 11:54] oschulz commented on #535
I can use "Developer: Toggle Developer Tools" though, and see the console there. Is that sufficient?

[2021-07-01 12:12] mhutchie commented on #535
What you've shown in your screenshot is enough. The behaviour you've observed is a Visual Studio Code [Webview](https://code.visualstudio.com/api/extension-guides/webview) bug that was introduced in Visual Studio Code 1.57.x. It prevents the extension's CSS & JS resources from being accessible in the Webview. It affects all extensions that use a Webview, not just Git Graph (the Git Graph View uses

[2021-07-01 12:21] oschulz commented on #535
Thanks!

[2021-07-01 12:29] oschulz commented on #535
Should I close this here, then?

[2021-07-01 12:32] mhutchie commented on #535
@oschulz I'll leave this open until Visual Studio Code fixes it, so other affected users can read it (and not raise further Git Graph bugs for it).

[2021-07-09 00:11] victorfernandesraton opened #536 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Linux x64 5.4.0-77-generic`
- VS Code version: `1.57.1`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-extension-causes-high-cpu-load

[2021-07-09 00:29] mhutchie commented on #536
Hi @victorfernandesraton,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I've only had occasional repo

[2021-07-09 00:29] #536 closed, assigned to nobody

[2021-07-10 15:04] mill1000 commented on #342
Hi @mhutchie

I've noticed that the integrated terminal never needs to authenticate even if I haven't setup a credentials cache. VScode has a manner to pass authentication down to the integrated terminals via this option:
![image](https://user-images.githubusercontent.com/6924622/125167276-f34bbd00-e15c-11eb-9216-7366ebce55e5.png)

Which sets the following environment variables
[code]
and (I guess

[2021-07-10 23:41] mhutchie commented on #342
Hi @mill1000,

Those Askpass environment variables allow Git to call an external program to retrieve the credentials to use for a Git command.

In Visual Studio Code, they use their own Askpass integration (configured with the environment variables you mentioned), to enter into their own code and initiate various authentication flows.

Unfortunately, Git Graph is unable to use the same Askpass int

[2021-07-13 17:21] destag opened #537 "Push local branch to a remote branch with a different name"
**Describe the improvement that you'd like**
I would like to be able to push commits to remote branch with different name than local branch.

For example using git cli:

[code]

Which creates remote branch named `remote-fix`

**Additional context (optional)**
This would be very helpful when working with gerrit, where usually you don't push changes to the branch but to code review using `refs/for`

[2021-07-13 22:25] mhutchie commented on #537
Hi @destag,

Thanks for raising this improvement request, it would definitely be a nice capability to have in Git Graph!

[2021-07-15 09:57] igor-sirotin commented on #352
Hi @mhutchie,

First of all, I would like to thank you for an amazing extension. I'm happy with it, it saves a lot of time for me and my colleagues.

I almost totally switch to it from TortoiseGit, the only thing that's missing for me is submodule support.
I understand your point from previous reply, but I think there is one simple feature that would simplify submodule users' life and have no effe

[2021-07-15 16:22] satheeshkmr955 opened #538 "Create and apply patches"
I love Git Graph. It makes live easier so that I don't have to switch between windows (VSCode & Terminal)<br>
**Describe the feature that you'd like**
Create and apply patches (git diff) equivalent to **Open External Directory Diff**

Creating patch (for ex:)
`git diff HEAD~1 HEAD > ~/some.patch`

Apply patch (for ex:)
`git apply ~/some.patch`

  - Right click on commit new option like below
    -

[2021-07-16 18:06] bradlitterell commented on #245
I would sure be interested in a jump to commit feature as well.  Regarding the comment above about loading children, this jump to commit would be useful even if it loaded only ancestors of the given commit, though it would be admittedly better to also show children.

Implementing this in the branch selection dropdown makes the "ancestor-only" view make more consistent sense - since that's what you

[2021-07-17 15:43] mill1000 commented on #342
Is it not possible to do both? I imagine the extension could query the availability of the authentication providers and fallback to the old prompt if not available.

[2021-07-18 18:25] jleni commented on #395
I think it would be good to have an additional option in this menu:

![image](https://user-images.githubusercontent.com/13698520/126078266-e778932b-58ef-482f-a78f-19aa5c573194.png)

that says:

- Reset local master to remote master

[2021-07-19 08:29] LiXC-N opened #539 "git graph can't display"
**Describe the Bug**
git graph can't display when I click the git graph on the status window.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1.click the git graph on the status window.

**Expected Behaviour**
show "Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state.." Error

**Envir

[2021-07-19 08:55] mhutchie commented on #539
Duplicate of #524

[2021-07-19 08:55] #539 closed, assigned to mhutchie

[2021-07-19 14:59] itsmesunnyanand opened #540 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Windows_NT x64 10.0.19043`
- VS Code version: `1.59.0-insider`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`c:\Users\sunny\AppData\Local\Temp\mhutchie.git-graph-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Exp

[2021-07-21 03:06] lishujun5 commented on #314
it occurs again recently!!!How can I do?

[2021-07-21 03:19] mhutchie commented on #540
Hi @itsmesunnyanand,

You haven't provided the CPU profile highlighted by the yellow exclamation emoji's in the template you used - this makes it impossible for me to investigate this further. All I know from the information you've provided is that the extension was slow to start once, for one user, and have no context to know what could have possibly caused it.

I've only get occasional reports o

[2021-07-21 03:19] #540 closed, assigned to nobody

[2021-07-21 03:26] mhutchie commented on #314
Hi @lishujun5,

Please check to see if you face the same error as any of the four open Visual Studio Code bugs that are currently affecting all extensions that use Visual Studio Code Webview's (https://github.com/mhutchie/vscode-git-graph/issues?q=is%3Aissue+is%3Aopen+label%3Avscode-bug+). Microsoft is aware of them, and is already working to fix them. If not, please provide more details of what y

[2021-07-21 03:34] lishujun5 commented on #314
Hi @mhutchie,
Thank for your answer, the bugs you said above maybe the same as I meet.Really appreciate

[2021-07-22 09:34] Omcsesz opened #541 "Click to open Diff does not work"
Hello, Team!

When I click on a file in the Git Graph view to open diff, the diff view does not open, the file gets opened instead (see attachment). Can you fix this?
[ClickToOpenDiffDoesNotWork](https://user-images.githubusercontent.com/1839739/126618623-2a7dc9ee-6054-4bfc-b5e6-21a47546af18.gif)

System info:

Distributor ID:	Ubuntu
Description:	Ubuntu 21.04
Release:	21.04

[2021-07-22 09:51] mhutchie commented on #541
Hi @Omcsesz,

The current behaviour is occurring because you are clicking on an untracked file. As it is an untracked file, it isn't tracked, so there is no prior version of the file to show in the Visual Studio Code Diff View. Therefore, Git Graph just opens the file in this specific case, instead of opening the diff (which is impossible).

[2021-07-22 09:51] #541 closed, assigned to nobody

[2021-07-28 01:40] yumetodo opened #542 "Unable to load Git Graph in Windows10 when I exec code.exe from msys2 bash"
When I want to develop BIG size repository, I often use `git clone --depth`. It's called shallow clone.

In such a repository, I manually edit `.git/config` like below:

[code]

When I open such repository with vscode, and use this plugin to watch git graph, `Unable to load Git Graph` will be shown.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Create git repository which hold multi

[2021-07-28 02:22] mhutchie commented on #542
Hi @yumetodo,

There are two possible high-level causes of the error message "Unable to load Git Graph", that are distinguished by the message underneath the heading. I assume you are likely facing the second:
1. Unable to find a Git executable. Either: Set the Visual Studio Code Setting "git.path" to the path and filename of an existing Git executable, or install Git and restart Visual Studio Cod

[2021-07-28 05:36] yumetodo commented on #542
@mhutchie Thank you. Shallow clone was not related.

In command prompt, I can found git in default search path. and vscode's other git operation works fine.

[code]

I also tried  "Git Graph: Add Git Repository..." and no effect.

[2021-07-28 05:49] mhutchie commented on #542
Hi @yumetodo,

What message did you receive when running "Git Graph: Add Git Repository..."? It will always produce an information or error message in Visual Studio Code indicating the result of the command.

[2021-07-28 06:22] yumetodo commented on #542
![image](https://user-images.githubusercontent.com/10869046/127273852-d4f655fe-91e9-4185-a6f6-222e33e5d9a4.png)

[2021-07-28 06:31] mhutchie commented on #542
@yumetodo,

After the repository was added, can you confirm whether you are still receiving the "Unable to load Git Graph" error message after closing and re-opening the Git Graph View.

If you still receive the same message, please provide the entire contents of the Git Graph Output Channel after completing the following steps:
1. Close & re-open Visual Studio Code
2. Run the "Git Graph: Add Git

[2021-07-28 11:43] yumetodo commented on #542
Ok, now I got it how to reproduce.

I exec code.exe from:
- Windows10 start menu: 🆗  process env: [from_start_menu.tsv.txt](https://github.com/mhutchie/vscode-git-graph/files/6892793/from_start_menu.tsv.txt)
- msys2 bash like `code .`: ❌ process env: [from_msys2.tsv.txt](https://github.com/mhutchie/vscode-git-graph/files/6892798/from_msys2.tsv.txt)

[code]

`~/.bashrc`

[code]

[2021-07-28 12:05] mhutchie commented on #542
Hi @yumetodo,

That now makes a lot of sense. There are a number of fundamental reasons why it's not feasible for the extension to be compatible with the version of Git included with msys2 (when run on Windows), so the extension cannot support it. For Windows systems, the extension must use a standard Windows Git executable.

You should be able to enforce that the Windows Git executable is always

[2021-07-28 12:05] #542 closed, assigned to mhutchie

[2021-07-28 21:36] xxorathaa commented on #223
so im a bit late to the party here, but can this setting be set in settings.json somehow?

[2021-07-29 11:23] tkazik opened #543 "Show file mode changes"
It would be great if you could show the file mode changes as well, e.g. from `755` to `644`. Currently, this is not visible, i.e see the partial screen shot, where the content of the file did not change:

![git_graph_file_mode](https://user-images.githubusercontent.com/15689124/127483429-66b9f84f-ef61-4378-b73c-51d8eb90e35b.png)

Keep up the amazing work!

[2021-07-29 11:46] mhutchie commented on #543
Hi @tkazik,

Thank you for raising this feature request, it would be a nice addition to have.

[2021-07-29 18:09] meanspa commented on #200
Hello! Future user here. For what it's worth, I would find this functionality very useful. A couple small points:

- I could see this being very helpful as an optional layout, though thanks to the helpful explanation of its drawbacks (thanks @mhutchie!) I wouldn't expect it to be the default.
- With regard to other users not voicing this concern, I can say for myself it took quite a while to find

[2021-07-31 07:09] wojm opened #544 "Web Visualization - how to display the info directly on Github"
**Describe the feature that you'd like**
A clear and concise description of what you'd like to be included in Git Graph.
I would like a web interface for this app. I think the easiest one would be a Chrome extension. This extension would be responsible for the computation. Alternatively, I've considered using a tool like GitPod to be used to render VSCode and in turn the app.

**Additional context

[2021-07-31 07:39] mhutchie commented on #544
Hi @wojm,

Thank you for your feedback!

As a Visual Studio Code extension, Git Graph is available through the official web-based version of Visual Studio Code (which is available via GitHub Codespaces).

It can also be installed on most third-party web-based Visual Studio Code equivalents. However, I would strongly recommend against using them as I frequently find the third-parties have many of t

[2021-07-31 07:39] #544 closed, assigned to mhutchie

[2021-07-31 21:06] ghost opened #545 "Remote Branches deleted outside of vscode don't update in Git Graph"
**Describe the Bug**
If I have a repo with a remote branch, and git graph shows the branch, deleting the branch via github/gitlab/other does not change what git graph is showing. Even if the local branch is also deleted, the remote branch is still shown in git graph. Reloading vscode, gitgraph, etc. does not change this.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Clone remote rep

[2021-07-31 23:17] KarlHeitmann commented on #543
Hi! With the arg `--summary` I could get the mode changes before and after with git. Here is an example on how it looks.

![image](https://user-images.githubusercontent.com/3003032/127754430-97aac2c3-19cd-405a-ad94-7466d7d8c7ec.png)

The work is in progress some refactorization is needed, and I need to make some tests. But this screenshot is for any feedback you may have. Maybe I should put a tool

[2021-08-01 01:31] mhutchie commented on #545
Hi @KrazyKirby99999,

The type of branch you are referring to is called a [remote-tracking branch](https://git-scm.com/book/en/v2/Git-Branching-Remote-Branches), and what you've observed is the expected Git behaviour (it has nothing to do with Git Graph). In this situation, you'd be able to see the same remote-tracking branch still in your local repository if you run the Git command `git log --gra

[2021-08-01 01:31] #545 closed, assigned to mhutchie

[2021-08-01 01:39] mhutchie commented on #543
Hi @KarlHeitmann,

Thanks for experimenting with this feature.

In order for this to be implemented, it ought to be displayed as a symbol/icon next to the file, with a tooltip displaying the change that occurred. This is because it is critical to keep records in the Commit Details View File View as short as possible (as space is limited when users operate in repositories with deeply nested folders

[2021-08-01 01:52] KarlHeitmann commented on #543
Hi @mhutchie

Ok, I'll search for a icon/symbol to display next to the file with the tooltip. I've already seen how you've done that with addition/deletion

I've seen that the methods "getDiffNameStatus" and "getDiffNumStat" were pretty similar, and they done a very similar job. So I copy getDiffNumStat, and I've adapted it to send the `["--sumary"]` argument to `execDiff`, instead of sending the

[2021-08-01 01:53] KarlHeitmann commented on #543
PS: YES, it does needs to run another git command! Should I put that `--summary` argument inside the `getDiffNumStat` method?

[2021-08-01 02:15] mhutchie commented on #543
Hi @KarlHeitmann,

If this feature is to be released, it can't require an additional Git command to be executed every time the Commit Details View data is loaded. It is already bad enough that two Git commands have to be run to get the required modification and change information, so I don't want to add the additional overhead of another Git command. This is because file mode changes are very infr

[2021-08-01 02:30] KarlHeitmann commented on #543
Ok Michael, fair enough. I will see if I can put the feature on an existing git command.

[2021-08-01 09:16] tkazik commented on #543
Great to see some interest & activity here already!
@KarlHeitmann Nice catch with the `--summary` argument.

[2021-08-02 05:15] rbalet opened #546 "Keep Sync vsCode and gitGraph in workspace"
**Describe the feature that you'd like**
I would find useful to sync Git Graph with vsCode when we do work in a workspace.

Here, when I do change the repo **(1.)** this doesn't change it in vsCode **(2.)**
![image](https://user-images.githubusercontent.com/44493964/127807457-dd6a68da-e8b2-4636-9365-2998c99ef78c.png)

[2021-08-02 09:11] krzikalla opened #547 "When force deleting a branch, use `-D` instead of `--delete --force` to increase backwards compatibility"
I tried to force delete a branch. GitGraph uses `git branch --delete --force name`, which is unsupported by git V1.8.3. Native VS Code uses `git branch -D name`, which works.
It took me some time to figure out the reason for the failure (the error message only tells me how to use `git branch`). A warning about a too old git version for GitGraph would be helpful in such cases.

[2021-08-02 09:16] mhutchie commented on #546
Hi @rbalet,

In order to achieve this, there needs to be a method for extensions to "focus" a specific repository in Visual Studio Code (which selects it in the SCM view, updates the SCM Status Bar Item, etc.)

After reviewing the Visual Studio Code & Git Extension API's, it does not appear that Microsoft allows extensions to focus a specific repository in Visual Studio Code, and therefore this fe

[2021-08-02 09:16] #546 closed, assigned to mhutchie

[2021-08-02 10:13] mhutchie commented on #547
Hi @krzikalla,

Visual Studio Code itself issues a warning when Git < 2.0.0 is used, which the user must dismiss (so the extension doesn't duplicate the same warning). Additionally, I do implement warning messages when the extension needs to use a Git command / argument that was more recently introduced to Git, when the user attempts to use it.

In this specific case, I didn't spot the incompatibi

[2021-08-02 13:35] pomack commented on #535
FYI the bug report is here: https://github.com/microsoft/vscode/issues/127770

[2021-08-06 03:50] lester1027 opened #548 "More Obvious Indication of Leading or Trailing Whitespaces"
Thank you for your good work.

Is it possible to make the leading or trailing whitespace indication more obvious?
If it is like the red block in my shell, it will be much easier to be caught.

![image](https://user-images.githubusercontent.com/20129253/128453342-c46a1f20-e544-42ba-85bc-e5f74c2647ac.png)

Thank you.

[2021-08-06 14:46] KaeLL commented on #535
Came here looking for this issue. Thing is, it was working fine up until yesterday's 1.59.0, unlike OP.

[2021-08-10 02:25] Keavon commented on #29
I just want to comment about the fact that this feature was very undiscoverable. I'm so happy to finally have discovered this! I would have never guessed that I need to <kbd>Ctrl</kbd><kbd>Click</kbd> between the two commits, although that's super useful now. This has been the one feature I've been needing for months. @mhutchie is there a way you could integrate this into the UI in some way to mak

[2021-08-11 15:29] ahernsean opened #549 "Keep controls pinned to the window when scrolling"
**Describe the feature that you'd like**
Currently, when the graph is scrolled, the controls at the top (chosen branches, search, reload, etc.) scroll out of view immediately. This request is for the controls at the top to remain "pinned" to the top of the window, allowing them to still be accessible even when looking at commits far back in history. Screenshot attached of the current controls area

[2021-08-11 22:01] irvnriir opened #550 "Merge git-graph.addGitRepository with git.openRepository"
By:
1. on use of View Git Graph from `Sidebar\Source Control`, Add the corresponding repository (preferably),
2. or auto execute git.openRepository after git-graph.addGitRepository (maybe with a setting) .

[2021-08-11 22:40] mhutchie commented on #549
Closing this feature request, as it is a duplicate of #132.

[2021-08-11 22:40] #549 closed, assigned to mhutchie

[2021-08-12 11:41] piavgh opened #551 "Allow to drag & drop to re-order commits when interactive rebase"
**Describe the feature that you'd like**
A clear and concise description of what you'd like to be included in Git Graph.

Not sure if there is a duplicate request like this before, but please check this video to see what I mean:

https://youtu.be/GDTOsXejxYo

Basically, I have a git log like this:

[code]

I can drag and drop to re-order them to:

[code]

If this extension can do something like th

[2021-08-12 11:48] mhutchie commented on #551
Hi @piavgh,

Thank you for raising this feature request!

I'm using the existing feature request #113 to track the delivery of a far more feature-complete implementation of an interactive rebase capability (far more than just the original request). This feature request is a nice suggestion, that I'll be sure to further consider when #113 is implemented.

Closing as a duplicate.

[2021-08-12 11:48] #551 closed, assigned to mhutchie

[2021-08-12 12:25] ahernsean commented on #549
Ah ha, thanks. I didn't see that one.
That other item has a proposed PR, but it was back in October. Any idea if that's going to be reviewed/merged?

[2021-08-12 12:53] mhutchie commented on #549
Hi @ahernsean,

When the feature request was first raised, I quickly identified that there was actually a surprising amount of complexity to it, that made it hard to justify in comparison to implementing new Git capabilities that offered far more net value to users.

One developer worked on a pull request implementing this feature, and although progress was made, ultimately there were still severa

[2021-08-12 13:43] ahernsean commented on #549
Good explanation! I don't mean to be a pest. Thanks for your work!

[2021-08-12 14:36] piavgh commented on #551
Thanks for your information

[2021-08-12 15:22] heartacker opened #552 "make branch-name/tag more obvious that they have forth-menu"
**Describe the improvement that you'd like**
A clear and concise description of what you'd like to be improved in Git Graph.
after year ago, finally I notice that the branch/tag have right click menu for forth operation.

now, I believe that we should make the more obvious that there are menus for further operations.
eg: lighter when hover, or add some identification to tell user that there is men

[2021-08-12 19:55] pomack commented on #535
FYI, this may have been fixed in https://github.com/microsoft/vscode/issues/123494 if anyone is using the vscode insiders build to test. Otherwise will need to wait till 1.60 is released.

[2021-08-13 10:07] oschulz commented on #535
Thanks - just tested with code-insider-x64-1628833345, the Git graph is back! :-)

[2021-08-13 14:50] KaeLL commented on #535
Fucking hell. Well, insiders it it, then.

[2021-08-17 05:46] romanholidaypancakes opened #553 "add features that are in gitkraken but not in vscode-git-graph"
**Describe the feature that you'd like**

- git graph
![image](https://user-images.githubusercontent.com/51652878/129669884-0040784c-d139-45c7-bef9-8b0bae996ade.png)

- gitkraken

![image](https://user-images.githubusercontent.com/51652878/129669843-f2fb5b63-0b7f-4b37-acb2-cbf44585fd6e.png)

such as "edit commit message" etc.

[2021-08-18 17:52] JaredGlastetterPluto opened #554 "Git Graph not loading"
**Describe the Bug**
When opening the graph view, the repo seems to be fetching / loading continuously  and never stops. No branches are ever displayed and the large Loading ... text continues to animate, as well as the loading icon animating at the very top right beside the fetch icon. The whole top bar is unresponsive, the branches drop down, the check box and all the buttons at the top right.

[2021-08-18 20:57] JaredGlastetterPluto commented on #554
After about 7 hours of loading the graph has started showing again and is acting as expected.

[2021-08-19 00:25] mhutchie commented on #554
Hi @JaredGlastetterPluto,

As the extension is now acting as expected, the information you’ve provided isn’t enough to consistently replicate the issue, and no other users have reported it, I’ll close this issue for now.

If you do get this issue again, and can produce a set of steps that consistently replicates it, please reply to this thread and I can investigate it further.

[2021-08-19 00:25] #554 closed, assigned to mhutchie

[2021-08-19 06:40] haigeno1 opened #555 "reflogs result always include remote branches"
**Describe the Bug**
when i select Include commits only mentioned by reflogs, the Show Remote Branches option is invalid.

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Branches: Show All
2. select the checkbox Include commits only mentioned by reflogs
3. select or unselect the checkbox Show Remote Branches
4.error: always display the results which include the remote branches

**Expe

[2021-08-19 07:40] mhutchie commented on #555
Hi @haigeno1,

These settings all directly translate to arguments passed to [`git log`](https://git-scm.com/docs/git-log). If the setting is enabled in Git Graph, then argument is provided to git, otherwise the setting is disabled, and the argument is not provided. This gives the user complete control, and is exactly consistent with [`git log`](https://git-scm.com/docs/git-log).
* Show Remote Bran

[2021-08-19 07:40] #555 closed, assigned to mhutchie

[2021-08-20 13:27] mhutchie commented on #552
Hi @heartacker,

I'll close this request for now, as no other users have expressed similar concerns. The various context menus are mentioned on the extensions details, and thoroughly documented on the [GitHub Wiki](https://github.com/mhutchie/vscode-git-graph/wiki/Context-Menus) and [official documentation](https://docs.mhutchie.com/vscode-git-graph/general/context-menus).

The branch and tag labe

[2021-08-20 13:27] #552 closed, assigned to mhutchie

[2021-08-21 05:24] heartacker commented on #552
thanks a lot,
maybe someday there is tooltip when  long  hover， There will be make sense and do not bother any others.

[2021-08-21 08:17] ray0324 opened #556 "how about add git flow in git-graph"
how about add git flow in git-graph

[2021-08-21 08:52] mhutchie commented on #556
Hi @ray0324,

Thank you for raising this feature request. It is already covered in #207, so I'll close this as a duplicate.

[2021-08-21 08:52] #556 closed, assigned to mhutchie

[2021-08-23 13:23] IlanVivanco commented on #254
Also having an option to fix colors on certain branches would make it easier to spot them quite quickly. e.g., red for main, orange for staging, etc...

[2021-08-25 16:14] githrdw opened #557 "Change contextMenuItem `click` to `mouseup`"
**Describe the improvement that you'd like**
I am using Git Graph on daily basis and something I can't unlearn myself is the fact that I press the left mouse button in the context menu before selecting a contextMenuItem.
The context menu will close, but no action (handler) is called.

I have already tried to focus and hold my mouse still before clicking on a context item, but unfortunately I keep

[2021-08-27 14:44] heartacker opened #559 "maybe we could add a shortcut for open view？"
**Describe the feature that you'd like**
A clear and concise description of what you'd like to be included in Git Graph.
shortcut to view GG
**Additional context (optional)**
Add any other context or screenshots about the feature request here.
maybe <kbd>ctrl+shift+g ctrl+g</kbd> is good
thanks

[2021-08-28 06:15] mhutchie commented on #559
Hi @heartacker,

Git Graph contributes the `git-graph.view` command to Visual Studio Code, that opens the Git Graph View. Any command in Visual Studio Code can have a keyboard shortcut assigned to them by the user, via Visual Studio Code's "Keyboard Shortcuts" interface. This will allow you to assign any keyboard shortcut you like to open the Git Graph View.

I decided not to have a keyboard short

[2021-08-28 06:15] #559 closed, assigned to mhutchie

[2021-09-03 11:19] rhaschke opened #560 "Allow drag&drop to move local and remote branches"
It would be great if branches could be moved (forwarded, reset, pushed to remotes) by simple drag-and-drop of the branch labels. I'm used to this feature from [`qgit`](https://github.com/tibirna/qgit). Would be great if `git-graph` could provide that as well.

[2021-09-03 11:29] mhutchie commented on #560
Hi @rhaschke,

Thank you for raising this feature request! I'll close it as it's a duplicate of #19.

[2021-09-03 11:29] #560 closed, assigned to mhutchie

[2021-09-03 21:33] andyj513 opened #561 "Ignoring VS Code Push setting when cherry-picking"
This is not working as I expected, so I am calling it a bug.  If you think it is working as expected, please consider this a Feature Request.

In VS Code, I have the setting "Git: Post Commit Command" set to "push".  When I use the (built-in?) Git view, and Commit changes, they are automatically Pushed for me, so I have learned to forget there are two steps.

When I cherry-pick from Git Graph, I h

[2021-09-04 00:23] mhutchie commented on #561
Hi @andyj513,

The current behaviour is the expected behaviour.

Git Graph doesn’t consume any settings from Visual Studio Code’s built-in Git extension. I make all options that are available in Git Graph available in the corresponding dialog, and the extension never does anything other than exactly what the user instructed via the dialog. This is to ensure no users are ever misled while performin

[2021-09-04 00:23] #561 closed, assigned to mhutchie

[2021-09-05 09:16] nopeless opened #562 "Commit hashes should be monowidth"
**Describe the feature that you'd like**
![image](https://user-images.githubusercontent.com/38830903/132121754-d4b3894c-958f-4903-83df-928b68377ff1.png)
this should be code

**Additional context (optional)**
I'm pretty sure this is trivial. Discussions are welcome

[2021-09-07 19:53] AndreyDementev opened #563 "git graph extension does not build a branch graph"
**Describe the Bug**
The gif graph extension does not build a graphical representation of the branches. Instead of several branches, I see one straight line with marked commits.

**Steps to Reproduce**
This behavior occurs under any conditions. I was reinstalling this extension. No changes.

**Environment**
 - Git Graph Extension Version: v1.30.0
 - Visual Studio Code Version: v1.60.0
 - Operating

[2021-09-07 21:58] mhutchie commented on #563
Hi @AndreyDementev,

Please provide the output of the Git command `git log --graph --all`, as it is a way to independently verify the structure of your repository.

Branches are only shown with different colours (and in different columns) where multiple lines of history run in parallel. In other words, two commits or the uncommitted changes must share the same parent commit. It's entirely possible

[2021-09-08 08:24] AndreyDementev commented on #563
Hi Michael.
 
PS C:\Users\ademe\Projects\IUS-OTB\ESP32\Control_Unit> git branch -a
* NewWaitResponce
  Test1
  master
  remotes/origin/NewWaitResponce
  remotes/origin/Test1
  remotes/origin/main
  remotes/origin/master
 
PS C:\Users\ademe\Projects\IUS-OTB\ESP32\Control_Unit> git log --graph --all
* commit 850b0ac23a61b4fef98871a0ef192352a76f3768 (HEAD -> NewWaitResponce, origin/NewWaitResponce)  

[2021-09-08 08:40] mhutchie commented on #563
The output you provided from Git confirms that all commits in your repository are on a single line of history, with no two commits sharing the same parent.

Therefore, just like the Git command's graph output, all the commits are rendered on a single line of history, with branch labels attached to the correct commits. This behaviour is consistent with most common Git UI's (and Git itself).

Once y

[2021-09-08 08:40] #563 closed, assigned to mhutchie

[2021-09-08 13:10] AndreyDementev commented on #563
Thanks for the quick answers

[2021-09-11 12:34] Pustur commented on #409
@mhutchie Was the above ever done? I see that currently we are missing a few gitmoji, namely:

- `:coffin:` ⚰️
- `:monocle_face:` 🧐
- `:necktie:` 👔
- `:test_tube:` 🧪

Would you kindly add them? Or should I open a new issue first?

Thanks

[2021-09-11 12:42] mhutchie commented on #409
Hi @Pustur,

Those new Gitmoji will automatically be included in the next Git Graph release. There’s no need for you to open a new issue.

[2021-09-11 22:59] bmagyarkuti commented on #375
Hi @mhutchie,

Just wondering what you had in mind for this. I have a personal use case that would just require a subset of this feature, searching in a commit's body (a different poster mentions this same feature in a comment under #147). I already have a spike implementation that works (I extended DataSource#getLog to also include the commit message). Do you think it'd make sense to just extend

[2021-09-12 00:14] mhutchie commented on #375
Hi @bmagyarkuti,

For performance & parsing reliability reasons, I deliberately decided not to retrieve the entire commit body with `DataSource.getLog`.

[2021-09-12 09:05] bmagyarkuti commented on #375
Hi @mhutchie, I thought you might have, and have reservations about performance myself (although I haven't done any performance testing, which I think I will). Did you have any ideas about how to do this well? Do you think this feature is a good candidate for me to try working on? If so, what do you imagine would be the simplest working version of the feature? For me, it is either:
1) By default,

[2021-09-12 10:24] mhutchie commented on #375
Hi @bmagyarkuti,

For the reasons I mentioned yesterday, I don’t want to proceed with any variation of including searching the entire commit body in the current Find Widget. When I first implemented it (over 1.5 years ago), I already worked through a variety of options but ultimately decided against it (for numerous reasons).

From what I’ve seen in many projects and companies, it’s very common fo

[2021-09-12 10:49] bmagyarkuti commented on #375
Hi @mhutchie, I understand. Thanks for taking the time to explain your experience.
Best,
Barna

[2021-09-13 22:32] copdips opened #564 "add new context menu to copy online commit link"
for example, once I select the commit `e1365c9` from the git graph, and right click the mouse to show the context menu, it will have a new menu maybe `Copy Commit online link to Clipboard` to copy the link `https://github.com/mhutchie/vscode-git-graph/commit/e1365c9cc1de4a7bd7a9bc4f5032144fafeb2844` to my clipboard

![image](https://user-images.githubusercontent.com/13083856/133164856-71e14b5f-fe2

[2021-09-15 13:49] thmatot opened #565 "add support for git lfs diff"
Support git lfs to see changes between targeted files
https://www.atlassian.com/git/tutorials/git-lfs

[2021-09-16 21:44] pktiuk commented on #245
I find this feature essential in bigger repositories.
There are already some duplicates mentioning similar solutions.  (https://github.com/mhutchie/vscode-git-graph/issues/358 https://github.com/mhutchie/vscode-git-graph/issues/505)

I think this feature could be also linked with jumping to tags and branches in source tree.

Instead of keeping all of sha-s in memory we could just try to check whet

[2021-09-16 21:46] pktiuk commented on #245
Even if there is no chance of implementing it right now, I think it should be opened to avoid further duplications.
(Anyway, I think using separate function `jump to commit` is much better than merging it with search, as it is suggested in other issues)

[2021-09-16 23:08] austincondiff opened #566 "Toolbar and table header should stay fixed at top when scrolling"
The toolbar and table header should stay fixed at top when scrolling down the git graph. If I am clear down the page and I want to make a new selection, I need to scroll all the way up to make my selection. As you are aware, git graph is in vscode which is an application with fixed panes and toolbars. This extension should follow the same pattern and feel as native to vscode as possible.

[2021-09-16 23:36] mhutchie commented on #566
Duplicate of #132

[2021-09-16 23:36] #566 closed, assigned to mhutchie

[2021-09-17 09:22] elkemper opened #567 "[UX]PLEASE, divide Reset and Rebase buttons out of each other"
Hey guys!!

While using your extension, i'm using rebase feature sometimes. But this button is SO similar and SO close to Reset button, so i've mis-clicked few times. And you know, how distracting and annoying is this.

![image](https://user-images.githubusercontent.com/21986537/133758837-19002f1f-6900-4cc8-a9de-8a782ac8367b.png)
Yeah, yeah, there was a confirmation pop-up. But c'mon, who is readi

[2021-09-17 20:02] msongz opened #568 "backslash not display"
**Describe the Bug**
lets say I have a commit message : http:\\/\\/
on the side bar it shows correct

but in the main graph, it shows: http://

**Environment**
 - Git Graph Extension Version: 1.60.1
 - Visual Studio Code Version: [e.g. 1.37.1]
 - Operating System: macOS 11.4

**Screenshots (optional)**
![image](https://user-images.githubusercontent.com/2059694/133846919-9a2a8da0-3a08-4e26-9818-9cb

[2021-09-17 23:13] mhutchie commented on #568
Hi @msongz,

The backslash characters are being removed (as expected) when Git Graph is formatting the commit message using Markdown. This is according to the Markdow specification [here](https://spec.commonmark.org/0.30/#backslash-escapes). You can independently observe this behaviour using the GitHub Markdown Formatting:
| Raw Input Text | Markdown Formatted Text |
| - | - |
| `http://` | http:/

[2021-09-17 23:13] #568 closed, assigned to mhutchie

[2021-09-18 08:12] mhutchie commented on #562
Hi @nopeless,

I experimented with this, however I've found that monospace fonts in Visual Studio Code are very inconsistent across platforms. Therefore I was unable to find a suitable monospace font that rendered suitably on Windows, Mac, and Linux.

Considering this is a purely cosmetic change, and no other users have expressed interest in it during the last 2.5 years, I don't want to spend any

[2021-09-18 08:12] #562 closed, assigned to mhutchie

[2021-09-18 08:31] mhutchie commented on #567
Hi @elkemper,

While I understand that the names of these two actions are fairly similar, there aren't alternative names that are more distinct. Additionally, the existing grouping (see below) separates the 11 actions into four fairly even logical groups (according to the type of action). As no other users have ever raised any concerns over the similarity of these actions, I'll close this feature

[2021-09-18 08:31] #567 closed, assigned to mhutchie

[2021-09-19 08:33] mhutchie commented on #547
This will be available in v1.31.0.

If you'd like to use it before the next release, you can download [v1.31.0-beta.3](https://github.com/mhutchie/vscode-git-graph/releases/tag/v1.31.0-beta.3), and install it following the instructions provided [here](https://docs.mhutchie.com/vscode-git-graph/general/downloading-and-installing-releases#manual-installation).

[2021-09-19 08:33] #547 closed, assigned to mhutchie

[2021-09-19 08:35] mhutchie commented on #557
Hi @githrdw,

Thanks for raising this improvement request and providing an implementation for it.

The reason for using the `click` event is that it requires the user to press and release the pointer on a specific action. Considering it's critical that the user doesn't accidently run the wrong Git action, I felt having this extra certainty was beneficial.

From the description you provided, I see

[2021-09-19 08:35] #557 closed, assigned to mhutchie

[2021-09-19 08:40] mhutchie commented on #528
From what I can observe, this Visual Studio Code bug has since be fixed by Microsoft. If you continue to face this issue, please raise it again with Microsoft.

[2021-09-19 08:40] #528 closed, assigned to mhutchie

[2021-09-19 10:25] mhutchie commented on #553
Hi @inaryart,

All of the actions in the screenshot (except "Edit commit message") are available in various context menu's in Git Graph ([see these docs](https://docs.mhutchie.com/vscode-git-graph/general/context-menus) for a full list).

For "Edit commit message" there are two cases where this would be used:
* Edit the last commit's message: This can be achieved through Visual Studio Code's built

[2021-09-19 10:25] #553 closed, assigned to mhutchie

[2021-09-19 10:30] mhutchie commented on #535
This Visual Studio Code bug has been fixed by Microsoft in Visual Studio Code 1.60. If you continue to face this issue, please raise it again with Microsoft.

[2021-09-19 10:30] #535 closed, assigned to mhutchie

[2021-09-19 10:57] oschulz commented on #535
Thanks again, @mhutchie !

[2021-09-21 12:14] rbalet commented on #519
@mhutchie I have though about this feature for a while.
I think, we could show an `Abort` button when we first see the `Unable to Merge Commit`  error message.

This wont solve the problem shown  by this issue, since, I do think, it should be something that is always available, but having this button here will boost productivity and help the most people that do face this problem.

![image](https:/

[2021-09-24 07:21] rbalet opened #569 "On click, highlight the selected line"
**Describe the improvement that you'd like**
When clicking on a line, it would be nice if it would be getting highlighted. Like with an rgba( 255, 255, 255, 0.1) background color or so something.

![image](https://user-images.githubusercontent.com/44493964/134634542-31467a4c-7453-457b-ab16-bfb29f8a8a2a.png)

**Additional context (optional)**
I looking for an error in the commit, I know what to loo

[2021-09-24 07:47] mhutchie commented on #569
Hi @rbalet,

This seems to be a good use case of the existing "Code Review" feature of the extension.

![image](https://user-images.githubusercontent.com/5315753/134636370-d9b7f954-d51c-4942-b32a-3008415361dd.png)

Once a code review is started, all the files are bolded to indicate they haven't been reviewed. As you view each file, they are un-bolded to reflect this. The last viewed file (e.g. `./

[2021-09-24 08:47] rbalet commented on #569
@mhutchie That's, well... way more than expected. Thx a lot didn't known that feature :)
Would it still make sense to make the selected list bold when clicking on it?

I'm closing this issue.

[2021-09-24 08:47] #569 closed, assigned to mhutchie

[2021-09-24 08:57] rbalet opened #570 "Code Review : when element is selected listen to the key board for navigating next and back"
**Describe the improvement that you'd like**
When we click on a file, it open & "unbold" the text.
It could be useful to be able to then use the  `arrow up`  and  `arrow down` to navigate through the list, moving the eye icon up & down.

That way, we wont need to use the mouse, if the file that does contain changes was easier to control

![image](https://user-images.githubusercontent.com/44493964/

[2021-09-28 07:15] mehlian opened #571 "Not all local branches are visible on graph if they are far apart"
**Describe the Bug**
I am not sure if it is a bug or the repository is set up incorrectly, but I am not able to display all local branches on the chart.
I am also using Sourcetree where this problem does not occur.

As already mentioned, I have two local branches:
- main
- dev

The 'dev' branch only exists locally and the last commit is dated May 6, 2021. The 'main' branch, on the other hand, is c

[2021-09-28 08:32] mhutchie commented on #571
Hi @mehlian,

If you're working in a repository where you want to see a large number of commits (due to the separation of the branches), I'd recommend adjusting the [`git-graph.repository.commits.initialLoad`](https://docs.mhutchie.com/vscode-git-graph/general/extension-settings#commits-initial-load) to load more commits when the Git Graph View is first loaded. This will reduce or eliminate the ne

[2021-09-28 09:14] mehlian commented on #571
@mhutchie
Increasing the number of visible commits using the 'git-graph.repository.commits.initialLoad' option did not help. The last commit is the same as when using auto-load feature (all commits are visible from start).

Output from 'Git Graph':
[code]

[2021-09-28 09:25] mhutchie commented on #571
@mehlian,

Thanks for providing that information. That test rules out an issue with the auto-load / load more commits functionality, as the last commit is the same.

Please run the Git command `git -c log.showSignature=false --no-pager log --max-count=10001 --oneline --date-order --branches --tags --remotes HEAD --` in a terminal. It will output a list of commits in the same order as the commits d

[2021-09-28 09:53] mehlian commented on #571
@mhutchie

No. The last commit in terminal is the first commit for this repo - 'initial commit'.

When I switch to the 'dev' branch and scroll to the very bottom, I can see that the last commit coincides with the one from the terminal.

Based on this image:
https://user-images.githubusercontent.com/31826615/135038027-60eabb57-c964-4661-8264-08ba4d023995.png
where local 'main' branch is selected, i

[2021-09-28 10:31] mhutchie commented on #571
@mehlian

There is definitely no maximum limit to the number of commits. (many users work in extremely large repositories)

The only possible way for this to be a bug in the extension is if Git Graph is unable to parse the output of the underlying Git command used to fetch the commit data. If a parsing error occurs, it will stop at the last commit that could successfully be parsed (i.e. the last c

[2021-09-28 11:00] mehlian commented on #571
@mhutchie
last commit visible in Git Graph:

xxxxxxxxxxx - xxxxxxxxx xxxxxxxx xx xx xxxxxx xxxx xx xxxxx xxxxxxx

next commit

[2021-09-28 11:24] mhutchie commented on #571
@mehlian,

The format string I provided can be translated from `%H | %P | %aN | %an | %aE | %ae | %s` to:
* `%H` = Commit Hash
* `%P` = Parent Hash(es)
* `%aN` = Author Name (respecting mail map)
* `%an` = Raw Author Name
* `%aE` = Author Email (respecting mail map)
* `%ae` = Raw Author Email
* `%s` = Commit Subject

Was the subject (after the last `|`) split across two lines? The Git format argum

[2021-09-28 11:38] mehlian commented on #571
@mhutchie

Yes, its 'CR''LF' (0xD 0xA).

I would like to skip this step.

[2021-09-28 12:24] mhutchie commented on #571
I think the Git output / terminal is doing some conversion making it hard to see what the underlying root cause is, because this is just not possible according to the Git implementation (I've reviewed Git's source code to be sure).

---

Based on the information provided, there does appear to be some character in the subject of commit `abeb7ed8` that is causing the Git output of the commit to be s

[2021-09-28 12:24] #571 closed, assigned to mhutchie

[2021-09-28 12:30] mehlian commented on #571
Thanks for your time.
Since I already know where the cause of this problem may be, when I find time, I will try to reproduce the problem on a test repo.

[2021-09-29 17:37] mehlian commented on #571
@mhutchie
Here's the link to repository with corrupted message:
https://github.com/mehlian/test/tree/dev

Run this command in terminal after checking 'dev' branch to see all commits including last one that contains invalid character
`git log`

[2021-09-30 02:01] JonatasAmaral opened #572 "[Allow to] move Git Graph to Side|Activity bar and/or panel"
Move, or even better, allow the user to move the GitGraph editor to (and out from) the sidebar, and why not, the bottom panel, like some editors can do, those created by extensions included (ex: GitLens, Todo Tree)

The best example of this behavior is the (v1.59+) built-in terminal, that can be moved across sidebar, activity bar, bottom panel **and** (in a different way) to the editor area too.

[2021-10-04 15:09] rbalet opened #574 "Add the capability of force pushing tags"
**Describe the Bug**
When pushing a new tag, if it does already exists and we click on `Replace the existing tag`, this isn't working

**Steps to Reproduce**
Steps to reproduce the behaviour:
1. Create a new tag with the same name of one already existing
2. Click on `Yes, replace the existing tag`

**Expected Behaviour**
Removing the older tag and replace it with the new one

**Environment**
 - Gi

[2021-10-05 16:37] aidedinertial opened #575 "Break "Uncommitted Changes" into "Working Tree" and "Staged Changes""
**Describe the improvement that you'd like**

I want to see the difference between the working tree and the commit index directly from Git Graph.

Current workaround is to use the Source Control pane to view staged changes.

**Additional context (optional)**

![image](https://user-images.githubusercontent.com/51137853/136062525-a0f2c77e-922e-4887-b203-bbce96262479.png)

The current view for "Uncom

[2021-10-05 18:03] bminerd commented on #575
+1

[2021-10-06 17:18] sax opened #576 "Ability to select branch(es) using commands"
**Describe the improvement that you'd like**

It would be nice to be able to select branches using keyboard commands.

**Additional context (optional)**

My team does a daily diff of multiple repos, using this extension. One bit of hassle is that some of the repos use a lot of branching, but we only want to see `main`. So every time we open git graph, the first thing we do is use the mouse to clic

[2021-10-07 09:43] thekingofcity commented on #61
Looks like `code-server` couldn't fix this either cdr/code-server#817. 😫

[2021-10-07 10:59] mhutchie commented on #574
Hi @rbalet,

When a tag already exists on a remote and a user attempts to override it with an "updated" tag, the underlying `git push` command must use the `--force` argument. In the scenario you describe, the extension isn't providing the `--force` argument as Git Graph doesn't currently support force pushing tags (even the "Push Tag" dialog doesn't have that capability).

When the "Yes, replace

[2021-10-07 11:16] mhutchie commented on #569
@rbalet,

The "eye" symbol is used to indicate the last viewed / selected file.

In contrast, the bold / unbold emphasis is used to indicate whether each file has been reviewed or not, and takes affect as soon as the user performs the action. (this current behaviour was chosen to be consistent with various other tools)

The Code Review capability has been available for just over two years, and no

[2021-10-07 11:19] mhutchie commented on #572
Duplicate of #438. Please read [my previous response](https://github.com/mhutchie/vscode-git-graph/issues/438#issuecomment-745803679) for more information.

[2021-10-07 11:19] #572 closed, assigned to mhutchie

[2021-10-07 11:27] rbalet commented on #574
Hi @mhutchie perfect, thx for the detailed explanation and I do think you make a point here.

I'm also not sur the is from any standard to replace an existing tag to the newly created one, but I'm trying it and I find it to be cleaner (if you use a tag for testing a new branch, for example, it will be nice to see directly where your latest "test" tag is, so you know the status of your testing envi

[2021-10-08 07:40] ankostis commented on #431
(a big thank you for your efforts for this extension)
I cannot open a new VSCode window for the same folder - pressing `[Ctrl + N]` opens the new window but when i select the same folder, i get switched to the existing window.  I even tried in CLI to run the command `code --new-window some/folder` but still switched to the existing window.

So in all, i cannot workaround this feature-request with

[2021-10-08 14:05] johan13 opened #577 ""Failed to register a ServiceWorker" on VSCode 1.61.0"
**Describe the Bug**
After upgrading to VSCode 1.61.0, git-graph no longer works. I get a blank tab and a error pop-up in the lower right corner saying:
[code]

**Steps to Reproduce**
Open any project with a git repo and click "Git Graph" in the status bar or the "View Git Graph" button in the Source Control sidebar.

**Expected Behaviour**
The git-graph UI should appear.

**Environment**
 - Git G

[2021-10-08 14:09] mhutchie commented on #577
Duplicate of #524 - this is an ongoing Visual Studio Code bug that Microsoft haven’t been able to resolve.

[2021-10-08 14:09] #577 closed, assigned to mhutchie

[2021-10-08 19:57] aidedinertial commented on #575
@mhutchie Some additional context:

I typically stage only parts of a file at a time. Using Git Graph "Uncommitted Changes" to open the diff is great, but the diff does not update as I stage selected ranges. This is because the diff is against HEAD, not the commit index.

I find myself needing to use other tools (e.g., lazygit) to make commits with partial file staging. It would be incredibly help

[2021-10-11 12:16] Satheeshkumar-Duraisamy opened #578 "Folders from workspace is not added automatically in Git-Graph view"
All the git repositories are configured as folders in a workspace and saved as xyz.code-workspace file as follows
[code]

When Git-Graph view is opened, the **Repo** dropdown is not available to select the desired git repository

I have added all the git repositories manually using **Git-Graph: Add Git Repository...** command

Can't be add all the folders form workspace folders into Git-Graph Repo

[2021-10-11 12:31] mhutchie commented on #578
Hi @Satheeshkumar-Duraisamy,

Once you've added the Git repositories to a saved workspace, Git Graph will remember them across Visual Studio Code sessions for that workspace.

The extension setting [`git-graph.maxDepthOfRepoSearch`](https://docs.mhutchie.com/vscode-git-graph/general/extension-settings#max-depth-of-repo-search) can be used to configure the maximum depth of subfolders to search when

[2021-10-11 12:31] #578 closed, assigned to mhutchie

[2021-10-11 14:11] Satheeshkumar-Duraisamy commented on #578
@mhutchie

thanks for the quick reply. I need this information to be persisted and available across the users who uses this workspace file. Is there a way to achieve this?

[2021-10-11 21:59] mhutchie commented on #578
@Satheeshkumar-Duraisamy,

The repositories are persisted per workspace, so once a user has set them up, they will be remembered.

It’s not possible at the current time for the repositories to be defined for a workspace in a config file (for a number of reasons).

[2021-10-13 07:44] gurumaxi opened #579 "New Commit Details View: Location Option"
Is it possible to add a third option "Docked to right", and show this detail bottom panel as a side panel? The left part with the commit details can be located on the top, while the right section with all changed files in this commit can be located below. I would like to have this additionall third option, as I always have opened the terminal in VS Code and the vertical space is very limited if th

[2021-10-15 08:03] Yuyan-Li commented on #395
Hello, I didn't want to open a new issue thus commenting here.

Resetting my current local branch on the remote is something I do very frequently. As this is not directly possible my work around is right-clicking the commit instead of the branch and then do the reset.

Could you explain this a little more? As I see it, a remote branch is no different to a local branch. This is even more clear as y

[2021-10-16 10:36] altxt commented on #387
Depending on where you want Git Graph to go UI-wise, this may justify a separate view. [TortoiseGit](https://tortoisegit.org/docs/tortoisegit/tgit-dug-revgraph.html), for example, uses a graph-like view for visualizing and navigating numerous branches.

![Revision Graph](https://tortoisegit.org/docs/tortoisegit/images/RevisionGraph.png)

[2021-10-21 13:44] bjornarhagen commented on #291
I had the same problem with v1.30.0. Uninstalling and reinstalling did not work. I had to delete the folder to fix it

[2021-10-26 05:32] mattiasthalen opened #581 "Visual Studio Code 1.61.2 Webview Bug / Installation Issue"
**Describe the Bug**
Git Graph is blank after applying the latest update to vs code.

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Source Control'
2. Click on 'View Git Graph (git log)'
3. See error

**Expected Behavior**
A visualization of the git log

**Environment**
 - Git Graph Extension Version: [1.30.0]
 - Visual Studio Code Version: [1.61.2]
 - Operating System: [Window

[2021-10-26 09:43] mhutchie commented on #581
Hi @mattiasthalen,

Do you get any Visual Studio Code error messages (bottom right of your window) when you open the Git Graph View? If so, please provide it. It may be one of a few [Visual Studio Code Webview](https://code.visualstudio.com/api/extension-guides/webview) bugs that are currently affecting all extensions that use them (e.g. #524) - Git Graph is just one of many affected extensions.

[2021-10-26 12:57] mattiasthalen commented on #581
Hi @mhutchie,

Thanks for taking the time.
I have no error shown in the bottom right and the command `Developer: Open Webview Developer Tools` does nothing.

Edit:
Ok, just had a reboot again, and all of a sudden it works... go figure :)

[2021-10-26 14:20] michaelslavev opened #582 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `git-graph`
- Extension Version: `1.30.0`
- OS Version: `Windows_NT x64 10.0.19042`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
[mhutchie.git-graph-unresponsive.cpuprofile.txt](https://github.com/mhutchie/vscode-git-graph/files/7418883/mhutchie.git-graph-unresponsive.cpuprofile.txt)

Find more de

[2021-10-26 22:35] mhutchie commented on #582
Hi @michaelslavev,

I've reviewed the CPU Profile you attached, and have identified that the cause of this load was due to a Git command that took 8 seconds to run. The specific Git command is normally very quick, so based on the provided information I'll classify this as a one-off occurrence caused by Git (not the extension).

[2021-10-26 22:35] #582 closed, assigned to nobody

[2021-10-27 08:21] Baccanno opened #583 "Git Graph creates index.lock files conflicting with embedded VSC terminal git commands"
**Describe the Bug**
Most of operations needing a lock are having issues when done in the terminal while git graph window is open.
It's consistent, I need to manually close git graph window in order to make these operation work, or try them multiple time to force them to complete.
[code]

**Steps to Reproduce**
1. Open a terminal and git graph on same repo with VSC
2. Try rebase / cherry-pick, etc

[2021-10-27 09:38] mhutchie commented on #583
Hi @Baccanno,

This locking behaviour was brought to my attention by a user once before. It seemed to occur when the extension was doing an automatic refresh of the Git Graph View, while an independently run Git command was in the middle of making heaps of changes to files in the repository. It also seems to only occur under a very specific set system conditions & use cases, as you're only the sec

[2021-10-27 09:38] #583 closed, assigned to mhutchie

[2021-10-27 09:42] mhutchie commented on #581
Hi @mattiasthalen,

In the past when these sort of issues occur after a Visual Studio Code update, restarting it or their computer usually sorts it out. (hardly a satisfying answer though)

I'll close this for now as it seems to have been a one-off that is no longer affecting you.

[2021-10-27 09:42] #581 closed, assigned to mhutchie

[2021-10-27 11:40] Baccanno commented on #583
@mhutchie Thanks for your time though. Indeed pretty strange that is only occured this couple of times. I'll try moving things around and it will maybe go away.

The option is maybe to use an external cli tool that would not let the focus VSC and so avoid refreshes.
Is there any option to disable auto refresh though and only use the shortcut for it ?

[2021-10-27 11:49] Baccanno commented on #583
I've looked into https://github.com/mhutchie/vscode-git-graph/issues/17 and associated PR. It looks like there is no optional refresh. Am I wrong ?

https://github.com/mhutchie/vscode-git-graph/commit/226a75cc4fd333585e6630ca39c7280b3fd74145#diff-bcb94b4b02c2679f4a3fb80421eef7bf1b9ebd5fccf5378e4938b9f389b0b5d4R56

Well it looks like the timer is hard coded. Should it be null I could deactivate it.

[2021-10-29 14:17] GKoukounis opened #584 "Create A Checkout branch from the graph"
**Trying to checkout a branch from the graph  - description but is not creating it **
Hello , i was trying to checkout a branch from the graph but initially it was not getting me the checked out branched
and i was wondering if it is possible to make it happen

**Steps to Reproduce**
Steps to reproduce the behavior:
1. Go to 'Git Graph'
2. Click on 'Any committed branch you want to check out'
3. Th